[2022-05-24 15:42] #71 closed

[2022-05-24 16:00] #77 closed

[2022-05-24 19:08] carolzbnbr opened #425 "[Proposal] OnScreenSize Markup"
# OnScreenSize Markup

* [x] Proposed
* [x] Prototype: [Repo](https://github.com/carolzbnbr/OnScreenSizeMarkup) and [nuget](https://www.nuget.org/packages/OnScreenSizeMarkup.Forms)
* [x] Implementation: Works for Xamarin, I will port to Maui.
  * [x] iOS Support
  * [x] Android Support
  * [ ] macOS Support
  * [ ] Windows Support
* [ ] Unit Tests: Not Started
* [ ] Sample: Not Started
* [x] Docum

[2022-05-24 20:25] bijington commented on #425
I would like to explore the C# Usage option a little, in theory anything that we can build in XAML we can do in C#. The MarkupExtension might not how we build the C# UI but it would be nice to work out how it would be done in C#. I am not at my machine right now but I would be happy to take a look at some possible suggestions if that helps?

Another option I would like to check and I have to admit

[2022-05-24 20:50] carolzbnbr commented on #425
Shaun,

About your concern regarding the code-behind, I know that there are some static methods on class `Device` that people uses when attempting to return markup values, such as `OnPlatform` (Device.OnPlatform), `OnIdiom` (Device.OnIdiom), etc, but I don't know exactly how it is implemented, and they `IServiceProvider ` for it. I need to take a look on xamarin source code, Maui it's probably the

[2022-05-24 21:40] carolzbnbr commented on #425
Ok, I just implemented a static class (`Markup`) which behaves just like `Device.OnPlatform` (which I know it is obsolete on Xamarin, but on Xamarin it was replaced by RuntimePlatform which is a totally different thing), and also guarantees type safety.

Here is the code for c#

[code]

Tell me what you think.

[2022-05-25 07:51] Giuseppetm commented on #388
@pictos Hello, I have encountered some quite significant problems that I would like to show you.

1) Indicating a text that is too long does not wrap automatically and overrides the width of the popup, completely breaking the visualization (this did not happen in 1.0.0-rc3);

![image](https://user-images.githubusercontent.com/52317197/170208971-fb197453-2906-4796-a743-a0774d94d76e.png)

2) Switchi

[2022-05-25 14:33] sam-wheat opened #427 "[Bug] Error XFC0000 `Cannot resolve type "http://schemas.microsoft.com/dotnet/2022/maui/toolkit:toolkit:EventToCommandBehavior`"
Was receiving same error with last RC so I updated to 1.0.0 to try to resolve it but no luck.

Thanks

Namespace declaration:

	xmlns:toolkit="http://schemas.microsoft.com/dotnet/2022/maui/toolkit"

XAML:

		<CheckBox Margin="3,0,0,0"
				  IsChecked="{Binding ViewBuilder.DisplayGrandTotals}"
				  IsVisible ="{Binding DisplayGrandTotalOption}"
				  Style="{TemplateBinding MeasureCheckBoxStyle}"

[2022-05-25 15:41] pictos commented on #427
@sam-wheat if you try to build and deploy does it work?

[2022-05-25 16:01] brminnick commented on #427
Just FYI (I don't think this is the root cause of your issue)

You do not need to call `.UseMauiCommunityToolkitCore()` when calling `UseMauiCommunityToolkit()`.

`UseMauiCommunityToolkit()` calls `UseMauiCommunityToolkitCore()` for you.

Here's how the `CreateBuilder()` code should look:

[code]

[2022-05-25 21:03] brminnick commented on #427
Is anyone able to reproduce this error?

[2022-05-25 22:49] pictos commented on #427
@brminnick it works on my machine...

@sam-wheat
Could you attach a small repro?

[2022-05-25 23:25] pictos commented on #425
@carolzbnbr, thanks again for moving this forward❣️  I took a look into your implementation and I have something that I want to highlight.

[Here](https://github.com/carolzbnbr/OnScreenSizeMarkup/blob/3f39f23e4197eb22a9bf7904023093ca1d04c54d/src/OnScreenSizeMarkup/OnScreenSizeMarkup.Core/DefaultCategoryFallbackHandler.cs#L12-L16) you cache a bunch of device models and their Screen category (Small,

[2022-05-26 00:51] carolzbnbr commented on #425
Hello @pictos,

Here are my answers regarding the  questions/issues you raised previously.

In the past, during development and tests on some iOS simulator, I had issues regarding getting the correct width/height on some devices, leading to a mismatch screen size (Width/Height) between iOS simulator devices, and actual devices (I don't remember which one, but I can try to reproduce here and tell e

[2022-05-26 01:39] sam-wheat commented on #427
This project is very early in development and will not run even if you build it.

https://github.com/leaderanalytics/LeaderPivot.XAML.MAUI

![Capture](https://user-images.githubusercontent.com/16885210/170397317-9cbb2b4f-9058-4520-8ceb-bada7ddc1842.PNG)

[2022-05-26 02:58] pictos commented on #427
@sam-wheat as pointed out by my good friend @brminnick you need to have some C# code in your project in order to our custom `xml-schema` you have it in the `MauiProgram` class inside the `LeaderPivot.XAML.MAUI.Host` project. But you don't have it in the `LeaderPivot.XAML.MAUI` project.

To solve the issue, you need to call some API from `CommunityToolkit.MAUI` in C# or not use the custom `xml-sche

[2022-05-26 07:30] angelru commented on #6
@brminnick  and where will it be included? thanks

[2022-05-26 14:42] sam-wheat commented on #427
@pictos Sorry I don't completely understand your last post.

I took a stab and added `Snackbar z = new Snackbar();` to the constructor of `LeaderPivotControl` in the library project.  That didn't work so I added same to `MauiProgram.CreateMauiApp` in host project.  Still no luck.

What is the custom xml-schema?

[2022-05-26 15:07] pictos commented on #427
@sam-wheat can you push your changes? That way I can take a look and see what's going on

[2022-05-26 16:51] pictos commented on #427
@sam-wheat I'll take a look later

[2022-05-26 23:51] VladislavAntonyuk commented on #6
@brminnick I see it may be useful. We can discuss it at the Monthly meeting. I will prepare a small demo.

[2022-05-27 09:33] ViktorArbuzov opened #428 "[Bug] iOS Popup size and position"
Hello, when I'm creating default popup the position and sizing on iOS doesn't correspond to the Android and code.
### Description

When creating default popup by the guidance: https://docs.microsoft.com/en-us/dotnet/communitytoolkit/maui/views/popup
Facing an issue - the size of the popup is not depended on the content, and the position is not centered.

I think this is can be related to the MAUI

[2022-05-27 11:01] XamerDev commented on #121
Hello TabView and LazyView are crazy needed especially for the people who are using basic navigation, and want to have fully customized tabs. Looking forward to it <3

[2022-05-27 11:16] angelru commented on #120
This is not going to be implemented like the Xamarin?

[2022-05-27 15:06] eamonn-alphin commented on #121
Since it's not going to be in the first release, I downloaded the Xamarin community toolkit sample code and isolated the TabView and lazy view parts, then refactored them to work with maui. It took about 2 work days but wasn't too hard. Its really just a Grid with a carousel view and another grid (as the tab bar). The hard part was simulating stack navigation within a "tab"

[2022-05-27 15:10] eamonn-alphin commented on #121
Here's the lazy view code:
[code]

[2022-05-27 15:15] pictos commented on #121
Extending the @bijington comment, if you want to do the migration of the `LazyView` to here, you're more than welcome <3

Here's the issue for lazy view #112

[2022-05-27 15:26] eamonn-alphin commented on #121
I'm willing to share the code I have for the sake of helping better minds than mine move tabviews along, but it still comes with whatever issues the latest Xamarin CT version has. But it runs at least.

[2022-05-27 15:42] brminnick commented on #121
Thanks @eamonn-alphin!

We would love your help writing the code! The Community Toolkit contains features for, and created by, the .NET MAUI Community. We are all volunteers, contributing code in our spare time on nights and weekends. If you'd like to contribute, you can learn more here: [https://devblogs.microsoft.com/dotnet/contributing-to-net-maui-community-toolkit/](https://devblogs.microsoft.

[2022-05-27 22:12] pictos commented on #427
@sam-wheat just tried your last sample it builds here. Please make sure that you've all the latest bits from VS and .NET MAUI
![image](https://user-images.githubusercontent.com/20712372/170795356-cdf18057-66ae-480b-90a3-a48d6cddf17b.png)

[2022-05-27 23:07] sam-wheat commented on #427
Hey Pedro I got the issue solved yesterday, should have told you sorry.  I dropped maui toolkit for now, will reconsider it when I have some time.  I will reach out if I need further assistance.  Thanks much for your help.

[2022-05-27 23:22] pictos commented on #427
@sam-wheat great! Anything that you need (;

I'll close this issue then.

[2022-05-27 23:22] #427 closed

[2022-05-27 23:35] sam-wheat commented on #427
@pictos You may want to post the root cause/fix in case someone else runs into it.

[2022-05-28 00:03] brminnick commented on #427
@pictos shared the root cause and a fix here: https://github.com/CommunityToolkit/Maui/issues/427#issuecomment-1138094787

[2022-05-28 00:10] sam-wheat commented on #427
@brminnick  That did not fix it.

[2022-05-28 00:11] pictos commented on #427
@sam-wheat that is curious, since that fixed for me and other team members wasn't able to reproduce the issue. Anyway, I added more info into the readme that is shipped with the NuGet package. Please open a new issue if you still face any issue (:

[2022-05-28 05:53] naweed commented on #428
I am facing the same issue with v.1.0.0

[2022-05-28 20:52] pictos commented on #425
@carolzbnbr sorry for the late reply, rush week on my side.

So let's focus on this first, with MAUI we have the concept of Window, maybe we can use it to define the size that we're. In my head this also solves the issue for desktop applications (where the user can change the size of the screen)

[2022-05-28 20:54] pictos commented on #425
I'm working on other issues, but let me know if you need any help. If you want/need a more _real time_ conversation, you can join our [discord server](https://discord.gg/T5jQMwVT) in the `xamarin-communitytoolkit` channel

[2022-05-28 21:01] bijington commented on #425
Sorry I do also intend on responding on the bits of our discussion but I haven't found time to properly read through it and come up with a response yet. Hopefully in the next few days I will

[2022-05-28 23:52] fireking220 commented on #428
I too has this same issue with Microsoft Visual Studio Professional 2022 (64-bit) - Preview Version 17.3.0 Preview 1.1 with iOS 14.5, 15.5

[2022-05-30 19:27] carolzbnbr commented on #425
Sorry, but I didn't understand what you have in mind.

Is this proposal approved?

Are we ready to start implementing it's MAUI version, or not?

Also, As I told you, I can't think on a different approach on how to implement that categorization without having the screen-sizes (window-size) either `"cached"` in a dictionary or directly hard-coded on method. Do you have another idea on how to implem

[2022-05-30 20:37] pictos commented on #425
Hey, @carolzbnbr I'm doing fine, how about you?

Oh, I'm sorry for the confusion. So this proposal isn't approved yet, we need to vote on it first. But before voting, I would like to have something on the path to discuss with the other members and the community.

About the screen sizes, you mentioned that you moved to the Dictionary approach due to issues on the iOS simulator, maybe on MAUI these

[2022-05-31 07:02] DarkSlayerzOne opened #431 "[Bug] Generating ICommand is producing name conflict in View Models"
### Description

Generating an ICommand from a function will create a cs file with the same name as my ViewModel it conflicts to my existing ViewModel.

### Stack Trace

Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0101	The namespace 'DogApp.ViewModels' already contains a definition for 'DogsViewModel'	DogApp (net6.0-android)	C:\repo\CSharp\Maui-Dog-App\maui-app\DogApp\Dog

[2022-05-31 08:17] bijington commented on #425
I do like the look of that C# example but as you have pointed out I am not sure what could be done in XAML.

Also have you pointed out the OnPlatform extension and actually other MarkupExtensions are not type safe. It's a shame if we can't achieve type safety but it wouldn't be the end of the world.

[2022-05-31 12:25] sturlath commented on #113
Please also consider DRM (with/without token) ans AES token encryption for streaming.

[2022-05-31 13:08] jabak commented on #113
I agree. I would consider this to be part of basic audio playback.

Playing/looping audio from a memstream (c# memstream etc.), an url (https) or a file (beep.wav - beep.mp3) including DRM content is what is needed for common cross platform apps.

[2022-05-31 16:04] jabak commented on #113
You mean what libs etc. on the various platforms that could be used to support this?

[2022-05-31 16:16] bijington commented on #113
Well anything that may assist at the implementation stage. I suspect DRM support might not be straightforward (although that is an assumption).

We are going to be limited to what the platforms provide, we try our best to not bring in any external dependencies. Of course if it was essential perhaps the Media part of the toolkit could become its own package.

[2022-05-31 17:02] jabak commented on #113
I think DRM support would be a challenge without taking external dependencies.

Also I think audio playback at a very basic level is essential. Accessibility comes into mind first and foremost. So being able to play simple sounds from memory streams (wav format etc.) and small audio files is a must.

Url-based streams and DRM is next level in my opinion.  But still basic audio playback nevertheles

[2022-05-31 17:20] HausBJB commented on #78
Hello, may I ask the status of the development? this feature is very useful

[2022-05-31 17:28] pictos commented on #78
@HausBJB there's no work started on this one. But is planned to be on v1.1.0

[2022-05-31 20:52] mmendoza-apa commented on #86
Any updates on this?

Really looking forward to use the LongPress behavior!

[2022-05-31 21:53] pictos commented on #86
Hey, @mmendoza-apa this is planned to land on v1.1.0

[2022-06-01 00:39] pictos opened #432 "[Bug] MacCatalyst SelectAllTextBehavior on Editor"
On MacCatalyst apps, when you focus on the (Maui)`Editor` control, the text doesn't show selected. It selects all the text as we want, but right after the system put the cursor in the place that the user did the click, more info in this issue

- https://github.com/xamarin/xamarin-macios/issues/15156

The plan is to discover a way to work around this behavior or find the _correct way_.

[2022-06-01 07:23] HausBJB commented on #78
I have one more question, will this only be available for android? since it also works for iOS if we use the example

  <Setter Property="Shell.TabBarForegroundColor" Value="Red" />

or how does it work?

[2022-06-01 08:58] Giuseppetm commented on #388
@pictos Hello, any update?

[2022-06-01 12:17] bijington commented on #113
No need to apologise, it is discussions like this that help us on the journey to finding a more complete solution. Thanks for the links

[2022-06-01 15:51] pictos commented on #388
@Giuseppetm the fix for this ticket isn't in the stable package. If you are running the code from our main branch, then open a new issue please

[2022-06-01 16:28] HausBJB commented on #78
Hello, my question was if this will also be available for iOS?

since only Android is selected above

![image](https://user-images.githubusercontent.com/53478848/171453861-53ff1b09-e4c8-49ac-b3d8-8e455011ab1d.png)
Thanks

[2022-06-01 17:26] carolzbnbr commented on #425
Hi @bijington, hope you are doing great!

That class is meant to be used on a code-behind only.
On Xaml, people will use the OnScreenSize (which implements `IMarkupExtension`) Markup. Check the `sample usage` for XAML samples.

Yeap, thats a shame! `OnPlatform` is not type safe, but i know there is the `IMarkupExtension<T>` interface (which is by the way not used my `OnPlarform` which may help us.

[2022-06-02 15:09] sanjanapatel2409Unthinkable opened #435 "Getting Error In installing the CommunityToolKit.Maui package[Bug]"
Hello, and thanks for your interest in contributing to the .NET MAUI Toolkit!

Please describe the issue below, including detailed steps for reproduction. If we are unable to reproduce the bug we will be unable to fix the issue and may close this Issue.

I just created a new project .net Maui and trying to install the CommunityTollKit.Maui Nuget package But I am unable to install the package.

_Re

[2022-06-02 15:15] brminnick commented on #435
Hi @sanjanapatel2409Unthinkable! Please add a reproduction sample app so that we can reproduce the error.

[2022-06-02 15:20] bijington commented on #435
@sanjanapatel2409Unthinkable Your error message indicates you have an older version of the .NET MAUI workload installed.

Can you try running the following from a command prompt/terminal session

`dotnet workload install maui`

[2022-06-02 15:26] VladislavAntonyuk commented on #435
Or even better use Visual Studio Installer and update to the latest preview version. It should automatically update the old .NET MAUI workloads

[2022-06-02 18:31] bijington commented on #425
@carolzbnbr I am good and I hope the same is true with yourself!

I like the idea of making things type safe where we can live you have suggested with the C# side. Sorry I missed that this would be C# only. I guess this `IMarkupExtension<T>` implementation for C# could use the underlying `IMarkupExtension` implementation for XAML to aid with code reuse. Do you think this should be possible?

[2022-06-02 19:29] brminnick commented on #425
Discussion from June Standup: https://www.youtube.com/watch?v=t3g_NrQfE8g

- How do we set default values? Should we have different defaults for Mobile vs Desktop?
- Are the values overridable?
- Can we include `BindableProperty` that updates when the screen size changes?
  - For example, on Android splitscreen or Windows desktop window sizing

[2022-06-02 20:09] brminnick commented on #93
Reopening based on our discussion during the June Standup:  https://www.youtube.com/watch?v=t3g_NrQfE8g

[2022-06-03 00:00] VladislavAntonyuk commented on #425
I propose to name it OnWindowsSize.
1. Because .NET MAUI supports windows
2. Because we layout components in Application, not in Screen. On phones, it makes sense because you cannot (almost) resize the app.

As for default values I propose such options: https://mudblazor.com/features/breakpoints#breakpoints

[2022-06-03 02:45] pictos commented on #124
Closing this one, since the API is on MAUI we already started the migration

[2022-06-03 02:46] #124 closed

[2022-06-03 08:42] IeuanWalker commented on #425
Not sure if its worth considering TV sizes too.

 I.e. you may want to display things differently on a 55" tv compared to a 32" tv

[2022-06-03 09:07] carolzbnbr commented on #425
Hi @VladislavAntonyuk thanks for the info.

This approach has some flawbacks

1 - It is pixel-based, instead of "dp" (or "dip", Density-independent Pixels as used on Android), that could lead to issues like [this](https://blog.mindorks.com/understanding-density-independent-pixel-sp-dp-dip-in-android). I know, i'm talking about "dp" which is not used on iPhone, but we handle it using the same algor

[2022-06-03 09:13] carolzbnbr commented on #425
Hello @brminnick,

We can change that, but my current implementation relies on a class that can be inherited to override how the categorization of screens are done. Please take a look [here](https://github.com/carolzbnbr/OnScreenSizeMarkup#the-magic).

It is just like a regular Markup, so it is already works on Bindable Properties.

[2022-06-03 09:50] carolzbnbr commented on #425
Hi @bijington,

No problem at all. :D

I'm almost sure of that.
My only concern regarding that is wether the user (Maui Community toolkit users who uses it) would need to explicitly declare a type (of a bindable property it is using the markup) in Xaml in the same way we need to do when using `ArrayExtension`. I would like to have something that could auto-infere the type. But I need to think bett

[2022-06-03 10:13] developer9969 commented on #425
Just to say that this would be a fantastic addition - In the real world we have to support multiple device sizes - This is a real pane !!!
We usually test on iPhone SE 1st generation  vs the iPhone max pro and similar for android, this would solve so much crappy code we had to write to handle both in a very clean fashion. If does not cover all scenarios you can think of, that is absolutely fine ,

[2022-06-03 19:00] IeuanWalker commented on #120
@bijington i dont mind looking at implementing this, is the implementation pretty much the same as whats in the xamarin toolkit?

[2022-06-03 19:10] bijington commented on #120
@IeuanWalker you are a star! If you are up for the challenge that would be fantastic!

I believe the implementation would be similar but of course feel free to investigate whether there are better ways of achieving this either from the old approach or if .NET MAUI offers alternative ways of doing things. I usually like to start by looking at [the open issues on the XCT](https://github.com/xamarin/

[2022-06-03 19:12] IeuanWalker commented on #120
@bijington great, thanks.

Will take a look into it soon.

[2022-06-03 20:25] IeuanWalker commented on #120
@bijington where should the code be placed, `Maui` project or `Maui.Core`?

[2022-06-03 21:27] pictos commented on #120
@IeuanWalker, if you need to use anything from the namespace `Maui.Controls` it should be on `Maui` project. I would say, since this is a Layout, you can implement it inside the `Maui` project

[2022-06-03 21:29] pictos commented on #120
Also, be aware that we don't use anything from the `Compatibility` layer.

[2022-06-03 22:57] IeuanWalker commented on #120
@pictos no prob, im getting this error, only suggestion in VS is to add `using Microsoft.Maui.Controls.Compatibility;`

Do you know what i could change it too?

![image](https://user-images.githubusercontent.com/6544051/171964543-b5b71f13-375b-4e2b-b003-57d3e5006c06.png)

[2022-06-03 23:10] pictos commented on #120
So, the layout system has changed on MAUI, you need to look and see what `Layout<View>` become. I think is no more generic layouts on MAUI. Maybe `ILayout`?

[2022-06-04 05:33] VladislavAntonyuk commented on #120
You can see UniformLayout as example.

[2022-06-04 10:31] bijington commented on #120
@IeuanWalker sorry from reading the comments it looks like I was wrong to suggest that the implementation wouldn't be too different from XCT. Thanks @pictos and @VladislavAntonyuk for helping out there.

[2022-06-05 15:19] gironymo opened #438 "[Bug] PopupHandler is incompatible"
### Description
Showing a popup based on XAML leads to the error

`CommunityToolkit.Maui.Core.Handlers.PopupHandler found for TestApp.ProfilePopup is incompatible`

### Steps to Reproduce

1. Create a new MAUI Application
2. Install CommunityToolkit
3. Create a Popup-XAML
4. Change the `OnCounterClicked` in `Mainpage` to show popup using `this.ShowPopup(popup)`

XAML:

[code]

OnCounterClicked:

[

[2022-06-05 18:45] pictos commented on #438
@gironymo
Could you attach a small repro?

[2022-06-06 03:41] ToolmakerSteve commented on #438
Close this. It isn't a bug. I explain what was done wrong in [my StackOverflow answer](https://stackoverflow.com/a/72510771/199364).

[2022-06-06 05:47] bijington commented on #438
Thanks @ToolmakerSteve

[2022-06-06 05:47] #438 closed

[2022-06-06 06:47] gironymo commented on #438
Thank you very much! I'm missing this information in the documentation on the Microsoft page https://docs.microsoft.com/en-us/dotnet/communitytoolkit/maui/views/popup which I used as template.

[2022-06-06 07:31] bijington commented on #438
@gironymo thanks for this feedback, we have assumed some initial knowledge around XAML files with our documentation specifically around this page: https://docs.microsoft.com/en-gb/dotnet/maui/xaml/fundamentals/get-started#anatomy-of-a-xaml-file

I appreciate that even the linked page doesn't give a good insight to developers new to XAML

[2022-06-06 09:33] Giuseppetm opened #439 "[Bug] Popup text width problems"
### Description
There are some problems with the popup, in this case related to texts rendered inside it.
If you use a text that is long enough it does not wrap automatically and overrides the width of the popup, completely breaking the visualization.

### Reproduction Sample
[PopupTest.zip](https://github.com/CommunityToolkit/Maui/files/8843343/PopupTest.zip)

### Steps to Reproduce

1. Remove th

[2022-06-06 09:37] Giuseppetm opened #440 "[Bug] Dynamic content doesn't change popup size / height"
### Description
Switching the content of the popup through a property that replaces the current content doesn't change the height / size of the popup.

### Reproduction Sample
[PopupTest.zip](https://github.com/CommunityToolkit/Maui/files/8843382/PopupTest.zip)

### Steps to Reproduce

1. Press the button "Press me" to change the content of the popup.

### Expected Behavior
The size / height of th

[2022-06-06 15:50] IeuanWalker commented on #120
@bijington ahh no prob

[2022-06-06 20:54] VladislavAntonyuk commented on #93
Why I suggest to keep it in MCT?
1. It works great with TranslateExtension, which depends on MAUI. So if we decide to add TranslateExtension we will need to depend on Community Toolkit dotnet.
2. Based on the first point. Splitting Localization classes on different packages maybe not a great customer experience
3. Minor but it will be easier for XCT users migrate to MCT
4. As for me localization r

[2022-06-06 20:55] bijington commented on #93
I agree that we should probably offer all or nothing rather than take on a dependency. I am trying to think on whether there could be a compromise but nothing is coming to mind

[2022-06-06 21:00] VladislavAntonyuk commented on #93
I wrote an article demonstrating the benefit of releasing LocalizationResourceManager and TranslateExtension together: https://vladislavantonyuk.azurewebsites.net/articles/Localize-.NET-MAUI-application

[2022-06-06 22:27] pictos commented on #93
For me, we should implement this in a more `Core` lib. in other to add value across other .NET UI frameworks (and maybe in non UI frameworks as well). I'll express that by commenting on the points that @VladislavAntonyuk mentioned.

So from 1 and 2

Now that CommunityToolkits are all in the same org, we should start thinking about ways to add features to all of them. Like the `CommunityToolkit.Mau

[2022-06-07 11:18] KafkaWannaFly opened #442 "[Bug] UriValidationBehavior didn't change style of Border"
### Description

I try using this behaviour to update the style of a Border based on the validation result of an Entry. The validation result is updated correctly as the user types but the Border's style is not updated

### Stack Trace

No Stack Trace

### Link to Reproduction Sample

Check out this branch: https://github.com/KafkaWannaFly/WibuTube/tree/UriValidationBehavior-Bug-Reproduction at `M

[2022-06-07 12:29] AswinPG commented on #121
I would like to implement this by porting the old TabView with some upgrades but first I need this issue to be fixed - https://github.com/dotnet/maui/issues/6412

[2022-06-07 12:33] bijington commented on #442
@KafkaWannaFly thank you for the bug report. The link to your reproduction sample is giving me a 404, is it a private repository?

[2022-06-07 13:32] VladislavAntonyuk commented on #442
Could you also try on Android or iOS. There may be an issue with Fluent Windows style

[2022-06-07 14:41] brminnick commented on #121
@ChaplinMarchais What is the status of your progress? Would you like to continue working on TabView, or would you prefer to hand off the work to another developer?

[2022-06-07 15:10] brminnick commented on #93
Because this Proposal is not specific to .NET MAUI, my vote is to implement this feature in the CommunityToolkit/dotnet repo so that additional devs can benefit from it.

Hey @sergio0694! Do agree that this feature is best scoped for `CommunityToolkit.Common`?

[2022-06-09 19:33] egvijayanand opened #446 "[Bug] In the Windows platform, Popup gets dismissed automatically when the context is switched to a different Window and returned"
### Description

In the Windows platform, Popup gets dismissed automatically when the context is switched to a different Window and returned

### Stack Trace

### Link to Reproduction Sample

### Steps to Reproduce

1. Add a Popup control in the new or existing .NET MAUI App
2. Add an option to invoke the Popup
3. Set Windows as the Target platform, build and run the app
4. Invoke the popup and sw

[2022-06-09 19:37] pictos commented on #446
This isn't a bug. This is how `Flyout` (The platform code that we use) works on Windows. We'll look at another control and see if that fits better with our usage.

So closing this issue.

[2022-06-09 19:37] #446 closed

[2022-06-09 19:41] egvijayanand commented on #446
Then how come the DisplayAlert stays in the foreground even after the context switch?

[2022-06-09 19:53] VladislavAntonyuk commented on #446
That is a different platform control

[2022-06-09 19:55] egvijayanand commented on #446
It would be highly expected that if the light dismissal is set to False, the Popup control should remain active until dismissed. **Could not even debug it.**

[2022-06-09 19:56] egvijayanand opened #447 "[Bug] Rounded corners not working with the .NET MAUI GA release and its compatible v1.0.0 release of CommunityToolkit.Maui package"
### Description

Rounded corners not working with the .NET MAUI GA release and its compatible v1.0.0 release of CommunityToolkit.Maui package.

The same code worked fine in the earlier version providing a rounded corner effect for the Popup.

### Stack Trace

### Link to Reproduction Sample

### Steps to Reproduce

1. Add a Popup in the new or existing .NET MAUI App
2. Refer to the below code for

[2022-06-09 20:01] bijington commented on #446
I think this topic is certainly something that we should continue to discuss. I understand that with the current implementation of using a `Flyout` that there isn't any issue with how we are using that control. I do agree with @egvijayanand that a `Popup` should not auto dismiss itself in the manner that we are talking. If I present a `Popup` I expect it to only be dismissed by the user clicking o

[2022-06-09 20:03] egvijayanand commented on #446
Reflects my concern. When the developer itself is unable to debug it, how can I give this code for testing?

[2022-06-09 20:06] bijington commented on #446
@egvijayanand that is entirely valid. I guess we have expectations under similar use cases, there could of course be other use cases for why we have this behaviour in Windows so I would like to make sure that we don't lose that during the discussion. Perhaps we even want to push it out to the other platforms.

[2022-06-09 20:10] egvijayanand commented on #446
I mean to say that this is not a nice-to-have feature but rather a must-have feature for the toolkit's adoption. Should be discussed to find some way(s) to address this.

[2022-06-09 20:15] VladislavAntonyuk commented on #446
anyway it's a duplicate of https://github.com/CommunityToolkit/Maui/issues/371

[2022-06-09 20:18] egvijayanand commented on #446
My search keywords need to be more effective :-(

[2022-06-09 20:20] bijington commented on #446
I really wish GitHub would show similar issues when opening a new issue to help here.

[2022-06-09 20:23] egvijayanand commented on #446
Nice idea, similar to how Windows and VS feedback does. Shows a list that matches the context while typing the issue title. Feedback for GitHub.

[2022-06-09 20:43] pictos commented on #447
@egvijayanand just to make sure... The rounded corners isn't working with anything on .NET MAUI or it's not working on Popups?

[2022-06-09 20:43] bijington commented on #446
I just searched GitHub for any submissions before submitting a feature request only to find someone beat me to it... 😄

https://github.com/github-community/community/discussions/18185

[2022-06-09 20:45] egvijayanand commented on #446
I know you folks contribute to this toolkit out of your own interest and I do appreciate that.

So I'll try to check over the weekend on whether I can extend a helping hand on this.

[2022-06-09 20:47] egvijayanand commented on #446
Need of the hour to save time and effort. I appreciate your effort in the attempt to initiate the discussion. You can upvote to reach the right people.

[2022-06-09 21:08] egvijayanand commented on #447
Facing this issue only with Popup, rounded corners with Frame work fine on other MAUI controls.

[2022-06-09 21:58] VladislavAntonyuk commented on #435
`dotnet workload update` solves the issue if you are running on Mac.
Use VS Installer on Windows.

[2022-06-09 21:58] #435 closed

[2022-06-09 22:02] VladislavAntonyuk commented on #416
as we plan to fix .NET MAUI version (https://github.com/CommunityToolkit/Maui/issues/424) can we close this issue?
@brminnick what do you think?

[2022-06-09 23:09] brminnick commented on #416
Agreed. This can be closed.

[2022-06-09 23:18] pictos commented on #416
Closing this issue then.

[2022-06-09 23:18] #416 closed

[2022-06-10 13:22] #447 closed

[2022-06-10 16:26] naweed opened #449 "[Bug] Background Blur Effect not working on iOS"
Hi,
I am creating a default popup and noticed that the background blur effect does not work in iOS.

### Description

When creating a default popup based on the guidance: https://docs.microsoft.com/en-us/dotnet/communitytoolkit/maui/views/popup, I am facing the issue that the background blur effect does not work in iOS. It works fine for Android. This is also a continuation of: https://twitter.com

[2022-06-10 16:29] pictos commented on #449
@naweed thanks for reporting this here, please fill the title section

[2022-06-10 16:32] naweed commented on #449
Sorry, my bad.

[2022-06-10 17:16] imsam67 opened #450 "[Bug] Popup color issues on iOS"
### Description
Reporting three issues here:
1. I set the `color` of the popup but it completely disregards it and goes with the color of theme on device
2. I open the popup from the view model of a page with white background. When I close the popup, the background of page changes to the color of theme on device.
3. Popup also seems to ignore position settings on iOS

Please note that popup behave

[2022-06-10 18:39] imsam67 commented on #450
@pictos Yes, I thought about that but that doesn't address the issue of changing the background of the page, right?

[2022-06-10 18:40] pictos commented on #450
Page or pop-up? Pop-up can't change anything on the page, by default

[2022-06-10 19:41] pictos commented on #450
@imsam67 can you attach a small sample showing the first issue?

[2022-06-10 21:12] imsam67 commented on #450
@pictos Unfortunately, after struggling with the popup for a while, I gave up and moved on to another approach so I don't have the actual code anymore but it was straight from the documentation.

I also want to mention that I open the popup when the user taps on the green button in the first image which calls a command method in my view model.

As far as the effect, you can just look at the images

[2022-06-10 21:33] jdunaway opened #451 "[Bug] Popup not displaying in Maui Embedding application"
### Description

Was attempting to use the Community Toolkit popup as a workaround for https://github.com/dotnet/maui/issues/7887 but now I'm running into this issue when trying to display a popup in a MAUI embedding application.

### Error

Attempt to present <CommunityToolkit_Maui_Core_Views_MauiPopup: 0x7fa618c5f0f0> on <Microsoft_Maui_Platform_PageViewController: 0x7fa618933f50> (from <Microso

[2022-06-10 23:06] pictos commented on #450
@imsam67 are you using Shell?

[2022-06-10 23:12] imsam67 commented on #450
Yes, I am

[2022-06-10 23:54] pictos commented on #450
This is blocked by
- https://github.com/dotnet/maui/issues/7912

[2022-06-11 04:41] pictos commented on #439
From my tests something is happening with ScrollView, I saw a PR on MAUI side to fix measurement on ScrollView, I'll wait until the code is in public channel to try this again

[2022-06-11 22:27] #409 closed

[2022-06-11 23:38] #450 closed

[2022-06-13 09:38] Mzazvor commented on #259
Hi, Is this camera view also the solution to barcode scanning in MAUI? It seems that way from some Zxing repos comments. Is there any estimate of when this could be avaliable ?

Thanx.

PS: If this question does not belong here im sorry and feel free to delete it.

[2022-06-13 09:41] naweed commented on #86
Hi @pictos , when is 1.1.0 targetted for release?

[2022-06-13 15:44] pictos commented on #259
@Mzazvor, So this cameraView will not be the solution for barcode scanning, the ZXing is another project that you can see [here](https://github.com/Redth/BigIslandBarcoding). But there are plans to use the CameraView from this package on the ZXing project.

I can't tell you right now when we will release this feature. It's in progress the Android implementation is almost done

[2022-06-13 15:47] pictos commented on #86
@naweed we don't have a date to share

[2022-06-13 20:52] Sergio0694 commented on #93
Leaving an update here as @brminnick asked - right now the 8.0 release is feature complete and I'm just working on stabilizing stuff and fixing last minute bugs. I'm happy to look into this once that is out though, for sure 🙂

[2022-06-14 14:13] KafkaWannaFly opened #457 "Source generation for `BindableProperty` when making custom `ContentView`"

[2022-06-14 16:17] HausBJB commented on #78
Hello, I see there is already a pull request, thank you very much. I have one more question, couldn't this be solved with attached behavior? is easier to use. or does that not work with net maui

just like here

[code]

[2022-06-14 17:31] pictos commented on #78
@HausBJB yes, but for attached properties, AFAIK there are 2 two ways of doing it.
1. You need to control using the `PropertyChanged` delegate, and it's not prepared for the multi-target. We need to perform some checks
2. You can add a property and an `Action` to the Handler Mapper, that will work but all controls that use that Handler will call the method, even if you don't use the property. This

[2022-06-14 17:35] HausBJB commented on #78
Ok, thanks again for the great work

[2022-06-14 20:35] Sergio0694 commented on #457
Transferring this to the MAUI toolkit, since `BindableProperty` is MAUI-specific, and not a general .NET API 🙂

[2022-06-14 20:45] pictos commented on #457
Thanks @Sergio0694 .

@KafkaWannaFly does this API looks good fir you?
https://github.com/pictos/BindablePropertySG#uso

[2022-06-15 12:38] sh-kd opened #460 "[Bug] MaskedBehavior Cursor jumps to start on unmasked Characters"
### Description

The cursor jumps to the start when an maskedcharacter is reached.

### Link to Reproduction Sample

**https://github.com/sh-kd/MaskedBehaviorBug**

### Steps to Reproduce

1.  Make an entry with MaskedBehavior that has an maskedcharacter
2.  Type in the entry till you reach the maskedcharacter

### Expected Behavior

That the Cursor goes trough the maskedcharacters

### Actual Beh

[2022-06-15 14:53] JavierMarcuzzi opened #461 "[Bug] RelayCommand does not update CanExecute status"
### Description
I am performing it on Net Maui, Mac and iOS, they fail, on Android it usually works. On windows I did not test it.

I will copy the code so you can reproduce it.

I enter the first name, then the last name, but I add one letter less to the first name so that it does not meet the validation rule, then I add the correct, ie, one more letter to name, so the validation is correct, but

[2022-06-15 20:05] bijington commented on #442
I wonder if this relates in some way to this discussion: https://github.com/CommunityToolkit/Maui/discussions/385 it appears at least in the discussion that visual states are replacing the styling that we are setting through the behavior

[2022-06-15 20:50] TheSundayDev commented on #78
waiting also for win implementation, thanks!

[2022-06-15 21:12] Dreamescaper commented on #121
It doesn't work, unfortunately...
https://github.com/xamarin/XamarinCommunityToolkit/issues/1873

And @VladislavAntonyuk mentions here, that it's not possible to use it at all, if I understand that correctly:
https://github.com/xamarin/XamarinCommunityToolkit/issues/1750#issuecomment-985645536

[2022-06-15 22:36] ericnev opened #462 "[Bug] Last popup rendered appears at right-click mouse location"
### Description

Saw this with my own project, then downloaded and reproduced it on the MCT popup sample app. Choose "Views" from the flyout, and go to the "Multiple Popups" page. Click on any popup, for example, "Toggle Size Popup". The popup appears as intended. Dismiss it by clicking outside its bounds. Right click on any area in the page after dismissal, and you'll see the same popup reappear,

[2022-06-15 23:22] azdevelopnet opened #463 "[Bug] iOS Pop does not vertically center when Navigation Bar is hidden/unhidden"
### Description
Start a project with Flyout and the Navigation bar hidden.  (See Maui tutorials on Login page or Splash Screen Intro).  Popup in Android and iOS is vertically and horizontally centered.  After login and navigate to a page where Navigation bar is no longer hidden.   Display a popup, Android looks centered but iOS is offset downwards the distance (height) of the navigation bar.  It s

[2022-06-16 06:59] KafkaWannaFly commented on #442
Hi @bijington

I think I found the solution. The root cause may come from default Border style in `Style.xaml`. Which is:
[code]

There might be something wrong with the `StrokeShape` property. Sadly, the IDE didn't prompt any error.
I change from:
[code]

To:
[code]

So, I conclude that there is nothing wrong with the `UriValidationBehavior` and we can close this issue.

[2022-06-16 06:59] #442 closed

[2022-06-16 19:28] thomiel commented on #402
I have spent some hours pinpointing the failing EnC to the MAUI CommunityToolit now. Please just create a project with the default MAUI-app template, add UseMauiCommunityToolkit() to MauiProgram.cs, break at count++, hit the button, and observe a failing EnC. Should be done in three minutes...

[2022-06-17 09:11] bijington commented on #442
@KafkaWannaFly thank you for the update and investigating the issue

[2022-06-17 12:20] mikemccaughan commented on #402
I've added many, many packages to an WIP project, and wondered which one broke Hot Reload. Now I know. Thank you for this bug report 👍

[2022-06-17 12:22] bijington commented on #402
Does this mean that you no longer experience the issue?

[2022-06-19 21:00] VladislavAntonyuk commented on #109
It will work great on Android, nesting works even in CollectionView.
Will see how it works on iOS.

[2022-06-20 09:17] marcmognol commented on #411
Hello,

I have exactly the same warning message when I add a xUnit project to my solution and my MAUI project as a reference of my xUnit project.

[2022-06-21 09:47] petrakritzinger opened #464 "[Bug] Popup throws exception when called from OnAppearing()"
### Description

We are able to open a Popup control from a command on the ViewModel, as well as from a button clicked event. However, when calling this.ShowPopup(popup) from the ContentPage OnAppearing() method, an exception is thrown as follows:

We have only tested Android so far.

### Stack Trace

at CommunityToolkit.Maui.Views.PopupExtensions.CreatePopup(Page page, Popup popup)
   at Communit

[2022-06-22 00:14] pictos commented on #464
@petrakritzinger , @mariusmcalpine
Could you attach a small repro?

[2022-06-22 06:56] mariusmcalpine commented on #464
Hi @pictos ,

I've managed to get it working by including a delay to wait for screen to finish loading.

![image](https://user-images.githubusercontent.com/5115444/174961807-e7f8cb91-f0c0-41d5-9e21-1399bd90f360.png)

Please find small repo attached.

[Test.CommunityToolkit.Popups.zip](https://github.com/CommunityToolkit/Maui/files/8955070/Test.CommunityToolkit.Popups.zip)

The repo includes C# and

[2022-06-22 07:10] VladislavAntonyuk commented on #464
It is expected: In a Shell app, the Appearing and Disappearing events are raised from cross-platform code, prior to platform code making a page visible, or removing a page from the screen.

[2022-06-22 14:05] mariusmcalpine opened #466 "[Bug] iOS ShellContent gets cleared on ShowPopup"
### Description

Whenever doing a ShowPopup() from a ShellContent page in iOS, the page content first gets cleared before the popup is displayed.

### Link to Reproduction Sample
[Test.CommunityToolkit.Popups.iOS.zip](https://github.com/CommunityToolkit/Maui/files/8958141/Test.CommunityToolkit.Popups.iOS.zip)

### Steps to Reproduce
1. Create a new .NET MAUI App project in Visual Studio.
2. Add Co

[2022-06-22 15:47] pictos commented on #464
@mariusmcalpine you can use a safer approach, since the time to instantiate the platform view may vary.

[code]

This will make sure to call the popup when the Handler is instantiated. And this is something that you will see in all .NET MAUI controls, the life cycle is the same as XF so there's a mismatch between them (shared and platform-specific).

[2022-06-22 15:50] pictos commented on #466
Related to
- https://github.com/dotnet/maui/issues/7941

[2022-06-22 18:13] VladislavAntonyuk commented on #464
You can override OnHandlerChanged. Without subscription OnAppearing

[2022-06-23 07:28] mariusmcalpine commented on #464
Works like a charm.

[code]

Thanks @pictos @VladislavAntonyuk

[2022-06-23 08:22] craigbosward opened #467 "[Bug] MultiMathExpressionConverter works in android but fails on windows and ios"
made a clean maui app to confirm behavior.  added MultiMathExpressionConverter on main page based on example and added VM.  Works as expected on android simulator but fails on ios (iphone 11 15.5 ) simulator and windows with
![image](https://user-images.githubusercontent.com/96669462/175249479-db848082-66d3-4b23-a420-dffd34f2316a.png)

same for ios and windows.  android is successful.
1>Skipping a

[2022-06-23 09:11] VladislavAntonyuk commented on #467
could you please attach a small repro, looks like you incorrectly define the namespace or forgot to add UseMauiCommunityToolkit in MainProgram

[2022-06-25 19:48] bijington commented on #467
@craigbosward did you attach the repo in the email you replied with? I'm not sure GitHub includes attachments that way

[2022-06-26 06:23] craigbosward commented on #467
I did attach an attachment to the email reply.  I’ll try and upload Github.

From: Shaun Lawrence ***@***.***>
Sent: Sunday, 26 June 2022 5:49 AM
To: CommunityToolkit/Maui ***@***.***>
Cc: craigbosward ***@***.***>; Mention ***@***.***>
Subject: Re: [CommunityToolkit/Maui] [Bug] MultiMathExpressionConverter works in android but fails on windows and ios (Issue #467)

@craigbosward <https://github.c

[2022-06-26 06:26] craigbosward commented on #467
[MauiApp5.zip](https://github.com/CommunityToolkit/Maui/files/8986068/MauiApp5.zip)
a small sample.

[2022-06-26 20:00] pictos commented on #467
@craigbosward, I downloaded and ran your sample. You forgot to call the `builder.UseMauiCommunityToolkit()` in `MauiProgram` class. If you don't do that you can't use our custom xml-schema. The info about it is on the README file that is opened when you install the nuget.

[2022-06-26 20:00] #467 closed

[2022-06-27 06:18] #424 closed

[2022-06-29 09:11] DeepWorksStudios opened #473 "[Android] Cant click anything (ALL Buttons dont work)[Bug]"
### Link to Reproduction Sample

Pull current Maui CommunityToolkit Sample

### Steps to Reproduce

1. Pull current Maui CommunityToolkit Sample
2. Target Android
3. Start Emulator/Device
4. try click an entry

### Expected Behavior

Opens the desired function

### Actual Behavior

Does not regonize click

### Basic Information

- Version with issue: Current
- Last known good version: Unknown
- ID

[2022-06-29 09:30] DeepWorksStudios opened #474 "[Bug] CharactersValidationBehavior Bindings missing"
### Steps to Reproduce

1. Pull current sample
2. start windows device
3. open section CharactersValidationBehavior

### Expected Behavior
No binding failures
### Actual Behavior
7 binding failures
### Basic Information

- Version with issue: current
- Last known good version: unknown
- IDE: vs22 prewiev

[2022-06-29 09:50] DeepWorksStudios opened #475 "[Bug] SelectAllTextBehaviorPage Causes Freez"
### Steps to Reproduce

1. Pull current MauiToolKit Sample
2. Start Device
3. Open tab behavior
4. Open SelectAllTextBehavior

### Expected Behavior
Opens the Page SelectAllTextBehavior
### Actual Behavior
Freezes
### Basic Information

- Version with issue: current
- Last known good version: unknown
- IDE: vs22 Preview
- Platform: Windows

[2022-06-29 10:54] VladislavAntonyuk commented on #473
If you try to click on CollectionView item, it's a known .NET MAUI issue.

What entry do you try to click?

[2022-06-29 10:57] VladislavAntonyuk commented on #475
What do you mean by Freezes? Does the app stop responding/crash?
What device do you use?

CollectionView clicks don't work on Android (known .NET MAUI issue)

[2022-06-29 11:10] #473 closed

[2022-06-29 11:11] DeepWorksStudios commented on #475
The app stop responding under windows seems working fine on android

[2022-06-29 13:01] thomiel commented on #402
Just tested again with Preview 2.0 (Android Emulator) and EnC failed. Then removed package and App initialization; result: failed.

[2022-06-29 15:09] GeorgeLeithead commented on #104
I have created a fork, and appropriately named branch, to work on some options for this proposal.

See [104-AvatarView](https://github.com/GeorgeLeithead/CommunityToolKitMaui/tree/104-AvatarView) for the work-in-progress code branch.

I am incredibly open to suggestions, comments, raised issues, and looking for some guidance from the community veterans.

Ideally, I'd like to achieve the following,

[2022-06-29 17:35] brminnick commented on #104
Thanks for working on this, @GeorgeLeithead! I'll assign it to you and remove the `help-wanted` tag.

I see no problems with the assumptions above. Feel free to open a Draft PR now to help us better review your code 👍

[2022-06-30 11:29] VladislavAntonyuk commented on #473
https://github.com/dotnet/maui/issues/8416

[2022-06-30 11:55] VladislavAntonyuk commented on #475
Reproduced, the issue with Frame. I will create a PR

[2022-06-30 13:28] drasticactions commented on #402
@cargnel (And those experiencing this) I would file this to VS Feedback (https://developercommunity.visualstudio.com/home)

The likelyhood of this being specific to this package is, as far as I can see, _very_ slim. They are not doing anything different that would cause Hot Reload to break (Also note that EnC and C# Hot Reload are not _exactly_ the same mechanics under the covers for different pla

[2022-07-01 00:37] #475 closed

[2022-07-01 03:31] rjygraham opened #479 "[Proposal] IServiceCollection extension methods to register Views & ViewModels"
# IServiceCollection extension methods to register Views & ViewModels

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Sample
* [x] Documentation: https://github.com/MicrosoftDocs/CommunityToolkit/pull/118

## Link to Discussion

#430

## Summary

[summary]: #summary

This proposal

[2022-07-01 06:16] DeepWorksStudios commented on #474
I took a picture from the issue hope it will help
![image](https://user-images.githubusercontent.com/59297046/176835397-90c9977a-7d4f-4357-a9ae-f054d79382b4.png)

[2022-07-01 18:00] brminnick commented on #479
Thanks @rjygraham for this incredible write up! Top notch work 💯 👏

My vote is for `Option 1`, above. Almost every time, a `ContentPage` will be added as a Transient and, as a best practice, _should_ use be added as a Transient. `Option 1` covers this best practice as the default case.

Here's a couple thoughts I had:

1. (Non-shell) Replace `TView : VisualElement` with `TView : BindableObject`

[2022-07-01 18:24] bijington commented on #479
Thanks @rjygraham this is a great write up! I think @brminnick has covered the topic pretty well. My only differing opinion would be to provide no default value for `ServiceLifetime`, this might just be me wanting to force the developer to really think about what they want. Of course in this scenario a singleton is very rarely a good idea.

[2022-07-01 18:33] bijington commented on #104
@GeorgeLeithead thanks for the contribution and the write up of your objectives to help us. I have a couple of questions/points:

1. Do we need the Clicked/Pressed events? We could achieve most of the behaviour through the use of `GestureRecognizers`, the only part it wouldn't offer is the Released event but I can't think of a use case for needing that. Did you have one?
2. IsOpaque could probably

[2022-07-01 18:34] bijington commented on #474
From that image these look like a bug in the tooling rather than us.

[2022-07-01 18:48] GeorgeLeithead commented on #104
@bijington In answer to your questions/points, some of which MAY be answered by the 'draft' pull I made as suggested by @brminnick .  However, I think more questions will be raised as we look at the porpoal WIP code.

1. When looking at this and the Microsoft.Maui repository, I initially looked at the *Button* control and the interfaces it used.  Things have since evolved as I worked thru a few op

[2022-07-01 18:56] pictos commented on #104
@GeorgeLeithead thanks for moving this forward. Do you mind to add the public API interface here, that way we can update the original spec

[2022-07-01 19:20] GeorgeLeithead commented on #104
Can you provide an example of what is expected for the public API interface?  I'm still working on implementations, so it's all still in flux. (I'm thinking of changing the Image avatar to use a Canvas to draw it properly, as there are a lot of issues here...)

[2022-07-01 19:26] pictos commented on #104
@GeorgeLeithead sure, if you go to the first comment on this issue, you can see a session called `Detailed Design`, there's the public API spec

[2022-07-01 20:02] rjygraham commented on #479
Not gonna lie, I included Option 1 only for completeness and was hoping we'd lean towards Option 2... 😜

There reasons I personally prefer Option 2 are:
- The syntax aligns with the existing `AddSingleton`, `AddTransient`, `AddScoped` extension methods of `IServiceCollection`
- We may determine that `ServiceLifetime.Scoped` is irrelevant and therefore we can guide new developers by providing metho

[2022-07-01 20:21] #78 closed

[2022-07-01 20:48] brminnick commented on #479
I'll Champion this Proposal and bring it up for an Approval vote at our stand up on Thursday.

We'll see how the team aligns on the options + the discussion here and move forward with the majority vote 👍

[2022-07-02 05:56] #428 closed

[2022-07-02 05:56] #463 closed

[2022-07-02 05:56] #466 closed

[2022-07-02 19:13] #449 closed

[2022-07-04 10:02] arkadym opened #485 "[Bug] Anchor cause crash when using Popup on MacOS"
Created simple app from VS 2022 on Mac OS with AppShel and MainPage
Added ComminutyToolkit.Maui 1.0
Created Popup control
On MainPage replace counter button click handler with
[code]

Add UseMauiCommunityToolkit() to MainProgram.cs

Run app - click on 'Click me' button - app will crash (that is with 6.0.400 maui)

Goto App.xaml.cs and replace
`MainPage = new AppShell();`
with `MainPage = new MainP

[2022-07-05 12:56] Giuseppetm commented on #440
Any update on this?

[2022-07-05 15:05] pictos commented on #485
@arkadym thanks for the report we'll take a look at this after our next release. I did a lot of fixes on popup in apple's platform, so maybe this's already fixed. If not we will solve it (:

[2022-07-05 15:06] pictos commented on #440
@Giuseppetm didn't look into this issue yet. For the next release I focused on apple platform.

[2022-07-05 15:08] GeorgeLeithead commented on #104
This is still a work-in-progress, but this is the public API as defined so-far.  There are still some issues that I feel need to be addressed, along with some refactoring, as well as finishing the unit tests and documentation.  All code reviews welcome.

### Avatar.cs
[code]
### Usage Syntax
#### XAML usage
[code]
#### C# Usage
[code]
[code]

[2022-07-13 14:35] rjygraham commented on #479
Hey @brminnick, I just wanted to follow up on this and provide some thoughts below on the questions raised during the July 2022 community standup.

@jfversluis
- [`ServiceLifetime`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.dependencyinjection.servicelifetime?view=dotnet-plat-ext-6.0) is defined in `Microsoft.Extensions.DependencyInjection`. Thankfully it seems like everyone

[2022-07-13 17:46] brminnick commented on #479
Thanks so much @rjygraham!

I've updated the details of the Proposal above to reflect the [notes above](https://github.com/CommunityToolkit/Maui/issues/479#issuecomment-1183305815) from our monthly standup.

Let's keep the scope small for this Proposal, saving the `Different lifetimes for Views and ViewModels` and `Multiple Views/Pages that use the same ViewModel` features for a future Proposal.

[2022-07-13 17:48] bijington commented on #479
Gets my vote 👍

[2022-07-13 17:49] brminnick commented on #479
I too vote to approve this Proposal ✅

[2022-07-13 18:42] pictos commented on #479
I approve this feature ✅

[2022-07-13 18:46] VladislavAntonyuk commented on #479
I approve it. The only suggestion is to simplify the name to AddSingleton and AddTransient

[2022-07-13 18:47] brminnick commented on #479
We've reached the minimum threshold of 50% approval and you are now clear to move forward and implement this Proposal, @rjygraham! 🎉

I've moved this to the [`Proposal Approved Column on our Project Board`](https://github.com/CommunityToolkit/Maui/projects/1#column-16085863), added the `approved` tag and assigned it to @rjygraham.

[2022-07-14 02:12] rjygraham commented on #479
@brminnick @bijington @pictos @VladislavAntonyuk - Is there a preference on a mocking library (Moq, NSubstitute, etc) for testing? Looks like MAUI proper uses NSubstitute, so I'm inclined to lean towards that.

Rationale: I need to mock IServiceCollection to verify the various AddTransient, AddSingleton, AddScoped methods are invoked. Alternatively, I can create a dummy class that implements IServ

[2022-07-14 02:17] brminnick commented on #479
You shouldn't need to mock `IServiceCollection` because `CommunityToolkit.Maui.UnitTests` implements .NET MAUI (`<UseMaui>true</UseMaui>`) which includes `IServiceCollection`

[2022-07-14 02:24] rjygraham commented on #479
Yep, I'll just new up `ServiceCollection` and roll with that! Thanks!

[2022-07-14 02:44] brminnick commented on #479
I recommend using `var services = MauiApp.CreateBuilder().Services` To access .NET MAUI’s implementation of `IServiceCollection`.

Here’s an example from the Sample App:
https://github.com/CommunityToolkit/Maui/blob/38ec66fbb102c51aab6ad7a0a00edbed5531eaa2/samples/CommunityToolkit.Maui.Sample/MauiProgram.cs#L23

[2022-07-14 11:57] gavinb80 opened #488 "[Bug] Error clearing ObservableCollection on iOS / macOS"
### Description

When using a **ObservableCollection** in my project and displaying via a ListView, I have an issue when clearing the content of the ObservableCollection.

When calling i**ncidentList.Clear();** it works fine on Android, but on iOS and MacOS I get the error "Object reference not set to an instance of an object."

### Stack Trace

System.NullReferenceException: Object reference not

[2022-07-14 12:20] nickidentivue opened #489 "[Bug] Popup crashing on WinUI & Android"
### Description

Adding the C#  example popup from the docs to a brand new MAUI project crashes WinUI and Android projects (unable to test iOS).

I feel like I must be doing something wrong for such basic functionality to be broken but I can't see anything obvious?

### Stack Trace

Exception thrown: 'System.InvalidOperationException' in CommunityToolkit.Maui.dll. Could not locate MauiContext.
The

[2022-07-14 12:33] VladislavAntonyuk commented on #488
You should transfer this issue to dotnet/maui repo

[2022-07-14 12:33] #488 closed

[2022-07-14 12:36] VladislavAntonyuk commented on #489
1. You haven't initialized toolkit. Instead of UseMauiCommunityToolkitCore you have to call UseMauiCommunityToolkit
2. it's not the right place to call Popup. because you can display  popup only after page is displayed.

[2022-07-14 13:10] #489 closed, assigned to nobody

[2022-07-14 13:13] bijington commented on #489
Did you add the Core package to your project as well as the other one? If so you don't need to add it, if not then we need to consider removing the readme file for it to avoid some confusion

[2022-07-14 13:33] nickidentivue commented on #489
Yes I added it, I had assumed it followed a similar structure to something like Syncfusion where you have to install the Core library that all the others require first.

[2022-07-14 14:01] bijington commented on #489
Oh I see. Our package depends on Core so it pulls it in for you. Perhaps we need to make this part clear somewhere. Out of interest how did you come into using the package? Was it a video, the docs or something else?

[2022-07-14 14:20] nickidentivue commented on #489
We are porting a very large app from XF that uses a lot of Syncfusion controls, rather than wait a year for their MAUI library to be ready we are seeing what can be done using only built-in controls, a lot of which have been added since the Xamarin project started in 2018.

I was looking for a way to replace SfPopup which we use all over the place, and found this on the Microsoft docs pages.

[2022-07-14 17:05] 8m0 opened #492 "[Bug] Popup, Microsoft.Maui.Platform.HandlerNotFoundException: 'Handler not found for view ...'"
Hello,
I get `Microsoft.Maui.Platform.HandlerNotFoundException: 'Handler not found for view fortestingshit.Controls.SimpP.'` exception.
I've seen Microsoft documentation and other sources, same error anyway.

### Stack Trace

[code]

### Project to test the error
[Repository](https://github.com/8m0/Popup-HandlerNotFoundException)

Steps:
1. Open project
2. Click the "Click me to open popup" button

[2022-07-14 17:27] bijington commented on #492
You can see how to do it from the readme on the repo: https://github.com/CommunityToolkit/Maui

I thought we had this information on our docs page but I can't see it.

[2022-07-14 17:37] 8m0 commented on #492
How could i miss that... Didn't even think it could be there... Thanks for the help

[2022-07-14 17:38] bijington commented on #492
We all miss things 😄 I'll make sure I get some information up on the docs pages to provide another place to explain it. Let me know if this solves the issue

[2022-07-14 17:40] #492 closed

[2022-07-14 21:48] brminnick opened #493 "[Bug] CI Pipeline Does Not Fail when Vulnerable Dependencies Found"
### Description

Our Azure DevOps CI Pipeline current checks for security vulnerabilities in our dependencies:
https://github.com/CommunityToolkit/Maui/blob/38ec66fbb102c51aab6ad7a0a00edbed5531eaa2/azure-pipelines.yml#L103-L109

This step is currently reporting 3 vulnerable packages, however, the `Check Dependencies` step continues to pass (green):
https://dev.azure.com/dotnet/CommunityToolkit/_bu

[2022-07-15 11:38] VladislavAntonyuk commented on #493
There is an open issue for it: https://github.com/NuGet/Home/issues/11315

[2022-07-15 17:33] brminnick commented on #109
I vote to approve this Proposal ✅

[2022-07-15 17:34] pictos commented on #109
I approve this feature ✅

[2022-07-15 17:45] brminnick commented on #402
Confirmed EnC is working
https://github.com/CommunityToolkit/Maui/discussions/496#discussioncomment-3158586

[2022-07-15 17:45] #402 closed

[2022-07-15 19:10] bijington commented on #109
I vote to approve ✅

[2022-07-17 17:05] #493 closed

[2022-07-19 14:41] yurkinh opened #499 "[Bug] Popup color not applied on ios"
### Description
Setting Color on Popup page is ignored on iOS.
While it works fine on Android

### Link to Reproduction Sample

[Sample.zip](https://github.com/CommunityToolkit/Maui/files/9141976/Sample.zip)

### Steps to Reproduce

1. Run the attached sample on ios
2. Press the button  "Show" Popup
3. Notice that popup background is not Transparent

### Expected Behavior
Popup background is Trans

[2022-07-19 14:48] yurkinh opened #500 "[Bug] DrawingView crashes when Background property not set on iOS"
### Description

When you try to export drawings from DrawingView with
`DrawingViewControl.GetImageStream(DrawingViewControl.Width, DrawingViewControl.Width)`
Control crashes if "Background " property is not set

### Link to Reproduction Sample
[Sample.zip](https://github.com/CommunityToolkit/Maui/files/9142125/Sample.zip)
### Steps to Reproduce

1. Run the attached sample
2. Press "Show Popup" bu

[2022-07-20 00:02] pictos commented on #499
@yurkinh I believe this is the normal behavior for iOS. My first test was changing the Popup.Color to Red and that work as expected as you can see in the screenshot below:
![Screen Shot 2022-07-19 at 20 57 41](https://user-images.githubusercontent.com/20712372/179867686-a3917668-71cb-4d87-9463-66a6089a4cc0.png)

Second I debug the code to see if for some reason the `Colors.Transparent` were conver

[2022-07-20 06:56] yurkinh commented on #499
Hi @pictos ,
Thanks for the explanation regarding popup background color.
Yes, I have reported NRE [here](https://github.com/CommunityToolkit/Maui/issues/500).
I just made one sample for two issues)

[2022-07-20 14:54] bakerhillpins opened #501 "[Bug] MCT001 doesn't recognize initialization in a library"
### Description

Update to the latest CommunityToolkit.Maui Version="1.1.0" and my project now fails build due to error:

While I like the fact that the library is looking over my shoulder to ensure I'm calling this, it really should be written to understand the dependency chain when looking for the call to the initialization routine.  My software architecture is loosely coupled allowing libraries

[2022-07-20 14:58] #499 closed

[2022-07-20 15:32] pictos commented on #501
@bakerhillpins
Could you attach a small repro?

[2022-07-20 18:50] bakerhillpins commented on #501
Ok, I've added a simple demo project.  It's actually highlighted another problem with the Code generator for this error:

All you have to have is the text `.UseMauiCommunityToolkit()` somewhere in the method chain for the builder and your test will evaluate to no error. Thus the following code does not produce the `MCT001` error even though the method is commented out.

[code]

but this snippet do

[2022-07-20 21:17] #479 closed

[2022-07-21 02:12] pictos commented on #462
@ericnev can you test with the new version?

[2022-07-21 07:01] VladislavAntonyuk commented on #411
@pictos is it fixed with 1.1.0 release?

[2022-07-21 07:05] marcmognol commented on #411
No. Warnings still there.

[2022-07-21 09:02] charlesroddie commented on #113
Currently MediaElement from Xamarin.CommunityToolkit doesn't work on [Windows](https://github.com/xamarin/XamarinCommunityToolkit/issues/1874) or [Android](https://github.com/xamarin/XamarinCommunityToolkit/issues/1650)!

https://github.com/inthehand/InTheHand.Forms works so may be a better source for starting this.

[2022-07-21 10:14] bakerhillpins commented on #501
This issue is not resolved.  It would appear that you didn't read the issue description as the problem reported has to do with transient references to the library and is not fixed.

The issue with testing for actual code is something I found when I was creating a demo project.

[2022-07-21 10:26] arkadym commented on #485
I updated MAUI to latest SR3 (419) and Community Toolkit to 1.1.0 - there is no more crash, it works correct now. Can close issue.

[2022-07-21 11:13] #485 closed

[2022-07-21 12:09] ericnev commented on #462
Upgraded to 1.1.0, and the issue persists.

[2022-07-21 16:43] pictos commented on #501
@bakerhillpins I'm sorry, but I'm guided by samples. You provide a snippet and I confirmed that the issue happens in that case, so I fixed that. Didn't pay attention to the lib part.

[2022-07-21 16:47] pictos commented on #462
@ericnev
Could you attach a small repro?

[2022-07-21 16:49] #500 closed

[2022-07-21 16:58] pictos commented on #411
We didn't change anything on that... And not sure if we can... SG will generate code for all assemblies that reference the MCT. TBH not sure if we can do something on that, maybe the lib that uses MCT needs to do some work, maybe exposing the MCT to the consumers, that way the App doesn't need to install the MCT by itself? Or suppressing the generated files that way it doesn't leak to consumers?

[2022-07-22 03:17] brminnick opened #509 "[Bug] On iOS + MacCatalyst, `AvatarView.BackgroundColor` Does Not Work"
### Description

This is a known-issue on iOS + MacCatalyst, [noted in the AvatarView Pull Request](https://github.com/CommunityToolkit/Maui/pull/481#issuecomment-1192126478).

It is a purposefully implemented workaround because there is a bug in .NET MAUI where it paints the BackgroundColor on top of the Image on iOS.

https://github.com/CommunityToolkit/Maui/blob/68b82412a7e31d961b7ec0da2909f38e

[2022-07-22 07:18] #104 closed

[2022-07-22 09:27] manuelelucchi commented on #440
Any news on this @pictos ?

[2022-07-22 12:30] GeorgeLeithead opened #510 "[Bug] AvatarView using `StrokeShape` and `ImageSource` image is incorectly clipped"
### Description

`AvatarView` has a parent of `Border` and supports the `Stroke*` properties, as well as the AvatarView specific `CornerRadius`.  When using `StrokeShape` to implement 'exotic' shapes, paired with `ImageSource`, the image is clipped to the `CornerRadius` and not the `StrokeShape`.

### Steps to Reproduce

[code]

### Link to Reproduction Sample

[https://github.com/GeorgeLeithead/C

[2022-07-22 13:34] VladislavAntonyuk opened #511 "[Bug] Setting Margin on UniformItemsLayout crashes the app"
### Description

Element not found. (0x80070490)

### Link to Reproduction Sample

https://github.com/VladislavAntonyuk/MauiSamples/tree/main/MauiPaint

### Steps to Reproduce

[code]

### Expected Behavior

Margin/Padding applied

### Actual Behavior

Crash

### Basic Information

- Version with issue: 1.2.0

[2022-07-22 14:32] GeorgeLeithead commented on #510
Question: If both are set, should `CornerRadius` override `StrokeShape`, or the other way around?  I personally think that `CornerRadius` is the main property and should override.  Opinions?

[2022-07-22 15:29] DanielMuhlig opened #514 "[Bug] Type Converter Error when running Popup on iOS without debugging."
### Description

Eg. setting popup.Size = new Size(640, 480) works fine when running the app on an iPad in debug mode from Visual Studio, but crashes with error "Position 5:75. Type converter failed: Cannot convert "" into Microsoft.Maui.Graphics.Size" when starting app directly from the iPad (same error even if not setting the Size property on the popup)!

This may be Maui/compiler related and no

[2022-07-22 17:02] GeorgeLeithead commented on #510
I have a partial working fork and branch, to where I can get the image clip to work correctly for Ployline, Ellipse, Path, Polygon and rectangle (default is RoundRectangle implemented by the CornerRadius).

Works for Android:

![image](https://user-images.githubusercontent.com/43666574/180486547-5c93544e-8fb8-4c68-be52-04e274fbd15e.png)

However, it does not work well for Windows:
![image](https:/

[2022-07-22 17:10] brminnick commented on #510
Thanks George! Could you open a draft PR for the bug fix?

I'll take a look at the code and see how I can help!

[2022-07-22 17:33] GeorgeLeithead commented on #510
Draft pull created.

[2022-07-22 21:06] VladislavAntonyuk commented on #514
could you please attach a small repro?

[2022-07-25 07:25] JohnHDev commented on #86
@pictos can I confirm if/when this is done it will be a Behaviour, not an effect, right?
We have started investigating what is needed to migrate to .NET Maui and we have dependencies that we either want to remove or migrate as well. We have a long press effect we don't want to migrate (unless we have to), we would rather go down the supported route with the replacement for TouchEffect.

[2022-07-25 08:02] bijington commented on #86
@JohnHDev yes that is correct. Much like the `IconTintColor` and `SelectAllTextBehavior` implementations we will be moving from the old Effects API over to using Behaviors.

I don't know if @pictos but if not would you fancy the challenge of adding this in?

[2022-07-25 20:51] bijington opened #519 "FadeAnimation"
Add in the `FadeAnimation` as a pre-built animation to be used with the `AnimationBehavior`.

The purpose of the `FadeAnimation` will be to fade to a specified opacity and then return to the original opacity over a specified duration (this applied to each animation).

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windo

[2022-07-25 22:45] pictos opened #520 "[♻Housekeeping] Improve our NuGet package quality"
Today our NuGet package isn't great and after watching [this amazing talk from Claire](https://youtu.be/C_2BStepVKw) I saw that we can make our package even better!
Helping users to see our code from VS, and debug our code which will help us fix bugs (since the users can provide more complete information), we can prevent breaking changes, etc...

I'll open one PR per item, to make it easy to revie

[2022-07-26 05:59] imms20 commented on #462
@brminnick I have just cloned the repo, ran the samples. on the multiplePopupPage, I have opened simple popups. dismissed it when I have clicked outside the popup. now when I click on the page anywhere using right click, the same popups keeps appearing. in fact when I open any kind of popup, the behaviour is the same.

[2022-07-26 06:03] imms20 commented on #462
I am running windows 10 21H2, 19044.1826 though

[2022-07-26 07:13] imms20 commented on #462
it is trying to open the popup on the clicked location

[2022-07-27 18:05] NickDevoctomy opened #522 "[Bug] Code never returns from ShowPopupAsync if Window resized"
### Description

If you call ShowPopupAsync from a button command and then resize the window, the code never returns and the button remains unusable.

### Steps to Reproduce

1.  Create simple page with single button and ViewModel
2.  Create simple popup
3.  In button command delegate in view model, call

await Application.Current.MainPage.ShowPopupAsync(new SimplePopup());

4. Popup should appear

[2022-07-28 16:55] GeorgeLeithead commented on #110
I looked at this proposal and having worked on AvatarView, I thought I would have a look as it appeared to be in the same "ball park".  Taking advantage of the fact that when an `Image` control has its _source_ property set, it's `FromUri` returns an `UriImageSource` that downloads and reads an image from a specified URI, we can then take advantage of the this as it supports Image Caching.

See [L

[2022-07-28 17:21] brminnick commented on #110
Thanks @GeorgeLeithead! This hasn’t yet been approved. I’ll raise it in our next standup 👍

[2022-07-28 17:24] GeorgeLeithead commented on #110
@brminnick I could see it wasn't yet approved, but I thought I'd strike whilst my AvatarView iron was still hot, and I worked on the clipping bug.

[2022-07-28 18:00] dansiegel commented on #110
This is a great direction @GeorgeLeithead

[2022-07-28 18:04] GeorgeLeithead commented on #110
@dansiegel You'll notice in the sample, I kept using your Gravatar. Got to keep and give appreciation for the original effort. 😁

[2022-07-28 18:07] bijington commented on #110
I'm happy to vote to approve it now. More than happy to accept the contribution.

It's a yes from me

✅

[2022-07-29 11:13] GeorgeLeithead commented on #110
@dansiegel I'd really like to keep referencing *your* Gravatar in the sample.  However, I don't just want to assume this is OK, and I wanted check with you and verify that is, OK?

[2022-07-29 14:08] bijington commented on #110
I am going to champion this proposal, we have the standup this coming Thursday so if others haven't found time to vote I will raise it and expect it to get approved.

The general design looks good to me. Only one small point I have is to suggest we rename `CachingEnabled` to `IsCachingEnabled` to fit with common naming conventions

[2022-07-29 14:18] dansiegel commented on #110
@GeorgeLeithead I appreciate you, and thanks for asking. Yes you do have my permission to continue using my gravatar for the sample.

[2022-07-29 14:25] GeorgeLeithead commented on #110
@bijington I can very easily change `CachingEnabled` to `IsCachingEnabled` and agree with the reasoning.  However, the properties I used were taken directly from the `UriImageSource` control, so not sure if this may introduce some end user confusion?  In this instance I would vote for making the change to `IsCachingEnabled` but want to make sure.

[2022-07-29 14:26] bijington commented on #110
@GeorgeLeithead you make a good point here... Let's seek a collective vote on that from the team too.

[2022-07-29 17:31] GeorgeLeithead commented on #110
API definition

### AvatarView.shared.cs
[code]

### Usage Syntax
#### XAML usage
[code]

#### C# Usage
[code]

[2022-07-29 18:39] brminnick commented on #110
Hey George! We don't need to add anything from GravatarImageSource into AvatarView.

AvatarView already has the property `public ImageSource ImageSource { get; set; }` and since `GravatarImageSource : ImageSource`, users are already able to use `GravatarImageSource` for their `AvatarView.ImageSource`.

[2022-08-01 07:45] bijington commented on #110
I am ok with shipping with the default approach (only g) at least in the initial version. If someone really needs something above a G rating then we could look at it then or there is the possibility of inheriting from our implementation and providing support for it

[2022-08-01 23:59] pictos opened #527 "[Bug] Analyzers don't like our SG code style"
For more info, see #524

[2022-08-02 01:28] #411 closed

[2022-08-02 01:28] #527 closed

[2022-08-02 17:50] GeorgeLeithead commented on #110
API definition

### GravatarImageSource.shared.cs
[code]

### Usage Syntax
#### XAML usage
[code]

#### C# Usage
[code]

[2022-08-02 19:24] angelru commented on #120
any news about this?

[2022-08-02 19:59] bijington commented on #110
@GeorgeLeithead to your points about issue/approach I will aim to look through them a bit more thoroughly this week but I'll need to do some reading so I fully understand things.

In the meantime my first initial questions back would be:

- If we can't inherit from `UriImageSource` could we encapsulate it and expose the bits we need?
- If not on the above do our ImageSourceServices provide anythin

[2022-08-03 01:01] pictos commented on #110
I did some tests on my end, and realise that at the end of the day, the `GravatarImage` is just a URL so [I created a very silly ](https://gist.github.com/pictos/2df3ced9b4d78c58c5c5133940715a5b)implementation (that works) and set the `Image.Source` to the generated URL. And I know that in XCT we have a `GravatarImageSource` and all that jazz, but we can make things simpler here.

So my question i

[2022-08-03 01:54] dansiegel commented on #110
I think perhaps the best way to do this is to register a custom IGravatarImageSourceService... which can then convert the GravatarImageSource to a UriImageSource. I've done something similar for another custom imagesource that I did for Maui.
[code]

[2022-08-03 02:33] pictos commented on #110
@dansiegel but why do we need to implement it per platform? Like if we have a converter o something like that will be just one implementation and will hook up into the shared layer.

In this case, I'm assuming that we just need to care about the `Image` control, that has the Source property, so we can just provide the right gravatar URL and let the built-in `UriImageSource` handle the rest. It alr

[2022-08-03 03:06] dansiegel commented on #110
@pictos you could do a XAML Extension that returns a UriImageSource certainly that would be pretty easy but it would create an API that isn't particularly friendly for those building UI in code. Maintaining this as an ImageSource keeps it clean where you can use it anywhere an image source can be used and a XAML extension becomes syntax sugar...

Because UriImageSource is sealed this can not use U

[2022-08-03 20:26] #511 closed

[2022-08-05 14:32] GeorgeLeithead commented on #110
With guidance from @dansiegel and help from @bijington we should now have this licked. All in the draft PR if you fancy a look see.

[2022-08-05 17:09] #519 closed

[2022-08-06 14:00] oclockvn commented on #427
i encountered the same issue, so I used clr-namespace instead of schema and it worked

[code]

[2022-08-07 21:21] thra02ad commented on #259
Hi all - wanted to ask what’s the status on this? I am not a developer myself but I am building an app where I need a customized camera as part of it. Thanks in advance! :-)

[2022-08-07 22:31] pictos commented on #259
Hey, @thra02ad the implementation for Android is pretty much done... I'm learning about the camera on iOS. I'm building some CameraViews apps in swift to see how that goes and then I'll move to C# and start an implementation for this lib. Right now I don't have any deadline to share with you

[2022-08-08 05:34] thra02ad commented on #259
Thank you so much @pictos for swift reply. Apologies for multiple questions, and fully understand that deadline is unknown at the moment. But would you say realistically there is a chance that it will come for iOS this year? Just trying to figure out contingency plans for my app (wait for it vs change back to Xamarin). :-)

[2022-08-08 14:57] pictos commented on #259
@thra02ad my intention is to have this ticket closed before December kkkkk

[2022-08-08 18:07] bakerhillpins commented on #501
Please don't let this die on the vine, The fact that I am forced to register the toolkit at the top level of my application breaks my decoupled application framework code by forcing me to pull a dependency up through my project structure.

[2022-08-08 20:32] thra02ad commented on #259
Thank you very much for coming back to me! Highly appreciated

[2022-08-11 07:39] jBijsterboschNL opened #540 "[Bug] NumericValidationBehavior throws ArgumentNullException when Text is not set or bound to null value"
### Description

When attaching the `NumericValidationBehavior` to an Entry element without setting the Entry's Text property, or when binding it to a Property that is (still) null, the `NumericValidationBehavior` throws an `ArgumentNullException`. Where it should properly validate the Entry instead. For example, the `EmailValidationBehavior` checks if value is null or empty string and then return

[2022-08-11 12:03] bijington commented on #540
@jBijsterboschNL thank you for this report and the associated PR. We have a slightly related discussion going on that covers whether we should be throwing exceptions and whether it should be only forced when nullable reference types are being used.

So to give a heads up we might not rush to get this PR in but I wanted to let you know we are considering this change and how it might need to be spre

[2022-08-11 16:02] brminnick commented on #540
Hi @jBijsterboschNL! Are you blocked by this?

A work-around is to set `Text` to `string.Empty`:

[code]

[code]

[2022-08-11 16:18] jBijsterboschNL commented on #540
Hi Brandon,

Thanks for thinking with me. This is indeed the workaround I've added for now.

[2022-08-11 16:57] brminnick commented on #540
Ok good!

Yea, this has raised a bigger conversation around how we're handling the default .NET MAUI values. For example, `null` is a valid value for `Entry.Text`, so shouldn't the Toolkit allow/handle default values accordingly? We'd prefer to avoid `null` since .NET is incrementally moving away from `null`, but at the same time it does make sense to flow-through .NET MAUI's implementation into t

[2022-08-13 04:46] pictos opened #542 "[Proposal] BindableProperty generator"
# [Bindable Property (BP) generator]

* [x] Proposed
* [ ] Prototype: Not Started
* [ ] Implementation: Not Started
  * [ ] iOS Support
  * [ ] Android Support
  * [ ] macOS Support
  * [ ] Windows Support
* [ ] Unit Tests: Not Started
* [ ] Sample: Not Started
* [ ] Documentation: Not Started

## Link to Discussion

- https://github.com/CommunityToolkit/Maui/discussions/458
- https://github.com/C

[2022-08-14 00:37] pictos commented on #522
@NickDevoctomy
Could you attach a small repro?

[2022-08-14 00:50] pictos commented on #462
@imms20 I could confirm the issue, but didn't find anything on docs about how to disable it. So I'll presume this is something on WinUI not on us. Please open an issue there.
If you or anyone knows how to disable this behavior please tell us or open a PR (:

[2022-08-14 00:50] #462 closed

[2022-08-14 00:57] pictos commented on #451
@jdunaway this looks like a .NET MAUI issue, so I'll close this issue.

[2022-08-14 00:57] #451 closed

[2022-08-14 02:26] pictos commented on #440
Looks like it has something to do with the ScrollView. Need more investigation

[2022-08-14 05:56] VladislavAntonyuk commented on #542
I like the option 1.
Do we need OwnerType property? It is the same as typeof(Class)

[2022-08-14 06:01] VladislavAntonyuk commented on #542
We can include this feature with .NET 7 release and C# 11 later this year.

[2022-08-14 08:50] bijington commented on #542
Is it possible to enhance option 1 to allow us to annotate our methods for things like PropertyChanged handlers?

[code]

[2022-08-14 17:41] breezerc opened #545 "[Bug] Email validation in iOS App shows text as red for valid email."
### Description

I'm trying to use toolkit for email validation as it shown in microsoft documentation:
 <Entry>
        <Entry.Behaviors>
            <toolkit:EmailValidationBehavior
                InvalidStyle="{StaticResource InvalidEntryStyle}"
                ValidStyle="{StaticResource ValidEntryStyle}"
                Flags="ValidateOnValueChanged" />
        </Entry.Behaviors>
    </Entry

[2022-08-14 17:44] brminnick commented on #545
Hi @breezerc! Could you add a small sample reproduction to help us reproduce the bug?

[2022-08-14 19:28] pictos commented on #542
@VladislavAntonyuk, it's possible to infer but is good to expose if the user wants to specify another owner class (for example the base class). I showed that in the `CardDescription` sample.

@bijington, yes that should be possible

[2022-08-14 20:47] breezerc commented on #545
I copy & pasted the code I mentioned from the Microsoft article.
Here is the full xaml page:
<?xml version="1.0" encoding="utf-8" ?>
<ContentPage xmlns="http://schemas.microsoft.com/dotnet/2021/maui"
             xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
             xmlns:toolkit="http://schemas.microsoft.com/dotnet/2022/maui/toolkit"
             x:Class="MauiTestApp.MainPage">

[2022-08-14 21:13] breezerc commented on #545
Hm... I got the issue reproduced with this native code:
[code]
While I see "valid" printed in the console. The text color stays red.

Test cases:
Test@gmail.com - text is green
Testerka@gmail.com - text is red.

Tested both on real iPhone and on emulator.

[2022-08-14 21:33] pictos commented on #545
@breezerc would be great if you could upload your sample project here. You just need to zip the project past and drag and drop it here, or upload the sample to GitHub and share the link. Even if we copy and paste the code here we can configure our project with another pattern and not reproduce the issue and waste time.

[2022-08-14 22:28] breezerc commented on #545
I found the problem. By default keyboard uses 'Default' type which on iOS includes Spell checking. The spell checking making the text red in the failed test cases.
The fix is either disable spell checking:
[code]
Or set the keyboard for the entry to the 'Email' type:
[code]
It would be good to update the Microsoft documentation here:
[Microsoft Article](https://docs.microsoft.com/en-us/dotnet/comm

[2022-08-15 15:13] KSemenenko commented on #85
any updates here?

[2022-08-15 15:54] pictos commented on #85
@KSemenenko not yet. I'll circle back on .NET MAUI team to see if this will be in the framework or not

[2022-08-15 18:06] brminnick commented on #545
Incredible detective work, @breezerc!! This makes sense why I couldn't reproduce the bug by passing `mabuta@gmail.com` into our Unit Tests.

I wonder if it makes sense for `EmailValidationBehavior` to change the `Keyboard` property of the `Entry`? We could add this code to `EmailValidationBehavior.cs`:

[code]

[2022-08-16 07:54] HobDev opened #548 "[Bug] Popup transparent color is white on iOS"
### Description
The Popup color is set to Transparent. But it still have white background on iOS.

### Link to Reproduction Sample
https://github.com/HobDev/MauiBugs/tree/PopupColorIssue

### Steps to Reproduce

1. Run the app on iOS . The popup will run for 8 seconds with white background. But the Color property is set to Transparent.

### Basic Information
- Version with issue: 1.2.0
- Last know

[2022-08-16 10:47] LeanTolo opened #549 "[Bug] ShouldDismissKeyboardAutomatically Not Working"
### Description

When running the project on Android the keyboard does not close automatically

### Relevant log output
No response

### Steps to Reproduce

1. Create a blank project
2. Add `xmlns:toolkit="http://schemas.microsoft.com/dotnet/2022/maui/toolkit"`
3. Add `<SearchBar Placeholder="Test Keyboard"
                                HorizontalTextAlignment="Center"

[2022-08-16 19:08] bijington commented on #501
I've been thinking on this issue. My analyser knowledge is limited but I suspected that working out that `ConfigureLibrary` calls `UseMauiCommunityToolkit` might be complicated. Especially if we consider there might be another layer in the way. Is this correct?

If so could we introduce an attribute the could be added to the `ConfigureLibrary` method so we know it is initialising our toolkit? Some

[2022-08-16 19:27] bakerhillpins commented on #501
@bijington  My source generator knowledge is limited, though I have authored some for our development chain, and I do believe that this will be a difficult problem to solve. I actually tried (without success) to locate a discussion about this subject that I recall landing on where this was abandoned.

However, I'd have thought that this source generator should only be called by the project that ac

[2022-08-16 19:36] breezerc commented on #545
Thanks!

If you want my opinion I'm split here. From one side it makes total sense. From another side it is a validation behavior changing keyboard layout. May be seen as unexpected side effect.
Probably change the documentation + comment on this may be a slightly better.

[2022-08-16 20:48] pictos commented on #501
@bijington yes, we can add an attribute and look for that. That should work similarly to how the analyzer detects Obsolete attributes in the code base.

@bakerhillpins this isn't a Source Generator issue and a Roslyn Analyzer issue. We don't want to cover all scenarios, if the user is doing something fancy he/she can disable our analyzer easily, as you can see in the screenshot below:
![image](htt

[2022-08-16 21:01] bakerhillpins commented on #501
@pictos My understanding is that Source Generators are based in the [ Roslyn Analyzer arch](https://docs.microsoft.com/en-us/dotnet/csharp/roslyn-sdk/source-generators-overview). So same basic premise behind both.

[2022-08-16 21:47] pictos commented on #501
Ooh i see now

[2022-08-16 21:56] brminnick commented on #542
I vote for Option 4.

I love the idea of aligning to the MVVM Toolkit and putting the attribute on the Field.

We’d want to include an Analyzer to provide a helpful error message to devs who maybe try to implement a static constructor themselves, letting them know to use the partial method instead. However, I don’t imagine many developers are using static constructors on their views.

And if we pr

[2022-08-16 22:00] pictos commented on #542
we can do this in the SG level

[2022-08-16 22:03] bijington commented on #542
For Option 4 if we could somehow guarantee that the field name ends in Property (not sure we can) then we wouldn't need the dev to provide the name for the property.

[2022-08-16 22:17] bijington commented on #542
I think I still prefer Option 1. While Option 4 might be slightly more aligned with the MVVM toolkits approach it is only by the fact that devs place an attribute on the backing field. The field itself doesn't contain anything useful in terms of type information needed, this leads to an additional line of code for developers which provides no value to them and also the need to workaround the scena

[2022-08-16 22:25] Sergio0694 commented on #542
FWIW, I plan to implement this (for `DependencyProperty`) for UWP/WinUI 3, but I'll wait for C# 12 and hopefully partial properties. While other approaches would also work, I don't personally like them (especially using fields over a class, with the property name as a string), as they're just not idiomatic enough. You might want to consider when you plan to ship this generator as a stable release.

[2022-08-16 22:30] bakerhillpins commented on #501
@pictos If I understand you correctly you're suggesting that inclusion of the library in a decoupled design (Among other designs) would require an extra step to disable the build error - Effectively an Opt Out feature? From my perspective that's certainly an undesirable behavior. I'd hate to have to have users include a library and then be met with an error that's not technically necessary or even

[2022-08-16 22:54] brminnick commented on #542
Thanks Sergio!!

Just one quick note: The Field provide us the declaring type of the BindableProperty and its name. For example `public static readonly string LabelTextProperty;` tells us that we are generating code for a `string` called `public string LabelText { get; set; }`.

[2022-08-16 23:28] pictos commented on #542
@brminnick but the field will not be of `string` or any other type but `BindableProperty`

[2022-08-16 23:34] pictos commented on #501
@bakerhillpins if in your lib, you don't call the `UseMauiCommunityToolkit` and the application developer call that method on the `MauiProgram` class, will the lib work? Or is it required to call our initializer inside the lib's init method?

For a bit more context, at least for me, never thought that lib. authors will reference our toolkit, so I never account this scenario in the analyzer.

I dis

[2022-08-16 23:54] pictos commented on #548
@HobDev thanks for the report, but this is how iOS handles that, as you can see [here](https://github.com/CommunityToolkit/Maui/issues/499#issuecomment-1189662437).

Feel free to re-open this issue if you find some apple docs that say the opposite.

[2022-08-16 23:54] #548 closed

[2022-08-17 06:46] Cywizz opened #550 "[Bug] Fatal Crash using UniformItemsLayout on Windows"
### Description

On Windows, using a UniformItemsLayout and setting a margin and its VerticalOptions = "StartAndExpand" causes a crash with error:
Exception = {"Element not found. (0x80070490)"}

### Stack Trace

### Link to Reproduction Sample

Easy to reproduce, see below

### Steps to Reproduce

1. Create brand new MAUI app
2. Add latest MCT nuget release 1.2.0
3. Hookup the toolkit in the Maui

[2022-08-17 07:33] VladislavAntonyuk commented on #550
It should be already fixed by https://github.com/CommunityToolkit/Maui/commit/0518cfb512894a39a43d69f337a44d56273989f1

[2022-08-17 07:39] Cywizz commented on #550
Ok great, thanks @VladislavAntonyuk . I will check again upon new version release.

[2022-08-17 07:47] bijington commented on #542
Oh yes sorry I didn't give much detail on that. The other issue is we would be relying on the developer to add the `Property` suffix which could be prone to typos, etc.

[2022-08-17 12:52] bakerhillpins commented on #501
Yes it will work that way but that brakes the encapsulation/isolation of the library by forcing an unnecessary dependency between the application and a package which is only necessary for the Library, that the application that references the library shouldn't have to know about. This is the same reason a developer would specify an Interface/API publicly and hide the details of the implementation b

[2022-08-17 13:29] bijington commented on #501
I don't believe we did discuss this feature anywhere here because the main aim was to reduce the number of issues that were being raised because developers were not reading the documentation. Therefore the goal of the feature was to reduce burden on the maintainers with the added benefit of the tooling informing the developers of the steps they had missed.

I can't speak for all of the maintainers

[2022-08-17 13:47] bakerhillpins commented on #501
In the end, as the maintainers you have the ultimate decision here and I respect that. I'll make my use recommendations/decisions based upon needs for our business. I can sympathize with the situation that arises from the predominate behavior of software developers these days.

The library is a separate NuGet package designed to be consumed on an as needed basis by multiple business applications.

[2022-08-17 15:49] brminnick commented on #501
Hey Gang! This is a challenging problem to solve. Implementing Roslyn Analyzers and Code Fixes is a new challenge for all C# developers, and I promise you that if I knew how to solve this Issue I would've implemented it already, just like I'm sure you, @bakerhillpins, would've submitted a PR if you knew the solution as well.

We will be keeping this Analyzer because `UseMauiCommunityToolkit()` is

[2022-08-17 16:10] bakerhillpins commented on #501
Disappointing but not unexpected.

? Confused as to the necessity of this comment.

[2022-08-17 17:23] brminnick commented on #520
Hey Pedro! Was this completed via #521? Or do we need one more step to cover the `Turn-on package validation` task?

[2022-08-17 17:36] pictos commented on #520
@brminnick yeah, I need to do the other task, at least need to confirm that it should be done

[2022-08-17 20:41] #545 closed

[2022-08-17 22:28] VladislavAntonyuk opened #553 "[Bug] ColorConverters don't use current culture info"
### Description

We should use the culture info when we convert color with alpha to string.

for example:
alpha: 0.5.
ToString() in US it returns 0.5
ToString() in UA it return 0,5

As a result, all color tests failed on my machine.

### Steps to Reproduce

1. Create color Color(0, 0, 0, 0.5f); with alpha
2. Call converter with culureInfo: converter.Convert(color, new CultureInfo("en-US");

### Ex

[2022-08-18 10:25] kphillpotts commented on #549
Thanks for the reporting @LeanTolo. I reproduced this on Android API 30.
I believe this is related to https://github.com/dotnet/maui/issues/6933

[2022-08-18 15:06] GeorgeLeithead commented on #65
I have a working prototype here: [65-IsInRangeConverter](https://github.com/GeorgeLeithead/CommunityToolkitMaui/tree/65-IsInRangeConverter).
I have samples for most of the `IComparable` derived types and will work on the others for completeness.
NOTE: I have left in GreaterThan and LessThan capabilities as these are easy in the converter (, but I do know that `CompareConverter` already does this.

[2022-08-19 13:42] one966 opened #556 "[Bug] Development switchover between multiple platforms is abnormal：RelayCommand"
### Description

RelayCommand Uses the create command
When I was developing in the Window environment, I wrote two commands and they ran normally. However, when I switched to the Android platform and then switched to the Window environment, there would be problems with these commands.
### Stack Trace

Type "Alert GalleryViewModel" already contains the definition of "toastJSfCommand"

### Link to R

[2022-08-19 14:35] pictos commented on #556
@one966
Could you attach a small repro?

[2022-08-19 14:40] LeanTolo opened #559 "[Bug] MaskedBehavior does not allow writing on entry"
### Description

When i try to implement `<toolkit:MaskedBehavior Mask="####-####-####-####" />` cannot write on entry

### Steps to Reproduce

1.  Create MAUI project and add maui toolkit
2. Add `xmlns:toolkit="http://schemas.microsoft.com/dotnet/2022/maui/toolkit"` on main page
3. Add `<Entry HorizontalOptions="FillAndExpand"
                       HorizontalTextAlignment="Center"

[2022-08-19 14:45] one966 commented on #556
https://github.com/one966/DeviceManage.git

[2022-08-19 14:57] IeuanWalker commented on #559
@LeanTolo the default unmasked character is `X`, so changing the `#` to `X` should work.

Or you can add the property `UnMaskedCharacter="A"` to the behavior

[2022-08-19 15:00] LeanTolo commented on #559
Changed # to X and it works! Thanks

[2022-08-19 15:00] #559 closed

[2022-08-19 15:36] bijington commented on #556
I think this is an issue on the MVVM toolkit and not the MAUI toolkit. Can we transfer issues between these repos?

[2022-08-20 19:05] GuildOfCalamity commented on #113
It's strange there's no audio capability for MAUI, since this was already in the Xamarin framework.

[2022-08-22 12:10] GeorgeLeithead opened #564 "[Bug] AvatarView size not available to children."
### Description

When using `AvatarView` and setting the `WidthRequest` and/or the `HeighRequest`, these are not available to the child (such as with `GravatarImageSource`.

### Stack Trace

### Link to Reproduction Sample

[Repository](https://github.com/GeorgeLeithead/CommunityToolkitMaui/tree/110-GravatarImageSource)

#### XAML example

[code]

### Steps to Reproduce

1. Add `AvatarView` to pag

[2022-08-22 18:04] bijington commented on #113
It's funny you should mention it because this was being worked on https://github.com/jfversluis/Plugin.Maui.Audio 👀

[2022-08-24 02:32] beeradmoore commented on #86
Was just looking at planning ahead for my XF -> MAUI app migration which is planned for much further in the future. I use `NativeAnimation` a lot, I find it gives some nice polish. I don't think I can help contribute but I like seeing that the proposal is up at least.

[2022-08-24 15:10] michsco commented on #527
@pictos -- Any idea when this fix will actually be available on NuGet? Our upgrade to MAUI has come to a standstill due to this issue.

[2022-08-24 17:51] pictos commented on #527
@michsco will be available in the next release... I believe that will be at the beginning of September

[2022-08-25 15:15] gktval opened #568 "[Bug] Popout displays again on right click UWP"
### Description

After a popup is initially shown, interacted with, and closed, the popup will reappear when the user right clicks anywhere on the previous page.

### Code
Here is applicable code for displaying and closing a popup:

[code]

### Steps to Reproduce

1. Open the popup
2. Close the popup
3. Right click anywhere on the page after the popup closes

### Expected Behavior
I expect the pop

[2022-08-26 16:35] VladislavAntonyuk commented on #568
duplicate of https://github.com/CommunityToolkit/Maui/issues/462

[2022-08-27 06:53] mapo80 commented on #259
Hi @pictos, can you share github branch where Is your implementation so we can help you to complete this task?

Thanks

[2022-08-27 15:16] pictos commented on #259
@mapo80, [here is](https://github.com/CommunityToolkit/Maui/tree/pj/cameraView-initial-work) the branch. Right now I'm blocked by the tooling... I couldn't deploy/debug using a physical device... So I'll wait until the next release and see if that fixes my issue and move forward.

[2022-08-29 07:45] H-A-Hristov opened #569 "[Bug] EventToCommandBehavior does not pass EventArgs to command."
### Description

Using EventToCommandBehavior to bind Event to a Command, the EventArgs are not passed to the command.

[RelayCommand]
void Navigated(WebNavigatedEventArgs args) //this is called with args = null.

### Stack Trace

### Link to Reproduction Sample

### Steps to Reproduce

1. Bind command to the WebView navigated event, without specifying the CommandParameter.
2. Write a command that

[2022-08-29 21:21] H-A-Hristov commented on #569
There really isn't too much of a code to test.

Adding this to WebView Behaviors in the XAML:
[code]

Adding this to the bound ViewModel:
[code]

The command is generated correctly. The command gets called after the event is raised.
The parameters are null.

The most important thing during to test, is to not test with MAUI.Dependencies 6.0.4, but update them to 6.0.486.
Because in the older versio

[2022-08-30 01:27] Greg-Bates-Trimble opened #570 "StyleId not working for Popups"
### Description

StyleId does not seem to work for any element on a pop up.
Not a big issue, just adds an inconsistency for developing my project as we are using CSS for our styling.
To get around this I have followed the mct pop up examples and used StaticResource styling.
If possible could this be fixed so that both Style and StyleId is supported, thanks.

### Steps to Reproduce

1. Create a Sty

[2022-08-30 16:02] pictos commented on #569
@H-A-Hristov, the situation isn't the amount of code... It's that we follow different patterns, maybe I set up my project in a different way and can't reproduce the issue. So in order to avoid time waste we always ask a reproduction project, that we can just _plug-and-play_ and reproduce. That said would be great if you attach or share a link to a repo that has the project with the issue (:

[2022-08-30 22:15] H-A-Hristov commented on #569
You can use the template for MAUI application that comes with visual studio 2022.

[2022-08-31 18:50] gktval opened #575 "[Bug] Popup does not respect Marigns when Stacklayout vertical layout options are set to expand"
### Description

When the main Stacklayout in the popup has VerticalOptions="StartAndExpand" and Margin="20", the layout ignores any margin spacing.

![image](https://user-images.githubusercontent.com/7605046/187755601-028b0e64-5e43-483a-8b8e-fc6c991f7cbb.png)

If VerticalOptions="Start", then issues similar to this happen: https://github.com/CommunityToolkit/Maui/issues/388 (the layout is not ful

[2022-08-31 19:06] pictos commented on #575
@gktval
Could you attach a small repro?

[2022-08-31 19:54] gktval commented on #575
Here is a link to a small example
https://www.dropbox.com/s/bkwf5wwjp6gl808/StackLayoutExample.zip?dl=0

[2022-08-31 20:00] gktval commented on #575
Here is an example
[StackLayoutExample.zip](https://github.com/CommunityToolkit/Maui/files/9464655/StackLayoutExample.zip)

[2022-09-01 14:32] andreasbrostencab commented on #259
Great news there is a maui version on the way! :)

When using the cameraview from XCT, the flash causes over (or sometimes under) exponation of the image. Often making it way to white, if taking a photo in a dark room. Will photos with flash work better with this MAUI-version?

[2022-09-01 20:12] pictos commented on #259
@andreasbrostencab, the short answer is "I hope so". The long answer is, that we use the default and simple APIs from the Cameras APIs, because we want to be more general and simple... So we will expose APIs to control the flash intensity or something like, but the new implementation will be easier to expand.

[2022-09-01 20:31] egvijayanand commented on #542
I still feel too many keystrokes are involved in the options mentioned as the user has to define those attributes at some level (field/class). Rather this can be addressed with code snippets that will automate it as a template and once inserted, modify the necessary ones.

[2022-09-03 14:24] VictorHFerreira commented on #460
i have the same issue here and i dont think it's from maui. My entry was working fine, until i put masked behavior on it. On windows it works fine, but in android, tha issue happens

[2022-09-05 09:45] DSlutter commented on #569
Came across this as well. After looking through the history of EventToCommandBehavior i found that eventArgs are no longer passed as a parameter without a converter. If you want to pass the eventargs create an converter inheriting from BaseConverterOneWay<EventArgsType, ReturnType> and add it as EventArgsConverter

`
<mct:EventToCommandBehavior EventName="Event" Command="{Binding Command}"
EventAr

[2022-09-05 12:28] MuhammadKasimov opened #597 "Enum was created in interface folder"
# [FEATURE_NAME]

* [x] Proposed
* [ ] Prototype: Not Started
* [ ] Implementation: Not Started
  * [ ] iOS Support
  * [ ] Android Support
  * [ ] macOS Support
  * [ ] Windows Support
* [ ] Unit Tests: Not Started
* [ ] Sample: Not Started
* [ ] Documentation: Not Started

## Link to Discussion

## Summary
[summary]: #summary

## Motivation
[motivation]: #motivation

## Detailed Design
[design]:

[2022-09-05 12:29] MuhammadKasimov commented on #597
Enum Toast duration wass created in interface folder and namespace naming was wrong

[2022-09-05 12:30] MuhammadKasimov commented on #597
- [ ]

[2022-09-05 12:36] MuhammadKasimov commented on #597
`namespace CommunityToolkit.Maui.Core.Enums;
/// <summary>
/// Toast duration
/// </summary>
public enum ToastDuration
{
	/// <summary>
	/// Displays Toast for a short time
	/// </summary>
	Short,

	/// <summary>
	/// Displays Toast for a long time
	/// </summary>
	Long
}`

all namespace in interface folder should be changed to

`namespace CommunityToolkit.Maui.Core.Interfaces;`

[2022-09-05 12:39] MuhammadKasimov commented on #597
[code]
all namespace in interface folder should be changed to

`namespace CommunityToolkit.Maui.Core.Interfaces;`

[2022-09-05 12:42] bijington commented on #597
@MuhammadKasimov Please stop. The updates to this is spamming us maintainers. This is also not a change that we want or need.

If you would like to contribute in a way that helps us I would be happy to provide assistance there

[2022-09-05 13:13] #597 closed

[2022-09-05 15:37] rmarinho opened #605 "[Proposal] Windows Map handler based on WebView"
# Windows Map handler

* [x] Proposed
* [x] Prototype: Started
* [x] Implementation: Started
  * [ ] iOS Support
  * [ ] Android Support
  * [ ] macOS Support
  * [x] Windows Support
* [ ] Unit Tests: Not Started
* [ ] Sample: Not Started
* [ ] Documentation: Not Started

## Link to Discussion

## Summary
[summary]: #summary

We have released the Map view on MAUI .net7, unfortunately there was no

[2022-09-05 16:12] brminnick commented on #605
Thanks Rui! This appears to be windows-specific.

Should this be added to the Windows Community Toolkit? https://github.com/CommunityToolkit/WindowsCommunityToolkit

[2022-09-05 16:23] rmarinho commented on #605
I don' think so .. this is more to help MAUI users and migration from Xamarin.Forms to MAUI.

[2022-09-05 22:20] VladislavAntonyuk commented on #605
Why it cannot be a separate package or a part of .NET MAUI?
It may be confused for users in feature when the maps available in both .NET MAUI and Community Toolkit.
Also Toolkit is based on initial .NET MAUI release (6.0.312). Do we want to upgrade?

[2022-09-06 09:57] rmarinho commented on #605
@VladislavAntonyuk  this would live in the Community Toolkit until we have a proper solution for WinUI , and then we would obsolete and drop it from the Community Toolkit.
We talked internally and this was the best decision as we don't want to put it on MAUI repo for now.
This would be shipped on the toolkit on a 7.0 version.

[2022-09-07 06:25] smardine commented on #86
Hello, is there any news about this?
I can't find it in current version 1.2
Hope it will be implement soon 🤞

[2022-09-07 12:27] ForkBug opened #609 "[BUG] IOS version supported"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

A project said the following errors when being compiled: "warning CA1416: This call site is reachable on: 'iOS' 10.0 and later, 'maccatalyst' 10.0 and later. 'ColorConversionExtensions.WithRed(Color, double)' is only supported on: 'iOS' 14.2 and later, 'maccatalyst' 14.2 and later."

And thes

[2022-09-07 13:45] EPS-Lac commented on #85
Hi @pictos, what's the state on this one?

I'm a bit confused with the different issues here and in the MAUI project...
Are you going to implement it in the CommunityToolkit or will the MAUI team add it directly in MAUI?
And has any work on it already started?

I'll need the feature for a customer project...
So if nothing has been implemented yet (nor is in the pipeline to do so shortly), any tips

[2022-09-07 14:07] pictos commented on #85
Hey @EPS-Lac, it's WIP I should have a PR by the end of this week. I hope this can be in the next stable release, if don't I can guide you on how to implement the feature or how to use the nuget generated by the PR.

[2022-09-07 14:14] jfversluis commented on #85
Let's make sure we wait for this one for the next release. A lot of people are waiting for this one. Unless something really weird happens, then we'll make a release first while we work on this.

[2022-09-07 14:34] maxkoshevoi commented on #85
@pictos Oh, I thought, I would be assigned to port this one..

[2022-09-07 14:38] maxkoshevoi commented on #103
Since it seems like https://github.com/CommunityToolkit/Maui/issues/85#issuecomment-1239441230 is getting some traction, could this one be moved forward as well?

[2022-09-07 15:04] jfversluis commented on #85
Probably since it has been a while we forgot to check if you were still available. On to the next one! 😉

[2022-09-07 15:41] KSemenenko commented on #85
good news :) waiting for it :)

[2022-09-07 15:57] maxkoshevoi commented on #85
@jfversluis How about https://github.com/CommunityToolkit/Maui/issues/103? =)

[2022-09-07 19:15] pictos commented on #103
@maxkoshevoi we will vote to champion this after the Status bar implementation

[2022-09-07 21:01] VladislavAntonyuk commented on #609
These are the same lines of code which are in default .NET MAUI template.

[2022-09-08 01:49] ForkBug commented on #609
Hope Ukraine get peace soon.

MAUI supports IOS 10 or higher [(doc)](https://docs.microsoft.com/en-us/dotnet/maui/supported-platforms)

[2022-09-08 05:55] u1-kino commented on #568
@VladislavAntonyuk   @gktval
With the following countermeasure code, the popup is no longer displayed on right click.
The point is to assign null to the ContextFlyout property after ShowPopupAsync.

[code]

[2022-09-08 06:43] mantasdaskev commented on #86
Hello, I am wondering about that too. I have  few controls that depends on it and after migrating to MAUI I had to comment it out and release is now suspended.

[2022-09-08 06:56] VladislavAntonyuk commented on #609
Thank you @ForkBug. Could you please send a link to a small repro project. It will help us investigate the issue

[2022-09-08 08:00] H-A-Hristov commented on #569
Even object to object converter like this:
`
        public override object ConvertFrom(object value, CultureInfo culture)
        {
            return value;
        }
`
will get the job done.

[2022-09-08 09:22] VladislavAntonyuk commented on #569
Guys, we appreciate your efforts to create an issue, but we require reproduction source code (published on GitHub, not a zip archive) to continue investigating the issue.

[2022-09-08 12:44] Rashidovicc opened #612 "[BUG] Simple Exception Syntax Error."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The exception message should be corrected for syntax.

### Expected Behavior

 Letter case should be default case, old version is pascal case...

### Steps To Reproduce

1.Open and run solution fron reproduction repository.
2.If you get an exception message when you run the program, there are

[2022-09-08 14:13] pictos commented on #86
Hey people, don't have a Date for you right now, but I'll jump on this one right after I finish the status bar implementation (should have a PR during this week). If the port goes well we can have this soonsh

[2022-09-08 16:01] VladislavAntonyuk commented on #612
Approve

[2022-09-08 16:55] VladislavAntonyuk commented on #609
I confirm it is reproduced. We will discuss the issue on next stand up

[2022-09-08 19:15] #553 closed

[2022-09-08 21:05] smardine commented on #86
🤞😇

[2022-09-08 22:30] #612 closed

[2022-09-09 02:07] pictos commented on #85
The PR linked to this issue will not implement the `StatusBarStyle`, and it's due to an API change on Apple.

The current way to do this is overriding the preferredStatusBarStyle and we can't do that here... The change should happen in .NET MAUI itself providing a way to control it.

More info [here](https://sarunw.com/posts/how-to-set-status-bar-style/#style-based-on-view-controllers).

IF anyone

[2022-09-09 05:59] H-A-Hristov commented on #569
You have your sample.
This issue has nothing more, but the most basic sample that comes as documentation from the Community Toolkit.

https://github.com/CommunityToolkit/Maui/blob/main/samples/CommunityToolkit.Maui.Sample/Pages/Behaviors/EventToCommandBehaviorPage.xaml

More importantly, if you do not like this sample - it has only one line of code you have to add:
`<mct:EventToCommandBehavior

[2022-09-09 06:53] jenscski opened #618 "[BUG] Referencing Community Toolkit in shared library causes warnings"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I'm creating a .NET MAUI application, where I have a library with ui elements, and I want to use Community Toolkit in this library.

When I'm referencing this library with the .NET MAUI App, I get several warnings.

[code]

### Expected Behavior

No warnings when compiling

### Steps To Repro

[2022-09-09 07:26] KSemenenko commented on #85
[code]

[2022-09-09 08:20] marcmognol commented on #618
Hi, I think it is duplicate of issue #411

[2022-09-09 08:27] bijington commented on #618
@marcmognol yes it is a duplicate of that. Thanks for finding it.

@jenscski this hasn't been resolved in a public release yet but one should be coming very soon (within the next week I think)

[2022-09-09 08:27] #618 closed

[2022-09-09 09:21] jenscski commented on #618
Is there a daily build or something of this library?

I checked out the source for CommunityToolkit Maui and built a new local nuget,but I still get the warnings ...

[2022-09-09 09:34] bijington commented on #618
Yes you should be able to gain access to a preview build based on this article:

https://github.com/CommunityToolkit/Maui/wiki/Preview-Packages

[2022-09-09 10:24] espenrl opened #619 "Sourcegenerator code produces warnings"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The auto generated code produces warnings. In this case it breaks the build because the project is setup with `<AnalysisMode>All</AnalysisMode>` and `<TreatWarningsAsErrors>true</TreatWarningsAsErrors>`.

[code]

### Expected Behavior

No warnings and also a `<auto-generated>` header should b

[2022-09-09 12:42] marcmognol commented on #619
Hi, could you please check that PR #408 fixes your issue.
This PR which will be released soon fix the auto-generated flag.

[2022-09-09 14:02] pictos commented on #85
@KSemenenko, first of the all thanks for the code snippet.
The StatusBarStyle get updated? And what place do you override your `CreateWindow` method?

[2022-09-09 15:40] KSemenenko commented on #85
this is in App.xaml.cs, I also will sent you all my file:
[code]

In mine implementation, I have some static class, and event, so it's not best solution for sure.

[2022-09-09 15:46] KSemenenko commented on #85
as you can see, the problem is that this thing works on current page.
as in Xamarin.Forms the problem is the same.
To completely solve this issue, we need to put these 2 properties in Page class.
and then when page changes its IsVisible property (or becomes visible) then we will need to applay these properties to paint the status bar.

[2022-09-09 16:17] pictos commented on #85
well, changing the status bar color works like a charm, with the current implementation that I've for the PR... The StyleBar doesn't, so I can't change the DarkContent to LightContent... From my research is because apple just allows the dynamic in ViewController, when you override the `preferredStatusBarStyle` method. But we can't do that here, this need to be done on .NET MAUI side.
I'll try this

[2022-09-09 17:27] KSemenenko commented on #85
Maybe it's time to implement our Page? base on Maui Page?
and put all logic there?

[2022-09-09 17:47] LennoxP90 commented on #609
I second this issue, I cannot use the community toolkit unless ios 11 is at least supported

[2022-09-09 18:45] mavispuford opened #620 "[BUG] Popup doesn't work with hot reload"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

`Popup` xaml changes aren't reflected with hot reload.  I'm not sure if this was part of the original intended functionality, but it can be quite tedious to iterate on `Popup` design changes.

### Expected Behavior

`Popup` xaml changes should ideally be reflected during runtime, just like ot

[2022-09-09 18:51] pictos commented on #620
Hey @drasticactions, in an overview can you tell if this is on us?

[2022-09-09 20:06] mavispuford commented on #620
I got a bit curious and looked at the .NET MAUI source code.  Looks like [classes have to implement `IHotReloadableView` in order to be reloaded.](https://github.com/dotnet/maui/blob/10be7d53f9fc8b3c7e1bc99fc6eb8528289b7085/src/Core/src/HotReload/IHotReloadableView.cs)

The [`View` class implements `IHotReloadableView`.](https://github.com/dotnet/maui/blob/10be7d53f9fc8b3c7e1bc99fc6eb8528289b7085/

[2022-09-09 21:07] espenrl commented on #619
Yes, I could check it if I hadn't left for vacation today. I can do it in two weeks time.

I would add this to the sample csproj.

[code]

https://github.com/CommunityToolkit/Maui/blob/main/samples/CommunityToolkit.Maui.Sample/CommunityToolkit.Maui.Sample.csproj

[2022-09-09 21:15] pictos commented on #85
@KSemenenko I tested your code on my end... And the status bar content keeps in white color. So this doesn't work as well or did something wrong :/
Do you have a project that you can share ?

[2022-09-09 21:33] drasticactions commented on #620
@mavispuford IHotReloadabieView has nothing to do with XAML Hot Reload, it has to do with Comet. Implementing it won't do anything for XAML Hot Reload.

@pictos For XAML Hot Reload to work, you need to implement IVisualTreeElement, https://github.com/dotnet/maui/blob/main/src/Core/src/Core/IVisualTreeElement.cs

Most base MAUI controls (Apart from ListView) implement this out of the box. XAML Hot

[2022-09-10 00:20] pictos commented on #620
@drasticactions. Thanks for the answer, I'll look further to implement this.

[2022-09-10 00:25] drasticactions commented on #620
It depends on the control, but generally you should only need to place it on the top most level, unless the control handles child elements in a weird way. Basically, if you don't see the child elements in the Live Visual Tree, it is not tracked and can't be hot reloaded.

You may also need to make sure whenever the popup is invoked, that VisualDiagnostics OnVisualTree changes are fired, https://gi

[2022-09-10 03:48] drasticactions commented on #620
Also, I would leave an issue in the MAUI repo about docs for this, since none of that is obvious unless you're me, lol.

[2022-09-10 03:52] pictos commented on #620
or if the person know that you know these secrets xP

I'll find time to fill out an issue

[2022-09-10 04:50] #568 closed

[2022-09-10 05:41] EduardoReisDev commented on #440
Same problem here

![image](https://user-images.githubusercontent.com/52722526/189470867-3178ed1e-162a-4e25-9e9a-a05a96430699.png)

[2022-09-10 05:43] EduardoReisDev commented on #440
@pictos, não sei se isso ajuda kk

[2022-09-10 08:56] KSemenenko commented on #85
this is my original PR
https://github.com/xamarin/Xamarin.Forms/pull/8298

I will create demo app today, because for me this issue is big blocker, and I will help you as much as need to have this functional :)

[2022-09-10 11:00] KSemenenko commented on #85
@pictos  did you add into info.plist
[code]

[2022-09-10 14:25] KSemenenko commented on #85
@pictos  it will take more time, it my first time for custom rendered for MAUI,  maybe you have some code, so I can working with it?

[2022-09-10 14:57] KSemenenko commented on #85
[Maui-StatusBarStule.zip](https://github.com/CommunityToolkit/Maui/files/9540663/Maui-StatusBarStule.zip)
done  iOS works

[2022-09-10 15:26] KSemenenko commented on #85
[ios_andoird.zip](https://github.com/CommunityToolkit/Maui/files/9540745/ios_andoird.zip)
iOS + and/or
I love MAUI :)

so for iOS this is the issue

[code]

[2022-09-10 16:34] pictos commented on #440
@EduardoReisDev if you set the horizontal/verticalOptions = "Center" does it fix on iOS?

[2022-09-10 16:41] EduardoReisDev commented on #440
@pictos, nop!

![image](https://user-images.githubusercontent.com/52722526/189493167-3273fb14-225a-478e-b3b2-2ca1687e7da9.png)

[2022-09-10 16:47] pictos commented on #85
Hey @KSemenenko I could confirm it works at runtime. Thanks for the snippet

[2022-09-10 16:48] pictos commented on #440
@EduardoReisDev I'm talking about the popup control and not the layout

[2022-09-10 17:23] KSemenenko commented on #85
@pictos in my pr you can also find uwp code.
Anyway maybe you need some help?

[2022-09-10 17:24] pictos commented on #85
@KSemenenko yeah, we are porting this feature from XCT, which is based on your Forms PR. The UWP doesn't work because on Maui we use the WinUI3 APIs, and they didn't implement the ability to change the status bar color manually.

[2022-09-10 17:37] KSemenenko commented on #85
@pictos realy? Omg…..
it least we will have it for iOS and Android :)

if you need some help with anything just ping me

[2022-09-10 17:39] pictos commented on #85
Yeap
this [line](https://github.com/xamarin/XamarinCommunityToolkit/blob/f3a42515611b6c4c0c7db684c09cdb5120977b64/src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/StatusBar/PlatformStatusBarEffect.uwp.cs#L58) throws an exception. And this is the related issue.
- https://github.com/microsoft/microsoft-ui-xaml/issues/2509

[2022-09-10 18:49] KSemenenko commented on #85
We released several apps for uwp, but no one relay use it.
So, we can wait :)

[2022-09-10 18:54] KSemenenko commented on #85
But the most important thing is that this effect is performed when the visibility of the page changes.

Especially for shell and tabbedpage. Because this is a global application style. And every page will overwrite it. And when you navigate back, if you don't call this method, it will leave the color from the previous page.

[2022-09-10 19:04] KSemenenko commented on #86
Here is the most important point, in the experience of XF, that the ListView and CollectionView gestures did not allow to process all the other gestures.

And of course multiple gesture handlers are also needed

[2022-09-10 22:32] pictos commented on #85
@KSemenenko for now we will leave the responsibility to trigger that to the dev. If that becomes something very necessary we can create an enhancement ticket and cache the value

[2022-09-11 07:06] KSemenenko commented on #85
Then any ui element can trigger this changes

[2022-09-12 08:58] jenscski commented on #618
I have tested with build from `https://pkgs.dev.azure.com/dotnet/CommunityToolkit/_packaging/CommunityToolkit-MainLatest/nuget/v3/index.json`, but the latest version is 1.0.0-preview2964, but it's from septemer 10, 2022. Is this newer than 1.2.0 from nuget.org despite its name?

If it's never I'm still getting build errors.
Reproduction repository is updated

[code]

[2022-09-13 15:44] LennoxP90 commented on #86
looking forward to not having to continue using XCT MAUI Compat

[2022-09-13 16:17] jonakirke94 commented on #86
Looking foward to this as well!

In the meanwhile I'm wondering if anyone has gotten to Maui Compat version to work with TouchEffect?

I've opened an issue in the XamarinCommunityToolkit repo [here](https://github.com/xamarin/XamarinCommunityToolkit/issues/1905) but haven't found a solution yet :)

[2022-09-14 00:56] pictos opened #626 "[ENHANCEMENT - ANDROID] Implement the new API to change the StatusBar style"
# [Update StatusBar Style implementation for Android]

* [x] Proposed
* [ ] Prototype: Not Started
* [ ] Implementation: Not Started
  * [ ] Android Support
* [ ] Unit Tests: Not Started
* [ ] Sample: Not Started
* [ ] Documentation: Not Started

## Summary
[summary]: #summary

In order to ship the `StatusBarBehavior`, we used a deprecated API to change the appearance of Android's StatusBar. We wa

[2022-09-14 03:12] maxkoshevoi commented on #626
Could you assign this to me please?
I'll be able to work on it starting Friday evening (EEST time). If it's needed sooner, feel free to assign it to someone else

[2022-09-14 03:25] pictos commented on #626
@maxkoshevoi no need to rush, we still need to merge the #617

[2022-09-14 19:49] #540 closed

[2022-09-15 08:38] VladislavAntonyuk commented on #379
I believe it can be closed with 1.3.0 release.
You can use SetShouldSuppressExceptionsInConverters

[2022-09-15 13:41] vhugogarcia opened #629 "[BUG] Unable to display Lottie Animation within Popup"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I would like to display a Lottie animation within a popup, however, the animation is loaded only on iOS. Android and macOS do not load the Lottie Animation.

**Android** - The image is not rendered at all.
**iOS** - The image renders and animates properly.
**macOS** - The image renders withou

[2022-09-15 13:52] 99067718 opened #630 "EmptyView not showing on Android"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The emptyView in my program won't show on android, it only shows on Windows, I don't know why thats happening

Android:
![image_2022-09-15_154555471](https://user-images.githubusercontent.com/89968831/190420275-abf17bcd-bbba-42ef-a90f-d2a290d08cd3.png)

Windows:
![image](https://user-images.g

[2022-09-15 14:38] #379 closed

[2022-09-15 14:49] pictos commented on #630
@99067718, I believe this is a .NET MAUI issue, so you should report it [here](https://github.com/dotnet/maui/issues/new/choose)

[2022-09-15 14:49] #630 closed

[2022-09-15 14:52] 99067718 commented on #630
oops, Didn't see that, thanks for letting me know

[2022-09-15 22:12] brminnick commented on #629
Hey @vhugogarcia! We don't have any Lottie tooling in the .NET MAUI Community Toolkit.

Did you perhaps intent to open this Issue on the [.NET MAUI repo](https://github.com/dotnet/maui) or the [SkiaSharp.Extended](https://github.com/mono/SkiaSharp.Extended) repo?

[2022-09-16 03:26] #564 closed

[2022-09-16 04:59] #110 closed

[2022-09-16 05:30] bijington commented on #629
I suggested he open it here. I don't know where the issue lies yet but for now the issue is that the Lottie animation render fine in a .NET MAUI app but not in the toolkits Popup.

[2022-09-16 07:34] #35 closed

[2022-09-16 07:59] GeorgeLeithead opened #632 "[BUG] AvatarView clipping on Windows isn't applied correctly to UriImageSource"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When applying a `StrokeShape`, such as `PolyLine` to `AvatarView`, clipping on Windows where the `ImageSource` is a `UriImageSource` clipping is not applied correctly.
![image](https://user-images.githubusercontent.com/43666574/190586089-58257619-f94e-4900-ad64-511f70e1cbb1.png)

### Expected

[2022-09-16 08:47] VladislavAntonyuk opened #634 "[Proposal] Dialogs"
# Dialogs

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Sample
* [x] Documentation

## Link to Discussion

Discussed in https://github.com/CommunityToolkit/Maui/discussions/381

## Summary
[summary]: #summary

This is a highly requested feature. It can include SaveFileDialog, Fol

[2022-09-16 18:33] profix898 commented on #107
@brminnick: PR in #635 (here is my comment)

[2022-09-16 21:29] brminnick commented on #629
Thanks Shaun! Could we update the title of this Issue to include the problem? Currently, the title is just `[Bug]`.

[2022-09-17 05:42] developer9969 commented on #120
Hi guys - this is a fantastic component - will it make it Maui toolkit? any news?

[2022-09-17 05:51] VladislavAntonyuk commented on #120
@angelru , @developer9969 would you like to implement it?

[2022-09-17 05:55] VladislavAntonyuk commented on #629
And add a link to the repro to reproduce

[2022-09-17 11:48] developer9969 commented on #120
@VladislavAntonyuk Hi there I really appreciate the time you guys give up to give us this wonderful library. I dont feel like I could do a as a good job as you guys!!

One thing I noticed that the Xamarin toolkit was a huge massive success!! And Microsoft at the time was keen for this library to be a success so that they could offload some components that the public contributors had spend months t

[2022-09-17 20:29] pictos commented on #120
Hey @developer9969, Addressing your comments...

I'm 10000000% sure that you can do a great job! I mean, if my code pass the review process anyone can do it as well, and better!

Devs that contributed to this project (during the Xamarin era and now) are still contributing. Devs that donate their feature to us will not create new ones, and still, give us some help improving those features. I've no

[2022-09-17 21:24] pictos opened #637 "[BUG] StatusBar color doesn't update for landscape mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

This was reported by @jfversluis

![image](https://user-images.githubusercontent.com/20712372/190876876-6f1d0c99-aa04-4e29-88f0-cdba31694040.png)

### Expected Behavior

The status bar looks gourgeous

### Steps To Reproduce

No needed

### Link to public reproduction project repository

N/A

[2022-09-17 22:23] maxkoshevoi commented on #99
@brminnick Have it make it to .NET 7? (since it's in RC now)

[2022-09-18 02:52] samir-dahal opened #639 "Controlling the toolkit:popup using MVVM"
Recently I found out that when I wanted to display the popup I have to call the popup from code behind file `.xaml.cs` and call the extension method `ShowPopup/ShowPopupAsync`. It would be a lot easier for us to call that method from `ViewModel` instead.

For now I have a work around but introducing the feature on upcoming release would be better than to relay on that workaround.
Thanks!

[2022-09-18 06:45] VladislavAntonyuk commented on #639
How do you propose to call it from VM?

Popup is UI element and related to the specific Page.
you can create a DialogService and call it from there:
Application.Current.MainPage.ShowPopup(Popup);

[2022-09-18 13:31] samir-dahal commented on #639
Oh got it. I was used to Rg Plugin in xamarin forms and it has the PopupNavigationService to show and hide the popup, I thought of implementing it like that from the view model.

Thanks!

[2022-09-18 14:49] #639 closed

[2022-09-18 19:42] KSemenenko commented on #637
We need to call these method when page appear and change size.

[2022-09-19 03:22] vhugogarcia commented on #629
Thanks @brminnick . I tried to update the title however, it did not let me do it. Maybe I did it wrong. I apologize.

@VladislavAntonyuk another person published this issue on the Skiasharp repository with a sample: [https://github.com/mono/SkiaSharp.Extended/issues/142](https://github.com/mono/SkiaSharp.Extended/issues/142 )

I think we are trying to guess if the popup has a limitation to render

[2022-09-19 07:05] angelru commented on #120
@VladislavAntonyuk I have not created StateLayout, I do not know if it is ethical for me to include it.

[2022-09-19 07:22] VladislavAntonyuk commented on #120
@angelru we appreciate if you would implement it. If the person who initially implemented it have any improvements he will add them in PR comments or open a new PR.

[2022-09-19 09:50] aakash44 commented on #639
@VladislavAntonyuk , @samir-dahal can you guys guide me towards any sample code/tutorial for implementing the dialog service for calling/opening the popup from vm?

[2022-09-19 09:58] samir-dahal commented on #639
I hope you already have created a popup.
To actually show the popup from vm you have to reference the MainPage from

 `await App.Current.MainPage.ShowPopupAync(new YourPopup());`
You can create a helper as well

[2022-09-19 18:18] JosueDM94 opened #642 "[BUG] [Android] Snackbar is displayed over the navigation buttons."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The snackbar is not anchored to the VisualElement when using the Application.Current.MainPage or Shell.Current

### Expected Behavior

The snackbar should be aligned to the VisualElement.

### Steps To Reproduce

1. Open and run solution from reproduction repository
2. Click the button and ob

[2022-09-19 19:46] VladislavAntonyuk commented on #642
That is expected, because you don't set the anchor.

[2022-09-19 20:07] JosueDM94 commented on #642
Thank you for the quick response,  about the extension method "DisplaySnackbar" which is supposed that use the anchor of the VisualElement that is firing the method in this case the MainPage or the top page from shell or hierarchal navigation.

I'm using the Snackbar as a service and calling from my ViewModel, so I'm not able to pass the reference from the page or any VisualElement. I'm trying to

[2022-09-20 11:39] andreasbrostencab commented on #259
Hope work is going well with this new Cameraview. I have another question around it.
In the Xamarin version, you can't zoom to a lower value then 1.0. Now a days meny phones have "wide angel" letting the user "zoom out" to e.g. 0.5. Will this be supported in this new cameraview?

[2022-09-20 14:22] pictos commented on #259
Hey @andreasbrostencab, so for the first release the zoom feature will not be supported. But the architecture that I'm thinking of will make easier for you, as a developer, to override or add new features to the CameraView.

[2022-09-20 14:31] LennoxP90 commented on #86
Is there an ETA on this?

[2022-09-20 15:05] SymxnCreator commented on #440
Does not work too.
Same problem on Windows and Android. Height is miscalculated on Windows and width on Android.

[2022-09-20 15:33] softlion opened #645 "[BUG] [iOS] Toast: AlertView not finding the KeyWindow"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Crashing on iOS device

[code]

### Expected Behavior

Don't crash.

### Steps To Reproduce

[code]

### Link to public reproduction project repository

(tbd)

### Environment

[code]

### Anything else?

_No response_

[2022-09-20 15:37] VladislavAntonyuk commented on #645
The Toast was not able to find the ParentView. where do you call this method? please add link to public reproduction project repository

[2022-09-20 15:39] VladislavAntonyuk commented on #642
you can use static Snackbar.Make().Show() if you don't need anchor. But because anchor is visual element, you still need to pass it to your VM/Service

[2022-09-20 16:25] Javierflo95 opened #646 "[BUG] AvatarView clipping on Android isn't applied correctly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I updated to latest version yesterday and this issue appeared, when I use toolkit AvatarView

![image](https://user-images.githubusercontent.com/11860518/191311722-2856e9c6-2498-4a19-8d5c-2ae52746c3a6.png)

![image](https://user-images.githubusercontent.com/11860518/191312015-b68a90cc-3059-44

[2022-09-20 17:28] #637 closed

[2022-09-20 21:52] vhugogarcia commented on #605
I'm just thinking loud. What about using OpenStreet map for Windows only.
**https://github.com/OsmSharp/core** there is already an implementation for C# that I'm not sure it this could work on Windows, but it may worth it a try? This way maps are loaded natively and if a user wants something different then they can use an embedded webview for it.

I personally do not see value of creating a custom

[2022-09-20 22:02] rmarinho commented on #605
What performance issue? tbh I run the sample and I don't see any big performance issues compared with other platforms.
Also the implementation uses device capabilities like gps to get user location etc. |

@jfversluis @brminnick can someone help me figure if this can go in our not? who makes the decision? if it can't be here I will publish this somewhere else.

Thanks

[2022-09-20 22:14] brminnick commented on #605
@rmarinho We'll discuss it in our next standup, on 06 October.

You're welcome to join us if you'd like (12pm PT), or feel free to do a data dump with @jfversluis + @kphillpotts and they can help guide the conversation on your behalf!

[2022-09-21 12:09] victorsigga opened #647 "[BUG] IconTintColorBehavior not working in windows"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Hello guys, I'm trying to use IconTintColorBehavior to tint some icons in my application, but it isn't working as expected.
I'm trying to use the implementaion example in https://learn.microsoft.com/en-us/dotnet/communitytoolkit/maui/behaviors/icon-tint-color-behavior .
class IconTintColorBeh

[2022-09-21 13:58] mrlacey commented on #569
I found myself here as I thought I'd hit this too. However, based on [the comment from @DSlutter](https://github.com/CommunityToolkit/Maui/issues/569#issuecomment-1236776956) I saw that the issue was a lack of EventArgsConverter.

The action here seems to be a need to better document this requirement.

---

@H-A-Hristov if it helps, here's some code from my project which gets this working.

The co

[2022-09-21 14:11] pictos commented on #647
@victorsigga there's no implementation for Windows, didn't find the API that allows customizing the status bar color on `Windows`. You should see a warning telling you, this feature doesn't support Windows.

https://github.com/CommunityToolkit/Maui/blob/9de9ec676972a390d534a155a4c4ac38cee2f06a/src/CommunityToolkit.Maui/Behaviors/PlatformBehaviors/IconTintColor/IconTintColorBehavior.shared.cs#L8

[2022-09-21 14:11] #647 closed

[2022-09-21 14:50] victorsigga commented on #647
@pictos there is any plannig to develop this to UWP ?

[2022-09-21 17:22] pictos commented on #647
@victorsigga if we found an implementation for that for sure we will. Feel free to investigate that and if you're comfortable open a PR

[2022-09-21 17:39] victorsigga commented on #647
Ok, thank you @pictos

[2022-09-22 08:32] FM1973 commented on #646
I can confirm this bug.

[2022-09-22 10:35] cornem opened #649 "[BUG] GetImageStream wrong when lines populated from code"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When the `DrawingView.Lines` is bound to a view model property and initalized with some lines, the `DrawingView` displays the lines correctly, but `GetImageStream` returns a bitmap of only a portion of the view. After the user has interacted with the `DrawingView`, a proper bitmap will be ret

[2022-09-22 12:01] Javierflo95 commented on #646
@jsuarezruiz
@jfversluis
@pictos

[2022-09-22 12:43] jfversluis commented on #646
No need to tag us, if its in an issue we will see it and get to it, thanks :)

[2022-09-22 13:34] GeorgeLeithead commented on #646
@pictos No, but I very much suspect it is an effect from applying the clip rect bounds and starting from 0,0 instead of taking into account the border width. Assign to me and I can investigate and resolve as appropriate.

[2022-09-22 18:54] J-Swift commented on #645
Interestingly, if you accept the dialog, but then cancel the auth flow, Toast works fine to show my "auth failed" popup. So not sure if its a timing bug or something to do with there being multiple scenes at the point of the auth confirmation prompt. I noticed we explicitly pull the first scene here https://github.com/CommunityToolkit/Maui/blob/6b0f4e6a687f80436b4d6abc78bcd9617d84f699/src/Communit

[2022-09-22 19:07] pictos commented on #645
@J-Swift are you able to provide a small sample to reproduce? if so, please upload it to github and share the link, we don't download zip files anymore

[2022-09-22 19:13] VladislavAntonyuk commented on #645
I think it will not work with your implementation as Popup window no more exist after you click cancel button. You should call toast on another parent view

[2022-09-23 06:42] VladislavAntonyuk commented on #645
I can propose the next solution:
Make the ParentView virtual so you can override it with your own implementation.

[2022-09-23 08:05] cornem commented on #649
Looking at this more, what actually appears to happen is that somehow all lines except the last `DrawingLine` somehow are removed from the `Lines` collection.

In my repro, if you the constructor in `MainPage.xaml.cs` to the following, and then set a breakpoint to inspect `drawingView.Lines`, it only contains one line, though seven lines were added on the view model.

[code]

[2022-09-23 08:09] bijington commented on #649
@cornem It looks like you haven't set `ClearOnFinish` to false as per the docs here: https://learn.microsoft.com/en-gb/dotnet/communitytoolkit/maui/views/drawingview#multiline-usage

@VladislavAntonyuk I do wonder if we should either automatically set `ClearOnFinish` if `IsMultiLineModeEnabled` is set to true, or ignore the flag?

[2022-09-23 08:15] cornem commented on #649
@bijington Setting that property actually makes no difference; `Lines.Count` is still `1` instead of `7`.

[2022-09-23 09:39] softlion commented on #645
Don’t do that.
Look at the code of this simple library, I worked around this issue:

https://github.com/softlion/UserInteraction

[2022-09-24 14:34] VladislavAntonyuk commented on #645
@softlion are you pointing at Platform.GetCurrentUIViewController();?

[2022-09-25 08:46] VladislavAntonyuk commented on #649
no, they are independent. I may have 5 lines (IsMultiLineModeEnabled = true). I want to clean on drawing 6th line. I set ClearOnFinish = true.

[2022-09-25 10:32] #649 closed

[2022-09-26 23:26] Sh3rlck commented on #569
I was having the same issue, even using the EventArgsConverter Property, but my converter was not being called. The issue was that I was inheriting from IValueConverter instead of BaseConverterOneWay<>. Once I change that it started working.
Thanks

[2022-09-27 03:05] kphillpotts opened #655 "[BUG] Sample app sets SemanticProperties.Description in ImageSource which causes crash on Windows"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When running the sample app on windows and navigating to the GravatarImage sample page it throws an exception.

[code]

The reason for this is that it sets the `SemanticProperties.Description` in the `ImageSource` but this is an attached property of a VisualElement.

[code]

Weird thing is it

[2022-09-27 04:37] #655 closed

[2022-09-27 11:58] #85 closed

[2022-09-27 19:21] VladislavAntonyuk commented on #642
I found the root cause of the issue. I will submit PR the next weekend

[2022-09-27 22:38] maxkoshevoi commented on #619
Hi, I use latest (1.3.0) version of the toolkit, and warnings still appear:
https://github.com/maxkoshevoi/NureTimetable/actions/runs/3139381970/jobs/5099738174

[2022-09-28 03:05] xDaijobu opened #660 "[BUG] Popup is not closing when background is clicked"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Current Behavior

Work well on IOS but I have some issues on Android

1. changing CanBeDismissedByTappingOutsideOfPopup is not working at runtime
2. Loaded is not called

<img width="1659" alt="Screen Shot 2022-09-28 at 09 37 50" src="https://user-images.githubusercontent.com/22674537/192674982-badf4ff6-f403-4

[2022-09-28 04:03] pictos commented on #660
@xDaijobu thanks for reporting the issue. About the `VisualElement.Loaded events aren't getting fired` part, we can't fix it here... At least I can't see a way to do that.

The [`Popup`](https://github.com/CommunityToolkit/Maui/blob/main/src/CommunityToolkit.Maui/Views/Popup/Popup.shared.cs#L10) is an `Element` and doesn't have the `Loaded`/`Unloaded` events. These events are triggered by the [`Vi

[2022-09-28 07:59] xDaijobu commented on #660
hi @pictos,
Thank you for the quick fix!

but [Popup.Content](https://github.com/CommunityToolkit/Maui/blob/main/src/CommunityToolkit.Maui/Views/Popup/Popup.shared.cs#L91-L95) is View and the View class inherits from VisualElement @.@

<img width="986" alt="Screen Shot 2022-09-28 at 13 15 50" src="https://user-images.githubusercontent.com/22674537/192702069-091cea3e-f681-448d-accd-51d1b99f046a.png

[2022-09-28 08:03] ewerspej opened #662 "[BUG] [iOS] StatusBarBehavior breaks status bar background in landscape mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

On iOS (15.5), when using the StatusBarBehavior app, the background rectangle of the status bar is displayed when rotating the device into landscape mode. The rectangle stays visible on the upper left corner, covering parts of the navigation bar/title bar while it should actually disappear en

[2022-09-28 08:27] jfversluis commented on #662
Duplicate of #637

[2022-09-28 08:27] #662 closed

[2022-09-28 08:50] ewerspej commented on #662
@jfversluis Thanks, I didn't find that other issue, due to its description.

[2022-09-28 11:33] VladislavAntonyuk commented on #645
@softlion I was not able to reproduce the issue. without the sample we cannot move forward

[2022-09-28 13:07] pictos commented on #660
@xDaijobu  For the behavior, please open a new issue

Reopening this because the PR isn't merged yet

[2022-09-28 16:24] softlion commented on #645
Of course you can't repro, it's a timing issue that happens on specific timings that I can not repro. I posted that as I stumbled on it.

[2022-09-28 17:23] J-Swift commented on #645
The ASWebAuthenticationSession is 100% reproducible every time you press cancel, but I will need to get an example outside of my main app that shows this.

[2022-09-28 22:48] J-Swift commented on #645
OK, I think this should be a repro: https://github.com/J-Swift/maui-popup-repro. After you click login, then cancel, there will be a message logged about the KeyWindow exception (see `NotifyService` for the `catch`).

Note that you want to press cancel on the _initial_ popup that asks for permission, not the subsequent webview.  See screenshot for the one I'm talking about.

<img width="506" alt="

[2022-09-28 22:50] J-Swift commented on #645
I should also add, the reason I say to press _this_ cancel is because the popup actually works if you press cancel on the _next_ screen. So I think it has to do with the ASWebAuthenticationSession taking over the KeyWindow for its popup.

[2022-09-29 02:17] xDaijobu opened #663 "[BUG] IconTintColorBehavior is not working inside popup #Android"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

IconTintColorBehavior is not working inside popup

<img width="1515" alt="Screen Shot 2022-09-29 at 09 02 29" src="https://user-images.githubusercontent.com/22674537/192921715-887d2514-fdaf-490f-a234-4cf4f5594df2.png">

### Expected Behavior

the image be tinted with the choosen color

### St

[2022-09-29 02:26] xDaijobu commented on #663
https://github.com/CommunityToolkit/Maui/blob/bbf49eca6b2ee27f70e39aa08bd2ac75b17c42e2/src/CommunityToolkit.Maui/Behaviors/PlatformBehaviors/IconTintColor/IconTintColorBehavior.shared.cs#L9

https://github.com/CommunityToolkit/Maui/blob/bbf49eca6b2ee27f70e39aa08bd2ac75b17c42e2/src/CommunityToolkit.Maui/Behaviors/PlatformBehaviors/IconTintColor/IconTintColorBehavior.android.cs#L15-L16

CustomBehavi

[2022-09-29 02:32] pictos commented on #663
@xDaijobu do you mind testing with this image?
https://github.com/CommunityToolkit/Maui/blob/main/samples/CommunityToolkit.Maui.Sample/Resources/Images/shield.png

[2022-09-29 02:38] xDaijobu commented on #663
https://raw.githubusercontent.com/CommunityToolkit/Maui/main/samples/CommunityToolkit.Maui.Sample/Resources/Images/shield.png

<img width="1984" alt="Screen Shot 2022-09-29 at 09 37 16" src="https://user-images.githubusercontent.com/22674537/192925971-06a2904a-cbdb-4e74-99b9-f5d0adc204d1.png">

[2022-09-29 08:02] bijington commented on #569
Oh I see that we do require our own Converter implementation which I think feels a bit wrong. I would expect this line https://github.com/CommunityToolkit/Maui/blob/bbf49eca6b2ee27f70e39aa08bd2ac75b17c42e2/src/CommunityToolkit.Maui/Behaviors/EventToCommandBehavior.shared.cs#L34 to expect a type of `IValueConverter`

[2022-09-29 08:09] brminnick commented on #569
Good catch, all! Agreed @bijington 💯

[2022-09-29 18:08] JohnGalt1717 commented on #113
Re DRM:

DRM on windows is trivial. The MediaElement there has everything in a few lines of code to support both AES encryption and play ready.

Android is similarly easy using Exo player and google's stuff which is built in.
iOS is the problem child and requires a VERY different approach to building up the playback support to enable AES and Fairplay. It needs to be done right from the beginning o

[2022-09-29 20:24] espenrl commented on #619
As far as I can see it is resolved in v1.3.0

[2022-09-29 20:24] #619 closed

[2022-09-29 20:31] maxkoshevoi commented on #619
@espenrl so it is resolved for you? Intersecting, I'm still seeing the issue

[2022-09-30 12:00] brminnick commented on #113
Removing the `blocked` label now that [Xam.Plugins.Android.ExoPlayer](https://www.nuget.org/packages/Xam.Plugins.Android.ExoPlayer) has added support for `net6.0-android`

[2022-09-30 14:31] anotherlab commented on #605
Supporting OpenStreetMap would be useful as a separate control.  If you are using Blazor, then you can have the same map experience across the mobile, desktop, and web.

[2022-10-01 10:56] VladislavAntonyuk commented on #645
https://user-images.githubusercontent.com/33021114/193406255-85c81a8d-7e2b-4188-8c5e-46ce72ec3653.mov

I still cannot reproduce it. (The only difference I update the Core lib to version 1.3.0 - it was 1.1.0)

[2022-10-01 13:48] J-Swift commented on #645
Yep, confirmed that 1.3.0 fixed my repro. Will verify on my main app on Monday, but I dont see why it wouldnt work there too. Reading through the release notes, looks like there was a KeyWindow fix in 1.2.0 : D

[2022-10-01 14:06] VladislavAntonyuk commented on #645
yes, the fix PR: https://github.com/CommunityToolkit/Maui/pull/502/files
Closing it. feel free to reopen if you find the issue again

[2022-10-01 14:06] #645 closed

[2022-10-01 19:23] #569 closed

[2022-10-02 15:07] DENLN commented on #439
There is a similar problem with the Popup height if the line is wrapped by two or more

[2022-10-02 16:46] pictos commented on #439
@DENLN are your content inside a scrollView?

[2022-10-02 18:28] DENLN commented on #439
@pictos  No, and I'd better create a new topic, so as not to offtopic here

[2022-10-02 18:57] DENLN opened #669 "[BUG] Popup Height. Labels multiline"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Dynamic Height is calculated incorrectly if labels lines wrap. Popup is hidden behind the screen area

### Expected Behavior

To keep the bottom border popup in place

### Steps To Reproduce

Just need long text and dynamic label height

### Link to public reproduction project repository

-

[2022-10-03 09:42] xDaijobu commented on #629
Hello there ~
I think i found the solution for this issue.

<img width="1952" alt="Screen Shot 2022-10-03 at 16 23 41" src="https://user-images.githubusercontent.com/22674537/193543792-2fc54d40-51c1-4345-a659-cb69b15865a6.png">
<img width="1093" alt="Screen Shot 2022-10-03 at 16 39 58" src="https://user-images.githubusercontent.com/22674537/193546988-b4b4247b-4db5-43de-be6c-faccc675ea99.png">

<im

[2022-10-03 21:21] #642 closed

[2022-10-04 23:16] nicjay commented on #120
Hi all, I poked at this a bit and managed to port a version working well in MAUI. I'd be happy to take on this issue and submit a PR later this week.

Usage is pretty much identical to the [XCT StateLayout](https://learn.microsoft.com/en-us/xamarin/community-toolkit/views/statelayout). I switched references from `Layout<View>` to `Layout` (from Microsoft.Maui.Controls) that seemed like the right m

[2022-10-04 23:22] pictos commented on #120
@nicjay that's great, is the code open source? Are you able to open a PR on our repo, that way we can review it?

[2022-10-05 05:17] VladislavAntonyuk commented on #550
@Cywizz Do you still have the issue?

[2022-10-05 11:52] Cywizz commented on #550
@VladislavAntonyuk It seems to be fine now, thank you.

[2022-10-05 12:25] #550 closed

[2022-10-05 16:05] r-work opened #678 "[BUG] Adding animation crashes app in .NET 7 RC1"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Current Behavior

It breaks when you add animation behavior.
Using the default project sample:

[code]

### Expected Behavior

Not to crash.

### Steps To Reproduce

1. Run project in the android emulator.

### Link to public reproduction project repository

https://github.com/r-work/MauiApp4

### Environment

[2022-10-05 16:33] E75 commented on #259
@pictos when will a first version be released?

[2022-10-05 20:46] VladislavAntonyuk commented on #678
We do not support .net 7 yet. The PR for this is in draft. Most likely we’ll add it as preview with rc2. And final release after .net MAUI 7 release

[2022-10-06 11:00] borisblizzard commented on #663
I have the same issue, but it appears to not be working on Windows either (haven't tested iOS yet).
I also noticed that some other properties (such as "Command") aren't working on any controls either.

[2022-10-07 22:40] pictos opened #682 "[BUG] Popup Anchor issue"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The popup, with Anchor != null, is appearing at the top left of the screen.the

### Expected Behavior

The popup shows up near to Anchor view

### Steps To Reproduce

1. Open the sample app
2. Go on the Anchor samples page

### Link to public reproduction project repository

N/A

### Environm

[2022-10-08 06:22] #682 closed

[2022-10-08 14:04] kkppstudios commented on #99
Looks like it's marked for .NET 8. Is this correct?
https://github.com/dotnet/runtime/issues/18087

This is a big gap. One of the few issues remaining for me to migrate to Maui. Any suggestions?

[2022-10-08 16:26] pictos commented on #99
@kkppstudios you can copy the implementation to your code and use it there

[2022-10-09 08:42] SunshineSpring666 opened #684 "[BUG] Popup CanBeDismissedByTappingOutsideOfPopup=false doesn't work when changing window size on Windows"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When a lock popup is shown (CanBeDismissedByTappingOutsideOfPopup=false), changing the window size like dragging window border or maximizing it, makes the lock popup immediately close automatically.

### Expected Behavior

Such lock popup (with CanBeDismissedByTappingOutsideOfPopup=false) sho

[2022-10-11 10:38] MGohil opened #685 "[BUG] StatusBarBehavior throws "Android Activity can't be null" exception if used in Page without Shell."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I am changing the StatusBar color using this sample: https://github.com/jfversluis/MauiToolkitStatusBarBehaviorSample  in .NET Maui project.

However, the sample works good if "Shell" is used in Android.

But instead, if we load the first page without Shell, then it crashes with error "Androi

[2022-10-11 12:47] pictos commented on #685
@MGohil can you move your code to `OnNavigatedFrom` or `OnAppearing`?

[2022-10-11 13:36] MGohil commented on #685
@pictos : Yes it works if I put this into OnAppearing.

But this means that, we can not set the StatusBarColor and StatusBarStyle from XAML page itself. We have to do this in code behind.

[code]
As per what @jfversluis mentioned in one of the YouTube videos https://www.youtube.com/watch?v=dWj0PdImH10, it would be great if this works as expected in XAML as well.

Thanks.

[2022-10-12 10:28] EPS-Lac commented on #109
Hi :)
Is there any updates on when we can expect this to be released?
I'm in need of an expander, and it'd be great if I could use this (especially since the implementation seems to be done) instead of having to implement something myself.

[2022-10-12 22:31] #646 closed

[2022-10-14 14:18] osnipezzini opened #693 "[BUG] Crash when using Popup on 'OnAppearing'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When using Popup called from OnAppearing on Windows, application crashes

### Expected Behavior

Expected to open Popup dialog with success

### Steps To Reproduce

Open and run solution from reproduction repository and wait for crash

### Link to public reproduction project repository

https

[2022-10-15 22:14] pictos commented on #693
Hey @osnipezzini, thanks for reporting this issue. From my investigation this looks like a _timing_ error, so all the .NET MAUI objects are created before it shows on the screen. From my screenshot below you can see the `MainPage.Height` is `-1`, which means it doesn't get measured yet.

![image](https://user-images.githubusercontent.com/20712372/196009360-0e4b1faa-94ed-4b8e-aee4-b21e10b7bd37.png)

[2022-10-15 23:37] pictos commented on #522
Closing this issue because we don't get any response.

[2022-10-15 23:37] #522 closed

[2022-10-15 23:37] pictos commented on #514
Closing this issue because we don't get any response.

[2022-10-15 23:37] #514 closed

[2022-10-17 03:00] pictos commented on #629
We will wait until this issue get resolved:
- https://github.com/mono/SkiaSharp.Extended/issues/147

[2022-10-17 19:22] osnipezzini commented on #693
Thanks @pictos this temp fix work for my situation too

[2022-10-18 01:09] pictos opened #695 "[Housekeeping] Make sure Popup pass the Window from its Parent to Popup.Content"
Popup doesn't set the Window automagically because it's an `Element`, because of that we need to help .NET MAUI set it, on `Popup` and `Popup.Content`.

The Windows is very important for .NET MAUI controls, it's responsible for a lot of things about the View's lifecycle.

[2022-10-18 08:53] mikmat opened #698 "[BUG] Popup displays hidden navigation bars in Android."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When a Popup is displayed, the <Andoid> navigation buttons are shown even if the app is in Fullscreen & Immersive mode.

In a shell-based app the navigation controls stays visible after closing the Popup.   In my non-shell app, the navigation controls are hidden after closing the Popup.

![sh

[2022-10-18 17:42] #695 closed

[2022-10-19 16:26] GeorgeLeithead commented on #65
Bump

[2022-10-19 18:09] jupagose commented on #427
It worked for me !!!!

[2022-10-19 20:56] brminnick commented on #65
Hey George! I've added the https://github.com/CommunityToolkit/Maui/labels/needs%20discussion label, which means we'll discuss this in our next standup.

In other words, I'll bring raise this to the team to see if any of the maintainers have the bandwidth to `Champion` this proposal.

[2022-10-21 01:21] myroot opened #704 "[Proposal] Support Tizen"
# Support Tizen platform

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [ ] iOS Support
  * [ ] Android Support
  * [ ] macOS Support
  * [ ] Windows Support
  * [x] Tizen Support
* [x] Unit Tests
* [x] Sample
* [x] Documentation: https://github.com/MicrosoftDocs/CommunityToolkit/pull/154

## Link to Discussion

## Summary
[summary]: #summary
 Supporting Tizen platform on all CommunityTo

[2022-10-21 06:38] MGohil commented on #259
@pictos : Is there any date we can know when the very first version is available at-least with very minimal basic feature would be great?
Eagerly waiting for this to get released soon.

Thanks.

[2022-10-21 11:28] gabri-dgs opened #706 "[BUG] Wrong EventArgsConverter attached property type on EventToCommandBehavior"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

EventToCommandBehavior is not passing event parameters to the command as expected.

### Expected Behavior

EventToCommandBehavior should pass event parameters to the command as expected when an EventArgsConverter is defined.

### Steps To Reproduce

Just create an app with the using the Event

[2022-10-21 11:33] #706 closed

[2022-10-21 16:58] danardelean opened #707 "[BUG] Android Popup crash when switching tabs in AppShell"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Maui Application crashes when switching tabs on Android with a popup opened

### Expected Behavior

It should not crash :)

### Steps To Reproduce

1. Create a MAUI AppShell application with 2 tabs.

2. Inside one of the tabs open a Popup

3. Switch the tabs on an Android device

I have not t

[2022-10-21 20:04] pictos commented on #707
@danardelean
Could you attach a small repro?

[2022-10-22 15:46] fmir864 opened #708 "SetFocusOnEntryCompletedBehavior not focusing to next element in Android"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The focus not shifted to referenced control when tap next on Android emulator.

### Expected Behavior

The focus should be shifted to referenced control

### Steps To Reproduce

1. Create two entries
2. Set SetFocusOnEntryCompletedBehavior on first entry and reference the second entry as next

[2022-10-22 23:09] pictos commented on #708
Hey @fmir864, thanks for your report. I tried, on my end implement the `Completed` event in code-behind and that doesn't trigger at all, so looks like the issue is on .NET MAUI. Can you check that as well?

[2022-10-22 23:10] #626 closed

[2022-10-22 23:19] pictos commented on #708
Yeap, I can confirm. Isn't on us
- https://github.com/dotnet/maui/issues/9796

[2022-10-24 10:41] AlexanderSCK opened #711 "[BUG] ShouldDismissKeyboardAutomatically doesnt work when set to True in SearchBar"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The ShouldDismissKeboardAutomatically doesnt work when set to true in Android 13. Keyboard doesnt dismiss at all. The issue is happening in a SearchBar. The Command is triggering correctly but the property for the keyboard doesnt.

### Expected Behavior

The keyboard to be dismissed

### Step

[2022-10-25 16:27] PureWeen commented on #685
Why the requirement of order with the behavior? Can't the behavior just store those colors at the xplat level and then once OnPlatformAttached is called with StatusBarBehavior it sets those?

Like, just don't fire any of this code here

https://github.com/CommunityToolkit/Maui/blob/9de9ec676972a390d534a155a4c4ac38cee2f06a/src/CommunityToolkit.Maui/Behaviors/PlatformBehaviors/StatusBar/StatusBarBeh

[2022-10-27 00:53] brminnick opened #716 "[Proposal] Example Proposal for Training New Maintainer, Jay Cho"
# [FEATURE_NAME]

* [x] Proposed
* [ ] Prototype: Not Started
* [ ] Implementation: Not Started
  * [ ] iOS Support
  * [ ] Android Support
  * [ ] macOS Support
  * [ ] Windows Support
* [ ] Unit Tests: Not Started
* [ ] Sample: Not Started
* [ ] Documentation: Not Started

## Link to Discussion

## Summary
[summary]: #summary

## Motivation
[motivation]: #motivation

## Detailed Design
[design]:

[2022-10-27 01:05] #716 closed

[2022-10-27 09:14] AdamDiament commented on #121
@eamonn-alphin this sounds awesome. Do you have a code sample you would be happy to share please?

[2022-10-27 10:33] AdamDiament commented on #121
btw for someone wanting a XF and Maui compatible solution now (Oct 2022) there is https://github.com/roubachof/Sharpnado.Tabs

[2022-10-27 12:02] ewerspej commented on #121
That's indeed a very powerful implementation. However, it is **not** compatible with Shell and uses Views instead of Pages. I do not regard it as a substitute for the native Shell.TabBar

[2022-10-27 18:37] andrewhenry3 commented on #474
Those bindings are pointing to controls whose names were removed.
An undocumented change to CharactersValidationBehaviorPage.xaml slipped into commit 1bd3586dc27c603fa5ac682aa5bf9df201ac9482
If that is reverted, the binding errors go away.

[2022-10-28 04:18] bijington commented on #474
Great spot! Yes we should add the names back to solve this issue thanks

[2022-10-28 11:58] jfversluis opened #717 "MediaElement TODO list"
Just putting this issue out here with some things we might want to look into regarding MediaElement without littering the repo with issues for a control that doesn't exist yet.

If you are reading this as a "outside" user, feel free to add any feedback as comments under this issue while MediaElement is still being implemented.

* [x] Got [this repo](https://github.com/Varmod/LocalVideoWontPlay) th

[2022-10-28 18:22] plattski commented on #717
Where is the MediaElement package as of right now? Can't seem to find it anywhere. Tx

[2022-10-28 18:25] jfversluis commented on #717
Please see this blog post on how to use it today: https://blog.verslu.is/maui/mediaelement-for-net-maui-early-preview/

Please keep in mind that it’s under active development. Things are not complete, bugged or might change before it gets released.

[2022-10-31 01:53] XJonOneX commented on #708
It's definitely .NET MAUI. If the ReturnType on the Entry is set to anything but Done, SetFocusOnEntryCompletedBehavior won't work, in addition to ReturnCommand and the Completed event.

[2022-10-31 19:14] brminnick opened #719 "[BUG] `TextColorTo` Doesn't Support Generic Constraints in Different Namespaces"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

`TextColorToGenerator` does not include the constraint's namespace in its generated code.

When defining a custom control that has a generic constraint defined in a namespace different from the control's namespace,  `.TextColorTo()`

[code]

[code]

### Expected Behavior

`TextColorTo` should

[2022-10-31 20:44] JoonghyunCho commented on #65
Hi George! Thanks for your work on this proposal. I will be championing this proposal. I will bring this to a vote to be approved so you can create a pull request. Thanks.

[2022-10-31 23:50] gktval commented on #663
I can verify that this is working on Android, but not in Windows.

[2022-11-01 17:09] gktval commented on #663
I looked at the code for Windows, and it says unsupported: https://github.com/CommunityToolkit/Maui/blob/main/src/CommunityToolkit.Maui/Behaviors/PlatformBehaviors/IconTintColor/IconTintColorBehavior.shared.cs

I was able to create an effect behavior for it. Essentially, it would look similar to this
[code]

Could this be added to the platform specific behaviors for tinting in Windows, please.

[2022-11-01 18:42] JustinC-IADS opened #721 "Potential Memory Leak when using Popup"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When opening a popup from a page defined in the AppShell xaml, the popup is never eligible for garbage collection. In a scenario where a popup is used repeatedly, this will lead to memory being allocated that can never be reclaimed.

When opening a popup from a page that has been pushed onto

[2022-11-02 00:32] ChaplinMarchais commented on #121
@brminnick Sorry about going totally MIA! Life ended up throwing some major personal things my way. Long story short I wasn't able to get access to a computer for the last 5 months or so. That being said, I will begin work again on the implementation for this proposal!

[2022-11-02 00:33] kphillpotts opened #722 "LazyView"
# LazyView

* [x] Proposed
* [ ] Prototype: Not Started
* [ ] Implementation: Not Started
  * [ ] iOS Support
  * [ ] Android Support
  * [ ] macOS Support
  * [ ] Windows Support
* [ ] Unit Tests: Not Started
* [ ] Sample: Not Started
* [ ] Documentation: Not Started

## Summary
[summary]: #summary
The LazyView control allows you to delay the initialization of a View. You need to provide the type

[2022-11-02 01:23] brminnick commented on #121
@ChaplinMarchais glad to have you back!

[2022-11-02 12:33] JustinC-IADS commented on #721
Update: After more testing on **iOS**, both modes of opening the popup appear to suffer from this problem.

[2022-11-02 14:07] iascience commented on #717
For audio on Android, will this create a player in notification manager, so audio continues to play in the background and can be controlled from the lock screen? I know the XamarinMediaManager package has had problems with this in Android 12.

[2022-11-02 15:32] #719 closed

[2022-11-02 19:50] bijington commented on #722
The usage of `new TView` requires a parameterless constructor which matches what we had in Xamarin however could/should we allow for more power through the magic of DI?

[2022-11-03 07:09] HausBJB commented on #717
Hello @jfversluis,

Have you ever thought about Silent Mode? When silent mode is activated on an iPhone, no audio is allowed to play, right?

[2022-11-03 09:37] bijington commented on #717
Users can still control audio volume even in silent mode. My phone is always on silent but videos can still play audio

[2022-11-03 15:34] #120 closed

[2022-11-03 15:44] danardelean commented on #707
[MauiPopupCrash.zip](https://github.com/CommunityToolkit/Maui/files/9930653/MauiPopupCrash.zip)
To actual reproduce the crash I finally understood where the problem is .
I want to return results from my popup's and when dismissed I actually call Close(false) when the popup is already closed so that it was makes the control crash Have a look at the attached sample but at this point I don't know if

[2022-11-04 00:12] mhrastegari commented on #113
Hi @jfversluis Love your work, the MCT MediaElement saved my day but i have a problem with android version! everything works fine on Native controls but when i use custom controls for it not working well.

when i toggle play and pause like this
`if (media.CurrentState == MediaElementState.Playing)
            media.Pause();
        else if (media.CurrentState == MediaElementState.Paused || media.C

[2022-11-04 00:34] pictos commented on #113
@mhrastegari can you share a link that reproduces the issue?
Can you check the value of the `Playing` property when you pause the video?

[2022-11-04 08:00] mhrastegari commented on #113
@pictos  there is no `Playing` property for MediaElement, there is only a enum of it. 🥲
funny thing i put a BreakPoint on top of the method and app crashed!

I'll share a sample repo ASAP.

[2022-11-04 09:22] mhrastegari commented on #113
@jfversluis @pictos Here is a full sample.
[MediaElementTest.zip](https://github.com/CommunityToolkit/Maui/files/9936786/MediaElementTest.zip)

FYI : the test media sources are defined here
![image](https://user-images.githubusercontent.com/42671084/199937661-c782c596-9f16-4cb1-9d72-dc85bc719066.png)

[2022-11-04 10:13] jfversluis commented on #113
Hey @mhrastegari that's good feedback, exactly what we are looking for, thanks!

For Android you really have to call a method to prepare the media for playback, I wonder if that is something that we should do if you call play again and if that is why it's not working... I've added this finding to my little todo list in #717

[2022-11-04 10:43] mhrastegari commented on #717
Can we have TapGestureRecognizer on Android? Works fine on WinUI but on Android it only works when i set ShowsPlaybackControls to false.

[2022-11-04 12:01] mhrastegari commented on #113
@jfversluis  Not sure this helps but i put a breakpoint on my Play/Pause method and my debugger stucks here in a loop.
any idea or workarounds? I really have to implement this in our App for tomorrow. 🥲

![image](https://user-images.githubusercontent.com/42671084/199967475-e6800e8b-0ccc-4c7a-83a8-a8d893b4f930.png)

[2022-11-04 12:36] sturlath commented on #717
What about streaming with EAS and DRM, is that on the radar?

[2022-11-04 12:40] jfversluis commented on #113
@mhrastegari I'm not trying to be rude or mean this the wrong way, but you're trying to use code that hasn't been released and is at best in alpha stage. I appreciate your enthusiasm for wanting to try this out and use this in an app, but at this point we can't really guarantee this level of support. For what it's worth, this is a free, community maintained library. Even if it's released still can

[2022-11-04 12:42] jfversluis commented on #717
I don't know what EAS is, and DRM is definitely requested and on my radar, not sure if that will be part of v1.

[2022-11-04 12:44] sturlath commented on #717
AES is token encryption for the stream and for Safari iOS you need to jump through hoops to make it work so I thought to ask. But like that you are looking into DRM!

See more on DRM and AES here https://learn.microsoft.com/en-us/azure/media-services/latest/drm-content-protection-concept

[2022-11-04 12:45] jfversluis commented on #717
Of course if you have any pre-existing knowledge here that we can apply, feel free to contribute whenever we have merged our first version :)

[2022-11-04 13:34] mhrastegari commented on #113
Yeah you are right :( I'm really sad right now about how our conversation got there, I was just in too much stress and i should have think more about what i going to comment here.
I'm so sorry dear Gerald you're amazing. ❤️

[2022-11-04 13:35] jfversluis commented on #113
Don't worry! No harm was done, we're still friends and I understand it comes from a good place. But also want to make sure that you have expectations we can't live up to.

Thanks for saying this though, much appreciated!

[2022-11-07 12:37] AlexanderSCK opened #732 "[BUG] Color Property on Popup is not set"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Everytime I change the Color property of the Popup the color is not changed and its converted back to the default color of Light Grey. If you look in the code behind for the Popup on the Color property it has a method OnColorChanged, which has no implementation, therefore is not changing the

[2022-11-07 13:18] KSemenenko commented on #80
any updates here? seems issue 124 is closed

[2022-11-07 15:39] pictos commented on #80
With the new handlers approach, I ask if this is still valuable. I mean on Forms side this change requires a lot of files and work, with MAUI looks very straight forward to be implemented by devs and (from a maintainer point of view) is one less API to maintain

[2022-11-07 16:06] KSemenenko commented on #80
I am facing this problem again, it was in Xamarin.Froms 2.0 and it is still there.
Maybe we need to solve this problem somehow =)

[2022-11-07 16:13] pictos commented on #80
@KSemenenko, which problem?

[2022-11-07 16:18] KSemenenko commented on #80
Borderless Entry

[2022-11-07 17:20] KSemenenko opened #735 "[BUG] CommunityToolkit.Maui.Core.Platform.StatusBar.SetColor(color) is not working in .net7 rc2 for iOS"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

### Expected Behavior

Color for statusbar is not changed

### Steps To Reproduce

Create MAUI app for .NET7-RC2
put code snippet into page.

### Link to public reproduction project repository

no

### Environment

[code]

### Anything else?

Still investigating

[2022-11-07 17:23] KSemenenko commented on #735
<img width="1203" alt="Screenshot 2022-11-07 at 18 22 50" src="https://user-images.githubusercontent.com/4385716/200374546-2e17c40b-8549-4c70-8675-a12e8e064ff0.png">

[2022-11-07 20:44] KSemenenko commented on #735
@brminnick thanks!
![Screenshot 2022-11-07 at 21 43 07](https://user-images.githubusercontent.com/4385716/200411435-b1bff040-ea2b-4708-8039-7b045b1334eb.png)

So I get where I miss it:
<img width="939" alt="Screenshot 2022-11-07 at 21 43 46" src="https://user-images.githubusercontent.com/4385716/200411613-ed85c7a4-462e-4008-8dcf-ee3d1bfcec12.png">

For some reason I thought it was possible not to

[2022-11-07 20:44] #735 closed

[2022-11-07 20:48] bijington commented on #569
To everyone involved in this (@mrlacey, @DSlutter, @Sh3rlck @H-A-Hristov) there is actually a way to achieve this without needing the converter. I will add some docs explaining it but for now you can see that we have a generic option for `EventToCommandBehavior` over at https://github.com/CommunityToolkit/Maui/blob/main/src/CommunityToolkit.Maui/Behaviors/EventToCommandBehaviorGeneric.shared.cs

T

[2022-11-07 21:00] pictos commented on #735
@KSemenenko it's possible, but probably you add those lines inside your `MainPage`, and probably the platform-specific world isn't ready yet. I'm talking with the .NET MAUI team to see how we can workaround that.

[2022-11-07 22:36] KSemenenko commented on #735
Maybe we can change documention to make it clear, like "just add Behaivor"
also this code in constructor, is not working widouth adding Behaivor

[2022-11-07 23:00] pictos commented on #735
@KSemenenko yeap, that will always occurs on your first navigation page... Now if your mainPage is a page that navigates to another page, you can use the code in docs inside the `ctor` and that will work, because all the platform-specific world will be initialized.

[2022-11-08 03:59] jacobkktan commented on #708
Looks like there's an issue with windows too, I believe `SetFocusOnEntryCompletedBehavior` is triggered when `Complete` event is fired. On windows that event is not triggering when `Tab` key is pressed (tested), only fired when user clicks `Enter` key. I have not tried it on Mac yet (since I'm working on a windows machine now).

[2022-11-08 08:07] KSemenenko commented on #735
yeah, I understand it =) thanks a lot! anyway so good that we have it in toolkit

[2022-11-08 22:46] brminnick opened #742 "[BUG] Add `CollectionView` and `ListView` Support to `Expander`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When `Expander` is used inside of a `CollectionView` or a `ListView`, a `NotSupportedException` is thrown:
https://github.com/CommunityToolkit/Maui/blob/1ea488c9be7aac234af32e1ab5b014d6a52a5ff0/src/CommunityToolkit.Maui/Views/Expander/Expander.shared.cs#L197-L202

### Expected Behavior

When

[2022-11-09 09:50] #678 closed

[2022-11-09 13:37] Flaechekueste50 commented on #113
Hey! I just tried out the MediaElement in my project (an audio streaming radio app) and I've got following Exception which I really don't understand at all:

![image](https://user-images.githubusercontent.com/88831296/200844329-3067f47c-0218-4283-a5f8-bc46774ae950.png)

Are you able to tell me what this Exception means and how I can solve the problem?

[2022-11-09 13:41] jfversluis commented on #113
@Flaechekueste50 as above, not really. It's being actively developed, no support is given at this time. If you can give me a source URL that will stay online for a while I can add it to #717 and test it out to see what we can do to make it work.

[2022-11-09 21:14] #704 closed

[2022-11-10 07:53] acrigney opened #750 "OnPropertyChanged documentation"
Guys I don't understand how I can write my own code for the OnPropertyChanged event if we have a generated version of this.

For an observable property like this

 [ObservableProperty]
    BatchType selectedBatchType;

Which generates this code

/// <inheritdoc cref="selectedBatchType"/>
        [global::System.CodeDom.Compiler.GeneratedCode("CommunityToolkit.Mvvm.SourceGenerators.ObservableProper

[2022-11-10 09:49] jfversluis commented on #750
This functionality is indeed part of the MVVM Toolkit which doesn't live here. Find it here: https://github.com/CommunityToolkit/dotnet

You might want to avoid asking "how to" questions in issues though. Check the documentation and consider asking on media that is more suitable for this. Thanks!

[2022-11-10 09:50] acrigney commented on #750
Thanks mate but where is that? It looks like I just have to just use a property changed as I would without the toolkit?

[2022-11-10 17:45] IeuanWalker commented on #750
@acrigney you just create the partial method you want -
[code]

[2022-11-10 23:51] acrigney commented on #750
THANKS HEAPS MATE!! It seems to be a problem with the code generator. I think I saw that some people had a problem with this with the new VS2022 version I am using 17.3.6

[2022-11-10 23:52] acrigney commented on #750
Actually I would like to call async methods inside this property changed handlers, maybe I can't use them?

[2022-11-11 00:23] pictos commented on #80
In order to remove the Entry border you can do the following for android and ios:
[code]

For windows just add these resources on your `Platform/Windows/App.xaml`

[code]

With that I still believe it's a very simple code to keep here.

[2022-11-11 00:24] #80 closed

[2022-11-11 00:26] acrigney commented on #750
Guys actually propertychange events are not ment to call async operations unless you invoke on the main thread. So I am doing this.
public async Task FilterItemsAsync(string filter)
    {
        MainThread.BeginInvokeOnMainThread(async () =>
        {
            if (filter == "All")
            {
                filter = String.Empty;
            }
            var items = await _batchesBlobRepos

[2022-11-11 07:38] KSemenenko commented on #80
@pictos thanks a lot for sample of code! 👍

[2022-11-11 14:51] karamfilov555 opened #753 "[BUG] Frame caused System.ObjectDisposedException: Cannot access a disposed object."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

We have a .NET Maui project with simple AppShell navigation. For some pages of our app (for example /ClientsPage) we have nested page (e.g. ClientsPage/CreateClientPage).
When we are at this page and go to another random tab from the shell navigation (e.g /AboutPage) and than return to the Cl

[2022-11-11 15:19] VladislavAntonyuk commented on #753
How is it related to CommunityToolkit.MAUI library?

[2022-11-12 12:17] IeuanWalker commented on #750
@acrigney not sure what the best practice is for this, but doing `MainThread.BeginInvokeOnMainThread`, i imagine that could lock up your UI.

The property changed events you could make them async void -
[code]

[2022-11-14 12:20] hemantbeast opened #762 "[BUG] [iOS] StatusBarBehavior Frame is not proper when shell navigation bar is hidden"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When setting statusbar behavior on a ContentPage with the navigation bar hidden, the frame of the status bar is not proper on devices like iPhone 14 Pro. There is a space between the status bar & the content view.

This is affected on the iPhone 14 Pro & Pro Max as seen below.. Other iPhones

[2022-11-14 22:57] KieranMaclagan commented on #86
Really looking forward to this, especially for the long press.

[2022-11-15 07:03] KSemenenko commented on #86
@pictos @brminnick is there any design decision about using behavior or effect?
I found old pr https://github.com/xamarin/Xamarin.Forms/pull/9740/ for it.

Maybe we can make decision about it and I can start implementation?

[2022-11-15 17:34] pictos commented on #86
@KSemenenko this is in WIP mode, I'm working this. Thanks

[2022-11-15 21:58] pictos commented on #259
@lpappas28, last that I checked winUI doesn't have a cameraView control. Not sure if they provided one so far

[2022-11-16 18:46] scottkuhl commented on #717
How about adding support for AirPlay, Chromecast and MiraCast baked right into the control?

[2022-11-16 18:57] brminnick commented on #717
Hi @scottkuhl! The Proposal for MediaElement has been voted on and approved in its [New Feature Proposal](https://github.com/CommunityToolkit/Maui/issues/113#issuecomment-1303161996).

To propose a new feature or API, I recommend [opening a new Discussion](https://github.com/communitytoolkit/maui/discussions/new). In our workflow, all new features start as a [new Discussion](https://github.com/com

[2022-11-16 19:03] scottkuhl commented on #717
@brminnick I thought that was what this issue was specifically for, to discuss features we want to see in this control.  I'm happy to start a discussion, but I don't understand the purpose of this issue then.

See the OP:

_Just putting this issue out here with some things we might want to look into regarding MediaElement without littering the repo with issues for a control that doesn't exist yet.

[2022-11-16 19:15] brminnick commented on #717
Apologies! I'm the one who is lost. I mistakenly thought this was the PR for MediaElement.

[2022-11-16 21:19] bcaceiro commented on #81
Hi! Will this be ported to MAUI?

[2022-11-17 22:54] Captnwalker1 opened #773 "[BUG] DrawingView GetImageStream cuts off lines on edge of image"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![image](https://user-images.githubusercontent.com/369858/202575236-fe5b7830-2b4b-4c91-bb9d-050cc25c869c.png)

DrawingView does not take into account lineWidth when rendering the lines onto a canvas to output image.

Example image was done with lineWidth = 5.

Looks like Min and max of points

[2022-11-18 07:39] acrigney commented on #215
Thanks but this snackbar and Toast are not working for me on Windows for .net 6 or 7. But what is silent mode? Is that my problem.
I can't find how to turn it off. Is this how to do it? But I don't see any get button.
https://support.microsoft.com/en-us/windows/switching-out-of-s-mode-in-windows-4f56d9be-99ec-6983-119f-031bfb28a307

[2022-11-18 10:41] VladislavAntonyuk commented on #215
Silent mode is when you forbid your app to show notifications

[2022-11-18 15:03] aawaheed commented on #113
Will there be any support for streaming over UDP?

[2022-11-18 15:44] rachelkang opened #774 "Community Toolkit Popup closing on window minimize or maximize in .NET MAUI"
---
**Issue moved from dotnet/maui#11473**
- Please respond to @deviprasad987.

---

_From @deviprasad987 on Friday, November 18, 2022 1:00:31 PM_

### Description

I am working with the Community toolkit, after opening the Popup when I minimize or maximize the window the popup gets closed.

### Steps to Reproduce

To reproduce the issue please follow the below steps.

### Link to public reproduct

[2022-11-18 16:15] Captnwalker1 commented on #773
A quick workaround I came up with is to add a clear border line to lines collection before rendering the image:
[code]

[2022-11-21 13:29] hemantbeast opened #775 "[BUG] Image tint color behavior doesn't get applied from DynamicResource or ViewModel"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

On setting the `IconTintColorBehavior` in Image, the `TintColor` property is working on setting colors directly or by any StaticResource.
But it isn't working when setting the `TintColor` as DynamicResource or a binding property from ViewModel.

### Expected Behavior

`<Image
    HeightReques

[2022-11-21 23:23] ross8alex commented on #717
Getting "Microsoft.Maui.Platform.HandlerNotFoundException: 'Handler not found for view CommunityToolkit.Maui.MediaElement.MediaElement.'" when trying to use the latest version on Nuget - on android, haven't tested on iOS, seems to happen with images, gifs, and videos. I haven't seen anyone talking about this, is there something I could have done wrong?

[2022-11-21 23:50] pictos commented on #717
@ross8alex can you create a github repo with your project and share the link with us?

[2022-11-22 02:49] symbiogenesis commented on #639
I think this should be re-opened. Ideally under MVVM, you would want the popup itself to have a ViewModel and be able to return a result in a process entirely driven by the ViewModel.

But currently the Popup's Close() method is only available inside of the Popup's codebehind. There is no ICommand interface that can drive the Close event. And the Popup doesn't even support Behaviors, so you cannot

[2022-11-22 03:00] symbiogenesis commented on #639
I had been using code like this to support an awaitable popup using the Rg package

`public static async ValueTask<T?> NavigateToPopup<T>(this PopupPage popup)
        {
            if (popup.BindingContext == null)
                throw new ArgumentNullException(nameof(popup), "BindingContext for page is null");

            try
            {
                bool isPushed = false;

[2022-11-22 03:45] ross8alex commented on #717
@pictos I've created a new test project to demonstrate the issue here: [](https://github.com/ross8alex/MediaElementTestApp/)

[2022-11-22 21:22] rogerbriggen commented on #439
@pictos Any news on this? I have the same problem with popups which are way to wide because the text will not wrap over multiple lines in the popup.

[2022-11-23 00:45] pictos commented on #717
@ross8alex you need to call the `UseMauiCommunityToolkitMediaElement` [here](https://github.com/ross8alex/MediaElementTestApp/blob/main/MediaElementTestApp/MediaElementTestApp/MauiProgram.cs)

[code]

[2022-11-23 18:18] mhrastegari commented on #113
Hey guys these 3 days we were discovered a serious memory leak in MCT MediaElement in our project and we fixed it in Android and Windows(not tested on macOS and iOS), and just wanna return the favor, specially to @jfversluis :)
So how can i help and contribute?

[2022-11-23 19:23] ross8alex commented on #717
@pictos thanks, that worked beautifully! I'd recommend to @jfversluis to make a minor addition to the [MediaElement blog post](https://blog.verslu.is/maui/mediaelement-for-net-maui-early-preview/) for people like me who hadn't used the toolkit before and didn't realize initializing it in the MauiProgram file was necessary.

[2022-11-23 21:17] pictos commented on #113
@mhrastegari thanks for that <3

First you should work against this [branch](https://github.com/CommunityToolkit/Maui/tree/add-mediaelement), when you've everything working just open a PR targeting this branch

[2022-11-24 08:42] mhrastegari commented on #113
@pictos Done.

[2022-11-24 08:53] jfversluis commented on #113
Appreciate it @mhrastegari thank you so much!

[2022-11-24 11:30] MGohil commented on #499
@pictos

Does this mean that I will not be able to achieve the similar result in iOS as like in Android in below screenshot?

Is there any way to prevent that grey background and keep the content attached to the bottom and touching to both (Left and Right) edges in iOS?

![popup-bug](https://user-images.githubusercontent.com/16605284/203773464-37134cec-b75c-4f85-9255-28637f7cb96a.png)

[2022-11-24 11:48] jee-mj opened #782 "[BUG] [RelayCommand] Doesn't work if added to the bottom of a class with several [RelayCommand]s"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[RelayCommand] Doesn't work if added to the bottom of a class with several [RelayCommand]s

### Expected Behavior

Well, CommunityToolkit.Mvvm.SourceGenerators.RelayCommandGenerator should generate the associated method

### Steps To Reproduce

1. Open and run solution
2. You'll get the error

[2022-11-24 19:19] mattleibow opened #785 "[BUG] Very slow Intellisense & Code Completion in MAUI projects"
---
**Issue moved from dotnet/maui#11592**
- Please respond to @vsfeedback.

---

_From @vsfeedback on Wednesday, November 23, 2022 7:37:51 PM_

EDIT: Adding context to this issue:

It looks like the source generator in MAUI Community Toolkit is causing slowdowns with Roslyn.

[TextColorToGenerator](https://github.com/CommunityToolkit/Maui/blob/main/src/CommunityToolkit.Maui.SourceGenerators/Gener

[2022-11-24 19:19] mattleibow commented on #785
---
**Issue moved from dotnet/maui#11592**
- Please respond to @jsuarezruiz.

---

_From @jsuarezruiz on Thursday, November 24, 2022 7:16:45 PM_

Transfer to the CommunityToolkit

[2022-11-25 06:16] VladislavAntonyuk commented on #782
Please create this issue in CommunityToolkit/dotnet. RelayCommand is not related to MAUI

[2022-11-25 06:16] #782 closed

[2022-11-25 06:17] #753 closed

[2022-11-25 06:18] VladislavAntonyuk commented on #753
You should create this issue in dotnet/maui repository

[2022-11-25 10:06] brabebhin commented on #15
Hi,

What is the status of this?
A proepr toolbar is a must for MAUI. The current shell UI looks like something from the 1800s. Even the defunct windows phone had such basic functionality. 10 years ago.

[2022-11-25 10:11] jfversluis commented on #15
@brabebhin I appreciate your feedback, but I don't really see any need to talk bad about anyones work. It might not have been your intention, but adding remarks like "looks like something from the 1800s" and "even the defunct windows phone [...] 10 years ago" doesn't really give off a good vibe.

We don't have any [open proposal](https://github.com/CommunityToolkit/Maui/projects/1) for it yet, if

[2022-11-25 10:20] brabebhin commented on #15
Sorry if my intention sounded bad. I really like bombastic descriptions of things. Especially when the situation is bad. But the reality is, MAUI is missing basic UI components that make up today's UI patterns. Which is why people (including your own company may I add) is running as far as possible from MAUI.

Closing, moving, reopening, duplication this kind of requests for basic functionalityf f

[2022-11-25 10:25] jfversluis commented on #15
That isn't what I proposed. I don't think opening it a fourth time will make it better. This is a community toolkit. It's being worked on by people outside of the normal working hours. There is a lot of stuff that we want to port and this one in particular is a big effort.

Unless there is someone who is going to open a detailed proposal and is committing to working on it, I don't think it will ha

[2022-11-25 10:30] brabebhin commented on #15
I don't think this should be part of the community toolkit, but rather part of the main MAUI framework, becuase this is such a basic functionality. I will probably roll my own implementation (for windows and android, won't be able to touch apple devices due to their ancient babylon style walled garden).

[2022-11-25 10:34] jfversluis commented on #15
Again, this is a very big feature that we probably want to test out first and the Toolkit is an amazing place for that. And, mind you, you are posting all of this in the Toolkit repo, that's why I assumed you were talking about this.

While you might think this is basic functionality, others might think otherwise. If we were to implement everything that someone thinks is basic functionality _then_