[2021-07-29 10:31] VladislavAntonyuk opened #3 "SnackBar/Toast migration"
Migrate XCT snackbar/toast to Maui CT.

I am willing to take this on myself

[2021-07-29 10:31] VladislavAntonyuk opened #4 "DrawingView migration"
Migrate DrawingView XCT to Maui CT

I am willing to take this on myself

[2021-07-29 23:56] maxkoshevoi opened #6 "Localization classes migration"
Migrate XCT localization classes to Maui CT.

Classes list:
- LocalizationResourceManager
- TranslateExtension
- LocalizedString

I am willing to take this on myself

[2021-08-04 21:45] michael-hawker opened #9 "Use MVVM Toolkit for Sample App MVVM Pattern"
Should leverage our `CommunityToolkit.Mvvm` package vs. re-implementing the base ViewModel helpers in the sample app.

See [MVVM Samples here](https://aka.ms/mvvmtoolkit/samples). 🙂

FYI @Sergio0694 and @brminnick who is working on a MAUI specific sample as per https://github.com/CommunityToolkit/MVVM-Samples/issues/49.

[2021-08-05 22:07] brminnick opened #11 "Add from Xamarin.Essentials: `Contacts`, `FilePicker`, `MediaPicker` and `WebAuthenticator`"
The following APIs are included in Xamarin.Essentials, but will not be included in the first release of .NET MAUI Essentials:
- [ ] Contacts -[Working Branch](https://github.com/CommunityToolkit/Maui/tree/Add-Xamarin.Essentials.Contacts)
- [ ] FilePicker - [Working Branch](https://github.com/CommunityToolkit/Maui/tree/Add-Xamarin.Essentials.FilePicker)
- [ ] MediaPicker - [Working Branch](https://

[2021-08-05 23:29] brminnick commented on #11
Temporarily Blocked by Internal APIs

Awaiting approval of this Pull Request: https://github.com/dotnet/maui/pull/1969

[2021-08-11 16:42] maxkoshevoi commented on #11
What was the reason for not including them into MAUI? Are they not stable or optimized?

[2021-08-11 17:27] brminnick commented on #11
Good question!

Yup - we had a few concerns over the stability and flexibility of the APIs and figured it'd be best to let them first mature in the MAUI Toolkit, and then eventually bring them to `Microsoft.Maui.Essentials`

[2021-08-18 08:39] anpin opened #14 "Context menu contribution"
Hi! I haven't really tried MAUI yet, but I was wondering if it makes sense to port my existing [context menu plugin for XF](https://github.com/anpin/ContextMenuContainer) to MAUI as a part of this community toolkit or if something would be implemented natively in the MAUI itself and porting it would be just a waste of time?

[2021-08-18 09:17] jingliancui opened #15 "Please Don't forget the AppBar feature"
https://github.com/xamarin/XamarinCommunityToolkit/issues/545

I remember this feature is still pending .

[2021-08-18 11:55] jfversluis commented on #15
We'll reevaluate anything and everything that is in the Toolkit now and what we were thinking of adding.

Closing this one so we don't have duplicate issues on both sides.

[2021-08-18 11:55] #15 closed

[2021-08-18 17:07] mhrastegary77 commented on #14
This would be really AWESOME!!!

[2021-08-18 22:16] pictos commented on #14
Hey, @anpin thanks for your interest in our Maui Community Toolkit. Can you tell how your plugin is different from our PopUp control?

I believe that we can archive the same goal with the PopUp + anchor feature. Maybe your plugin has more properties that make the creation of the context menu easier and we can expand our PopUp control with those properties. What do you think?

[2021-08-19 05:18] anpin commented on #14
Hi @pictos that is what I’m asking essentially, if there is something already implemented to cover such functionality in the toolkit. I will take a look at the popup control thanks.

[2021-08-19 10:33] anpin commented on #14
I briefly looked over this repo and main dotnet/MAUI repo and I couldn't find the PopUp control.  @pictos can you point me in the right direction please?

[2021-08-19 10:50] IeuanWalker commented on #14
@anpin doens look like it's been ported over yet - https://github.com/xamarin/XamarinCommunityToolkit/tree/main/src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Popup

[2021-08-20 03:12] pictos opened #17 "♻ Ensure no references to Xamarin.CommunityTookit in Maui app that uses MCT"
Based on this https://github.com/dotnet/maui/pull/1816

We want to make sure that users don't have both packages added to the project.

[2021-09-03 09:00] maxkoshevoi opened #23 "Add `.net6` target framework"
Currently it's not possible to move UI into a separate project (that targets just `.net6`) due to MauiToolkint not targeting that framework. In XCT it was possible. `Microsoft.Maui.Dependencies` has `.net6`, so it's also possible in vanilla Maui.

Could you please add `.net6` and another target framework to Maui toolkit (and `Xamarin.CommunityToolkit.MauiCompat`)?

**Workardond**:
Replace `.net6`

[2021-09-03 10:12] brminnick commented on #23
.NET MAUI only currently supports `net6.0-ios`, `net6.0-android`, `net6.0-maccatalyst` and `net6.0-windows10.0.19041`.

It does not yet include support for `net6.0`.

[2021-09-03 10:29] maxkoshevoi commented on #23
Seems like it does. I was able to build `.net6` projects that reference `Microsoft.Maui.Dependencies`.

https://www.nuget.org/packages/Microsoft.Maui.Dependencies/6.0.100-preview.7.1345

![image](https://user-images.githubusercontent.com/6609929/131991246-eed97fe2-fc33-4599-97f0-f257c92245f2.png)

[2021-09-03 16:39] maxkoshevoi commented on #23
Everything builds without issues: https://github.com/CommunityToolkit/Maui/pull/24

[2021-09-04 03:23] brminnick commented on #23
Great! `net6.0` must've made it into the latest preview!

I'll review the PR today 👍

[2021-09-04 12:39] #23 closed

[2021-09-04 12:51] maxkoshevoi commented on #23
@brminnick Thanks for approving the PR! Could you please make the same change for `Xamarin.CommunityToolkit.MauiCompat`?

[2021-09-04 13:09] #14 closed

[2021-09-09 06:30] taozuhong opened #28 "Add DataGrid support"
Will DataGrid control will be support in this library?

[2021-09-09 06:55] #28 closed

[2021-09-10 15:35] teohumeau opened #30 "Missing MediaElement control"
The MediaElement XAML control was working well in Xamarin, please include it for MAUI !

[2021-09-10 16:24] #30 closed

[2021-09-22 06:10] dimonovdd commented on #11
Hi. I would be happy to help with this issue. But I have a different opinion on this matter:
1) This library should not depend on MAUI. Developers will need the ability to use it in native .NET 6 projects
2) If we want to cut up Essentials, then let's leave only a most important APIs there such as MainThread

[2021-09-22 16:26] dimonovdd commented on #11
Hi @jamesmontemagno  thank you for your reply.
And yet, if you have really good reasons to bring it to the toolkit, then we should make a separate toolkit without MAUI for Essentials.

[2021-09-22 16:39] dimonovdd commented on #11
If we create a separate toolkit for these APIs, then in the future we will be able to add new APIs (Calendar, AudiRecorder and etc.)

[2021-09-22 16:47] maxkoshevoi commented on #11
Off topic:
Good candidate for Calendar API https://github.com/TheAlmightyBob/Calendars

[2021-09-22 17:01] dimonovdd commented on #11
https://github.com/xamarin/Essentials/pull/1406

[2021-09-22 17:10] brminnick commented on #11
Hi Friends. Please open a [Discussion](https://github.com/CommunityToolkit/Maui/discussions) to discuss creating a second Toolkit.

Let's keep this Feature Request focused on the `Contacts`, `FilePicker`, `MediaPicker` and `WebAuthenticator` APIs.

[2021-09-23 20:07] brminnick opened #35 "[Proposal] Animation Behavior"
# Animation Behavior

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Documentation: https://github.com/MicrosoftDocs/CommunityToolkit/pull/121
* [x] Sample: https://github.com/CommunityToolkit/Maui/blob/main/samples/CommunityToolkit.Maui.Sample/Pages/Behaviors/AnimationBehaviorPage

[2021-09-23 20:36] brminnick opened #36 "[Proposal] Set Focus When Entry Completed Behavior"
# SetFocusOnEntryCompletedBehavior

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Documentation
* [x] Sample

## Summary
[summary]: #summary

The `SetFocusOnEntryCompletedBehavior` is a `Behavior` that gives focus to a specified `VisualElement` when an `Entry` is completed. For ex

[2021-09-23 21:48] brminnick opened #37 "[Proposal] Character Validation Behavior"
# CharactersValidationBehavior

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Sample
* [x] Documentation

## Summary
[summary]: #summary

The `CharactersValidationBehavior` is a `Behavior` that allows the user to validate text input depending on specified parameters. For example,

[2021-09-23 21:58] brminnick opened #38 "[Proposal] Email Validation Behavior"
# EmailValidationBehavior

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Sample
* [x] Documentation

## Summary
[summary]: #summary

The `EmailValidationBehavior` is a behavior that allows users to determine whether or not text input is a valid e-mail address. For example, an `Ent

[2021-09-23 22:10] brminnick opened #39 "[Proposal] Multi-Validation Behavior"
# MultiValidationBehavior

* [x] Proposed
* [ ] Prototype: Not Started
* [ ] Implementation: Not Started
  * [ ] iOS Support
  * [ ] Android Support
  * [ ] macOS Support
  * [ ] Windows Support
* [ ] Documentation: Not Started
* [ ] Sample: Not Started

## Summary
[summary]: #summary

The `MultiValidationBehavior` is a `Behavior` that allows the user to combine multiple validators to validate tex

[2021-09-23 22:20] brminnick opened #40 "[Proposal] Numeric Validation Behavior"
# NumericValidationBehavior

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Sample
* [x] Documentation

## Summary
[summary]: #summary

The `NumericValidationBehavior` is a `Behavior` that allows the user to determine if text input is a valid numeric value. For example, an `Entry`

[2021-09-23 22:25] brminnick opened #41 "[Proposal] Required String Validation Behavior"
# RequiredStringValidationBehavior

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Sample
* [x] Documentation

## Summary
[summary]: #summary

The `RequiredStringValidationBehavior` is a `Behavior` that allows the user to determine if text input is equal to specific text. For examp

[2021-09-23 22:30] brminnick opened #42 "[Proposal] Text Validation Behavior"
# TextValidationBehavior

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Sample
* [x] Documentation

## Summary
[summary]: #summary

The `TextValidationBehavior` is a `Behavior` that allows the user to validate a given text depending on specified parameters. By adding this behavior

[2021-09-23 22:36] brminnick opened #43 "[Proposal] Uri Validation Behavior"
# UriValidationBehavior

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Sample
* [x] Documentation

## Summary
[summary]: #summary

The `UriValidationBehavior` is a behavior that allows users to determine whether or not text input is a valid `URI`. For example, an `Entry` control c

[2021-09-23 22:47] brminnick opened #44 "[Proposal] Event-To-Command Behavior"
# EventToCommandBehavior

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Documentation
* [x] Sample

## Summary
[summary]: #summary

The `EventToCommandBehavior` is a `Behavior` that allows the user to invoke an `ICommand` through an `Event`. It is designed to associate `ICommand`

[2021-09-23 23:03] brminnick opened #45 "[Proposal] Implied Order Grid Behavior"
# ImpliedOrderGridBehavior

* [x] Proposed
* [ ] Prototype: Not Started
* [ ] Implementation: Not Started
  * [ ] iOS Support
  * [ ] Android Support
  * [ ] macOS Support
  * [ ] Windows Support
* [ ] Unit Tests: Not Started
* [ ] Documentation: Not Started
* [ ] Sample: Not Started

## Summary
[summary]: #summary

The ImpliedOrderGridBehavior enables you to automatically assign a Grid row and co

[2021-09-23 23:08] brminnick opened #46 "[Proposal] Masked Behavior"
# MaskedBehavior

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Documentation
* [x] Sample

## Summary
[summary]: #summary

The `MaskedBehavior` is a `Behavior` that allows the user to define an input mask for data entry. Adding this behavior to an `Entry` control will force the u

[2021-09-23 23:16] brminnick opened #47 "[Proposal] Maximum Length Reached Behavior"
# MaxLengthReachedBehavior

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [ ] Documentation: Not Started
* [x] Sample

## Summary
[summary]: #summary

The `MaxLengthReachedBehavior` is a behavior that allows the user to trigger an action when a user has reached the maximum length allo

[2021-09-23 23:22] brminnick opened #48 "[Proposal] ProgressBar Animation Behavior"
# ProgressBarAnimationBehavior

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Documentation
* [x] Sample

## Summary
[summary]: #summary

A behavior that animates a ProgressBar based on `double AnimateProgress`.

## Detailed Design
[design]: #detailed-design

### ProgressBarAnimat

[2021-09-23 23:32] brminnick opened #49 "[Proposal] User Stopped Typing Behavior"
# UserStoppedTypingBehavior

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Documentation: In Progress (https://github.com/MicrosoftDocs/CommunityToolkit/pull/60)
* [x] Sample

## Summary
[summary]: #summary

The `UserStoppedTypingBehavior` is a `Behavior` that allows the user to t

[2021-09-24 10:41] IeuanWalker commented on #46
@brminnick I contributed this original, and am happy to do a PR for it if you want.

[2021-09-24 18:47] brminnick commented on #46
No worries @IeuanWalker! We've already added it to the Maui Community Toolkit: https://github.com/CommunityToolkit/Maui/blob/bc44e35f133c8d3e0e727135336656877103588c/src/CommunityToolkit.Maui/Behaviors/MaskedBehavior.shared.cs#L12

I'm opening all of these Proposals this week to basically just catch up on the paperwork. We are implementing a [new workflow](https://github.com/CommunityToolkit/Maui/

[2021-09-24 19:26] brminnick opened #50 "[Proposal] `bool`-to-`object` Converter"
# BoolToObjectConverter

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Documentation
* [x] Sample

## Summary
[summary]: #summary

The `BoolToObjectConverter` is a converter that allows users to convert a `bool` value binding to a specific `object`. By providing both a TrueObject

[2021-09-24 19:35] brminnick opened #51 "[Proposal] `byte[]`-to-`ImageSource` Converter"
# ByteArrayToImageSourceConverter

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Sample
* [x] Documentation

## Summary
[summary]: #summary

The `ByteArrayToImageSourceConverter` is a `Converter` that allows the user to convert an incoming value from `byte[]` and returns an `Image

[2021-09-24 20:12] brminnick opened #52 "[Proposal] `Color-To-Color` Converters"
# ColorToBlackOrWhiteConverter

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Sample
* [x] Unit Tests
* [ ] Documentation: Not Started

## Summary
[summary]: #summary

A one-way converter that converts a `Color` to a monochrome value of black or white. If the incoming `Color` is light, it will be

[2021-09-24 20:21] brminnick opened #53 "[Proposal] `Color`-To-Component Converters"
# ColorToComponentConverters

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Documentation
* [x] Sample

## Summary
[summary]: #summary

Converts the incoming value from `Color` and returns the object of a type `byte`.

## Detailed Design
[design]: #detailed-design

[code]

## Usag

[2021-09-24 20:31] brminnick opened #54 "[Proposal] `Color`-To-`string` Converters"
# ColorToStringConverter

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Documentation
* [x] Sample

## Summary
[summary]: #summary

Converts a `Color` to its associated `string`, e.g. RGB, RGBA, HEX, CMYK, etc.

## Detailed Design
[design]: #detailed-design

### ColorToStringConve

[2021-09-24 20:42] brminnick opened #55 "[Proposal] CompareConverter"
# CompareConverter

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Documentation
* [x] Sample

## Summary
[summary]: #summary

The `CompareConverter` is a `Converter` that converts an object of a type implementing `IComparable`, and returns the comparison result as a `bool` if no o

[2021-09-24 20:52] brminnick opened #56 "[Proposal] DateTimeOffsetConverter"
# DateTimeOffsetConverter

* [x] Proposed
* [x] Prototype
* [x] Implementation: Not Started
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Documentation: Not Started
* [x] Sample

## Summary
[summary]: #summary

The `DateTimeOffsetConverter` is a converter that allows users to convert a `DateTimeOffset` to a `DateTime`. Sometimes a

[2021-09-25 18:52] brminnick opened #57 "[Proposal] `double`-To-`int` Converter"
# DoubleToIntConverter

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Documentation
* [x] Sample

## Summary
[summary]: #summary

The `DoubleToIntConverter` is a `Converter` that allows users to convert an incoming `double` value to an `int`. Optionally the user can provide a mult

[2021-09-25 19:08] brminnick opened #58 "[Proposal] `enum`-To-`bool` Converter"
# EnumToBoolConverter

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Sample
* [x] Documentation: Not Started

## Summary
[summary]: #summary

The `EnumToBoolConverter` is a converter that allows users to convert a `enum` value binding to a `bool` value. The Enum value can be compa

[2021-09-25 19:15] brminnick opened #59 "[Proposal] `enum`-To-`int` Converter"
# EnumToIntConverter

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Sample
* [x] Documentation: Started at https://github.com/MicrosoftDocs/CommunityToolkit/pull/57

## Summary
[summary]: #summary

The `EnumToIntConverter` is a converter that allows you to convert a standard `Enum

[2021-09-25 19:28] brminnick opened #60 "[Proposal] EqualConverter"
# EqualConverter

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Sample
* [x] Documentation

## Summary
[summary]: #summary

The EqualConverter is a converter that allows users to convert any value binding to a bool depending on whether or not it is equal to a different value. The

[2021-09-25 19:37] brminnick opened #61 "[Proposal] ImageResourceConverter"
# ImageResourceConverter

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Sample
* [x] Documentation

## Summary
[summary]: #summary

Converts embedded image resource ID to it ImageSource

## Detailed Design
[design]: #detailed-design

### ImageResourceConverter.shared.cs
[code]

##

[2021-09-25 19:45] brminnick opened #62 "[Proposal] IndexToArrayItemConverter"
# IndexToArrayItemConverter

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Sample
* [x] Documentation

## Summary
[summary]: #summary

The IndexToArrayItemConverter is a converter that allows users to convert a int value binding to an item in an array. The int value being data bou

[2021-09-25 19:50] brminnick opened #63 "[Proposal] `int`-To-`bool` Converter"
# IntToBoolConverter

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Sample
* [x] Documentation

## Summary
[summary]: #summary

The IntToBoolConverter is a converter that allows users to convert an incoming int value to a bool. If the incoming int value is 0, it will be converted

[2021-09-25 20:18] brminnick opened #64 "[Proposal] Inverted `bool` Converter"
# InvertedBoolConverter

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Sample
* [x] Documentation

## Summary
[summary]: #summary

The InvertedBoolConverter is a converter that allows users to convert a bool value binding to its inverted value

## Detailed Design
[design]: #detail

[2021-09-25 20:29] brminnick opened #65 "[Proposal] Is In Range Converter"
# IsInRangeConverter

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Sample
* [x] Documentation

## Summary
[summary]: #summary

The IsInRangeConverter is a converter that allows users to convert a object value into a boolean value, checking if the value is between MinValue and Max

[2021-09-25 20:36] brminnick opened #66 "[Proposal] IsStringNullOrEmpty Converters"
# IsStringNullOrEmptyConverter

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Sample
* [x] Documentation

## Summary
[summary]: #summary

The `IsStringNullOrEmptyConverter` is a converter that allows users to convert an incoming `string` binding to a `bool` value. This value repre

[2021-09-25 20:47] brminnick opened #67 "[Proposal] `ItemSelectedEventArgs` Converter"
# [FEATURE_NAME]

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [ ] Sample: Not Started
* [ ] Documentation: Not Started

## Summary
[summary]: #summary

The ItemSelectedEventArgsConverter is a converter that allows users to extract the SelectedItem value from an SelectedItemChangedEv

[2021-09-25 20:52] brminnick opened #68 "[Proposal] `ItemTappedEventArgs` Converter"
# ItemTappedEventArgsConverter

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Sample
* [x] Documentation

## Summary
[summary]: #summary

The ItemTappedEventArgsConverter is a converter that allows users to extract the Item value from an ItemTappedEventArgs object. It can subseque

[2021-09-25 21:02] brminnick opened #69 "[Proposal] IsListNullOrEmptyConverter Converters"
# IsListNullOrEmpty Converters

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Sample
* [x] Documentation

## Summary
[summary]: #summary

The IsListNullOrEmpty is a converter that allows users to convert an incoming binding that implements IEnumerable to a bool value. This value r

[2021-09-25 21:49] brminnick opened #70 "[Proposal] `List`-To-`string` Converter"
# ListToStringConverter

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Sample
* [x] Documentation

## Summary
[summary]: #summary

The ListToStringConverter is a converter that allows users to convert an incoming binding that implements IEnumerable to a single string value. The Se

[2021-09-25 22:00] brminnick opened #71 "[Proposal] Math Expression Converters"
# MathExpressionConverter

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Sample
* [x] Documentation: https://github.com/MicrosoftDocs/CommunityToolkit/pull/89

## Summary
[summary]: #summary

The `MathExpressionConverter` is a converter that allows users to calculate an expression

[2021-09-25 22:12] brminnick opened #72 "[Proposal] Multi Converter"
# MultiConverter

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Sample
* [x] Documentation

## Summary
[summary]: #summary

The MultiConverter is a converter that allows users to chain multiple converters together. The initial binding value is passed through to the first converter

[2021-09-25 22:17] brminnick opened #73 "[Proposal] NotEqual Converter"
# NotEqualConverter

* [x] Proposed
* [X] Prototype
* [x] Implementation
  * [X] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Sample
* [x] Documentation

## Summary
[summary]: #summary

The NotEqualConverter is a converter that allows users to convert any value binding to a boolean depending on whether or not it is equal to a different va

[2021-09-25 22:34] brminnick opened #74 "[Proposal] `State`-To-`bool` Converter"
# StateToBooleanConverter

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Sample
* [x] Documentation

## Summary
[summary]: #summary

This converter can be used with StateLayout to determine if a certain state is visible

## Detailed Design
[design]: #detailed-design

### StateToBo

[2021-09-25 22:43] brminnick opened #75 "[Proposal] `string`-To-`List` Converter"
# StringToListConverter

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Sample
* [x] Documentation

## Summary
[summary]: #summary

The StringToListConverter is a converter that allows the users to convert a string value into a string array that contains the substrings in this stri

[2021-09-25 22:53] brminnick opened #76 "[Proposal] TextCaseConverter"
# TextCaseConverter

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Sample
* [x] Documentation

## Summary
[summary]: #summary

Converts string and char to certain case as specified with Type or the parameter of the Convert method

## Detailed Design
[design]: #detailed-design

###

[2021-09-25 23:08] brminnick opened #77 "[Proposal] Variable Multi-Value Converter"
# VariableMultiValueConverter

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Sample
* [x] Documentation:https://github.com/MicrosoftDocs/CommunityToolkit/pull/108

## Summary
[summary]: #summary

The `VariableMultiValueConverter` is a converter that allows users to convert multipl

[2021-09-25 23:33] brminnick opened #78 "[Proposal] IconTintColor Effect"
# IconTintColorEffect

* [x] Proposed
* [x] Prototype: (It's the same as XCT)
* [x] Implementation:
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [ ] Windows Support
* [x] Unit Tests
* [x] Sample
* [x] Documentation

## Summary
[summary]: #summary

An `Effect` to set the tint color of an ImageButton or an Image.

## Detailed Design

### IconTintColorEffect.shared.cs

[code]

[2021-09-25 23:41] brminnick opened #79 "[Proposal] LifeCycleEffect"
# LifeCycleEffect

* [x] Proposed
* [ ] Prototype: Not Started
* [ ] Implementation: Not Started
  * [ ] iOS Support
  * [ ] Android Support
  * [ ] macOS Support
  * [ ] Windows Support
* [ ] Unit Tests: Not Started
* [ ] Sample: Not Started
* [ ] Documentation: Not Started

## Summary
[summary]: #summary

The LifecycleEffect allows you to determine when a VisualElement has its renderer allocated

[2021-09-26 17:46] brminnick opened #80 "[Proposal] RemoveBorderEffect"
# RemoveBorderEffect

* [x] Proposed
* [ ] Prototype: Not Started
* [ ] Implementation: Not Started
  * [ ] iOS Support
  * [ ] Android Support
  * [ ] macOS Support
  * [ ] Windows Support
* [ ] Unit Tests: Not Started
* [ ] Sample: Not Started
* [ ] Documentation: Not Started

## Summary
[summary]: #summary

Removes a border from a VisualElement

## Detailed Design
[design]: #detailed-design

##

[2021-09-26 18:06] brminnick opened #81 "[Proposal] SafeAreaEffect"
# SafeAreaEffect

* [x] Proposed
* [ ] Prototype: Not Started
* [ ] Implementation: Not Started
  * [ ] iOS Support
  * [ ] Android Support
  * [ ] macOS Support
  * [ ] Windows Support
* [ ] Unit Tests: Not Started
* [ ] Sample: Not Started
* [ ] Documentation: Not Started

## Summary
[summary]: #summary

The SafeAreaEffect is an effect that can be added to any element through an attached propert

[2021-09-26 18:49] brminnick opened #82 "[Proposal] SelectAllTextEffect"
# SelectAllTextEffect

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [ ] Unit Tests: Not Started
* [x] Sample
* [ ] Documentation: Not Started

## Summary
[summary]: #summary

Highlights all text when an InputView is selected

## Detailed Design
[design]: #detailed-design

### SelectAllTextEffect.shar

[2021-09-26 18:59] brminnick opened #83 "[Proposal] SemanticEffect"
# SemanticEffect

* [x] Proposed
* [ ] Prototype: Not Started
* [ ] Implementation: Not Started
  * [ ] iOS Support
  * [ ] Android Support
  * [ ] macOS Support
  * [ ] Windows Support
* [ ] Unit Tests: Not Started
* [ ] Sample: Not Started
* [ ] Documentation: Not Started

## Summary
[summary]: #summary

Provides descriptive text for screen readers to any VisualElement

## Detailed Design
[desig

[2021-09-26 19:06] brminnick opened #84 "[Proposal] ShadowEffect"
# Shadow

* [x] Proposed
* [ ] Prototype: Not Started
* [ ] Implementation: Not Started
  * [ ] iOS Support
  * [ ] Android Support
  * [ ] macOS Support
  * [ ] Windows Support
* [ ] Unit Tests: Not Started
* [ ] Sample: Not Started
* [ ] Documentation: Not Started

## Summary
[summary]: #summary

Add a shadow to any VisualElement

## Detailed Design
[design]: #detailed-design

### ShadowEffect.s

[2021-09-26 19:15] brminnick opened #85 "[Proposal] StatusBarEffect"
# StatusBarEffect

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [ ] macOS Support
  * [ ] Windows Support
* [x] Unit Tests: Not Started
* [x] Sample
* [x] Documentation

## Summary
[summary]: #summary

Set the color and style of the status bar

## Detailed Design
[design]: #detailed-design

### StatusBarEffect.shared.cs

[code]

## Usage Synta

[2021-09-26 19:34] brminnick opened #86 "[Proposal] TouchEffect"
# TouchEffect

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [ ] iOS Support
  * [x] Android Support
  * [ ] macOS Support
  * [ ] Windows Support
* [ ] Unit Tests: Not Started
* [ ] Sample: Not Started
* [ ] Documentation: Not Started

## Summary
[summary]: #summary

Adds additional touch events to any VisualElement

## Detailed Design
[design]: #detailed-design

### TouchEffect.shared.

[2021-09-26 19:38] brminnick opened #87 "[Proposal] VisualFeedbackEffect"
# VisualFeedbackEffect

* [x] Proposed
* [ ] Prototype: Not Started
* [ ] Implementation: Not Started
  * [ ] iOS Support
  * [ ] Android Support
  * [ ] macOS Support
  * [ ] Windows Support
* [ ] Unit Tests: Not Started
* [ ] Sample: Not Started
* [ ] Documentation: Not Started

## Summary
[summary]: #summary

Adds color to a VisualElement when touched

## Detailed Design
[design]: #detailed-des

[2021-09-26 19:44] brminnick opened #88 "[Proposal] BackgroundColorTo Animation Extension"
# ColorTo

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Sample
* [x] Documentation

## Summary
[summary]: #summary

Animation to change the Color of a VisualElement

## Detailed Design
[design]: #detailed-design

### ColorAnmiationExtensions.shared.cs

[code]

## Usage Syntax
[us

[2021-09-26 19:56] brminnick opened #89 "[Proposal] Color Conversion Extensions"
# ColorConversionExtensions

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Sample
* [x] Documentation

## Summary
[summary]: #summary

Extension methods for Color, e.g. ToRgbString, ToCmykString

## Detailed Design
[design]: #detailed-design

[code]

## Usage Syntax
[usage]: #usag

[2021-09-26 20:17] brminnick opened #90 "[Proposal] ImageResource Markup Extension"
# ImageResourceMarkupExtension

* [x] Proposed
* [ ] Prototype: Not Started
* [ ] Implementation: Not Started
  * [ ] iOS Support
  * [ ] Android Support
  * [ ] macOS Support
  * [ ] Windows Support
* [ ] Unit Tests: Not Started
* [ ] Sample: Not Started
* [ ] Documentation: Not Started

## Summary
[summary]: #summary

`MarkupExtension` for `ImageSource`.

## Detailed Design
[design]: #detailed-d

[2021-09-26 21:45] brminnick opened #91 "[Proposal] TranslateExtension"
# TranslateExtension

* [x] Proposed
* [ ] Prototype: Not Started
* [ ] Implementation: Not Started
  * [ ] iOS Support
  * [ ] Android Support
  * [ ] macOS Support
  * [ ] Windows Support
* [ ] Unit Tests: Not Started
* [ ] Sample: Not Started
* [ ] Documentation: Not Started

## Summary
[summary]: #summary

The TranslateExtension allows users to handle multi-language support at runtime. It uses

[2021-09-26 21:46] brminnick commented on #91
Closing this due to its similarity of RESX

[2021-09-26 21:46] #91 closed

[2021-09-26 21:58] brminnick opened #92 "[Proposal] DelegateWeakEventManager"
# DelegateWeakEventManager

* [x] Proposed
* [x] Prototype
* [ ] Implementation: Not Started
  * [ ] iOS Support
  * [ ] Android Support
  * [ ] macOS Support
  * [ ] Windows Support
* [ ] Unit Tests: Not Started
* [ ] Sample: Not Started
* [ ] Documentation: Not Started

## Summary
[summary]: #summary

An event Delegate implementation that enables the garbage collector to collect an object withou

[2021-09-26 22:48] brminnick commented on #92
Currently pending approval for promotion into .NET MAUI:
https://github.com/dotnet/maui/issues/2703

[2021-09-26 23:11] brminnick opened #93 "[Proposal] LocalizationResourceManager"
# LocalizationResourceManager

* [x] Proposed
* [ ] Prototype: Not Started
* [ ] Implementation: Not Started
  * [ ] iOS Support
  * [ ] Android Support
  * [ ] macOS Support
  * [ ] Windows Support
* [ ] Unit Tests: Not Started
* [ ] Sample: Not Started
* [ ] Documentation: Not Started

## Summary
[summary]: #summary

The LocalizationResourceManager class is a helper class that enables users to r

[2021-09-26 23:14] brminnick commented on #93
Closing for the following reasons:
- Duplication of RESX
- Required use of `ObservableObject`
  - `ObservableObject` is not  implemented in `CommunityToolkit.Maui`
  - `ObservableObject` is implemented in `CommunityToolkit.MVVM`

[2021-09-26 23:24] brminnick opened #94 "[Proposal] WeakEventManager<T>"
# WeakEventManager<T>

* [x] Proposed
* [ ] Prototype: Not Started
* [ ] Implementation: Not Started
  * [ ] iOS Support
  * [ ] Android Support
  * [ ] macOS Support
  * [ ] Windows Support
* [ ] Unit Tests: Not Started
* [ ] Sample: Not Started
* [ ] Documentation: Not Started

## Summary
[summary]: #summary

An event implementation that enables the garbage collector to collect an object without

[2021-09-26 23:50] brminnick opened #95 "[Proposal] AsyncCommand"
# AsyncCommand

* [x] Proposed
* [ ] Prototype: Not Started
* [ ] Implementation: Not Started
  * [ ] iOS Support
  * [ ] Android Support
  * [ ] macOS Support
  * [ ] Windows Support
* [ ] Unit Tests: Not Started
* [ ] Sample: Not Started
* [ ] Documentation: Not Started

## Summary
[summary]: #summary

Enables the Task type to safely be used asynchronously with an ICommand

## Detailed Design
[d

[2021-09-26 23:51] brminnick commented on #95
Closing in favor of [`AsyncRelayCommand`](https://docs.microsoft.com/en-us/windows/communitytoolkit/mvvm/asyncrelaycommand)

[2021-09-27 22:08] brminnick opened #96 "[Proposal] `ValueTask Async Command"
# AsyncValueCommand

* [x] Proposed
* [ ] Prototype: Not Started
* [ ] Implementation: Not Started
  * [ ] iOS Support
  * [ ] Android Support
  * [ ] macOS Support
  * [ ] Windows Support
* [ ] Unit Tests: Not Started
* [ ] Sample: Not Started
* [ ] Documentation: Not Started

## Summary
[summary]: #summary

Enables the Task type to safely be used asynchronously with an ICommand

## Detailed Desi

[2021-09-27 22:09] brminnick commented on #96
Closing in favor of the MVVM Toolkit's [`AsyncRelayCommand`](https://docs.microsoft.com/en-us/windows/communitytoolkit/mvvm/asyncrelaycommand)

[2021-09-27 22:09] #96 closed

[2021-09-27 22:22] brminnick opened #97 "[Proposal] CommandFactory"
# CommandFactory

* [x] Proposed
* [ ] Prototype: Not Started
* [ ] Implementation: Not Started
  * [ ] iOS Support
  * [ ] Android Support
  * [ ] macOS Support
  * [ ] Windows Support
* [ ] Unit Tests: Not Started
* [ ] Sample: Not Started
* [ ] Documentation: Not Started

## Summary
[summary]: #summary

The CommandFactory class provides a unified approach to creating new Command, AsyncCommand,

[2021-09-27 22:22] brminnick commented on #97
Recommend adding `CommandFactory` to the MVVM Toolkit to augment `RelayCommand`

https://docs.microsoft.com/en-us/windows/communitytoolkit/mvvm/asyncrelaycommand

[2021-09-27 22:22] #97 closed

[2021-09-28 00:10] brminnick opened #98 "[Proposal] ObservableObject"
# ObservableObject

* [x] Proposed
* [ ] Prototype: Not Started
* [ ] Implementation: Not Started
  * [ ] iOS Support
  * [ ] Android Support
  * [ ] macOS Support
  * [ ] Windows Support
* [ ] Unit Tests: Not Started
* [ ] Sample: Not Started
* [ ] Documentation: Not Started

## Summary
[summary]: #summary

Observable object with INotifyPropertyChanged implemented using WeakEventManager

## Detai

[2021-09-28 00:11] brminnick commented on #98
Closing this in favor of MVVM Toolkit's Observable Object

[2021-09-28 00:11] #98 closed

[2021-09-28 00:40] brminnick opened #99 "[Proposal] ObservableRangeCollection"
# ObservableRangeCollection

* [x] Proposed
* [ ] Prototype: Not Started
* [ ] Implementation: Not Started
  * [ ] iOS Support
  * [ ] Android Support
  * [ ] macOS Support
  * [ ] Windows Support
* [ ] Unit Tests: Not Started
* [ ] Sample: Not Started
* [ ] Documentation: Not Started

## Summary
[summary]: #summary

Represents a dynamic data collection that provides notifications when items get a

[2021-09-28 00:41] brminnick commented on #99
Recommend adding this to the MVVM Toolkit: https://docs.microsoft.com/en-us/windows/communitytoolkit/mvvm/introduction

[2021-09-28 00:41] #99 closed

[2021-09-28 01:00] brminnick opened #100 "[Proposal] Grouping"
# Grouping

* [x] Proposed
* [ ] Prototype: Not Started
* [ ] Implementation: Not Started
  * [ ] iOS Support
  * [ ] Android Support
  * [ ] macOS Support
  * [ ] Windows Support
* [ ] Unit Tests: Not Started
* [ ] Sample: Not Started
* [ ] Documentation: Not Started

## Summary
[summary]: #summary

Grouping of items by key into ObservableRange

## Detailed Design
[design]: #detailed-design

###

[2021-09-28 01:00] brminnick commented on #100
Recommend adding this to MVVM Community Toolkit https://docs.microsoft.com/en-us/windows/communitytoolkit/mvvm/introduction

[2021-09-28 01:00] #100 closed

[2021-09-28 01:19] brminnick opened #101 "[Proposal] iOS-Specific PopUp Arrow Direction"
# PopUp Arrow Direction

* [x] Proposed
* [ ] Prototype: Not Started
* [ ] Implementation: Not Started
  * [ ] iOS Support
  * [ ] Android Support
  * [ ] macOS Support
  * [ ] Windows Support
* [ ] Unit Tests: Not Started
* [ ] Sample: Not Started
* [ ] Documentation: Not Started

## Summary
[summary]: #summary

iOS-specific implementation allowing the user to configure the Popup Arrow Direction

[2021-09-28 01:34] brminnick opened #102 "[Proposal] Windows-Specific Popup Border Color"
# WindowsPopupBorderColor

* [x] Proposed
* [ ] Prototype: Not Started
* [ ] Implementation: Not Started
  * [ ] iOS Support
  * [ ] Android Support
  * [ ] macOS Support
  * [ ] Windows Support
* [ ] Unit Tests: Not Started
* [ ] Sample: Not Started
* [ ] Documentation: Not Started

## Summary
[summary]: #summary

A windows-specific control to change the border color of a `Popup`.

## Detailed De

[2021-09-28 01:42] brminnick opened #103 "[Proposal] Android-Specific Navigation Bar Effect"
# NavigationBarEffect

* [x] Proposed
* [ ] Prototype: Not Started
* [ ] Implementation: Not Started
  * [ ] iOS Support
  * [ ] Android Support
  * [ ] macOS Support
  * [ ] Windows Support
* [ ] Unit Tests: Not Started
* [ ] Sample: Not Started
* [ ] Documentation: Not Started

## Summary
[summary]: #summary

Android-specific implementation allowing the user to customize the Navigation Bar

## D

[2021-09-28 01:56] brminnick opened #104 "[Proposal] AvatarView"
# AvatarView

* [x] Proposed
* [x] Prototype: Not Started
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Sample
* [x] Documentation

## Summary
[summary]: #summary

Allows the user to display an avatar or the user's initials if no avatar is available

## Detailed Design
[design]: #detailed-design

### AvatarView

[2021-09-28 02:05] brminnick opened #105 "[Proposal] BadgeView"
# BadgeView

* [x] Proposed
* [x] Prototype
* [ ] Implementation
  * [ ] iOS Support
  * [ ] Android Support
  * [ ] macOS Support
  * [ ] Windows Support
* [ ] Unit Tests: Not Started
* [ ] Sample
* [ ] Documentation: Not Started

## Summary
[summary]: #summary

The BadgeView allows the user to show a badge with a string value on top of any control. By wrapping a control in a BadgeView control, y

[2021-09-28 02:19] brminnick opened #106 "[Proposal] CameraView"
# CameraView

* [x] Proposed
* [ ] Prototype: Not Started
* [ ] Implementation: Not Started
  * [ ] iOS Support
  * [ ] Android Support
  * [ ] macOS Support
  * [ ] Windows Support
* [ ] Unit Tests: Not Started
* [ ] Sample: Not Started
* [ ] Documentation: Not Started

## Summary
[summary]: #summary

The CameraView control enables the user to display a preview of the camera output. In addition,

[2021-09-28 02:39] brminnick opened #107 "[Proposal] DockLayout"
# DockLayout

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Sample
* [x] Documentation: Not Started

## Summary
[summary]: #summary

The DockLayout makes it easy to dock content in all four directions (top, bottom, left and right).
This makes it a great choice in many situations,

[2021-09-28 02:59] brminnick opened #108 "[Proposal] DrawingView"
# DrawingView

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Sample
* [x] Documentation

## Summary
[summary]: #summary

Allows you to draw one or multiple lines on a canvas

## Detailed Design
[design]: #detailed-design

### DrawingView.shared.cs

[code]

## Usage Syntax
[usage]:

[2021-09-28 03:11] brminnick opened #109 "[Proposal] Expander"
# Expander

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Sample
* [x] Documentation: https://github.com/MicrosoftDocs/CommunityToolkit/pull/165#pullrequestreview-1172896030

## Summary
[summary]: #summary

The Xamarin.CommunityToolkit Expander control provides an expandable conta

[2021-09-28 03:21] brminnick opened #110 "[Proposal] GravatarImageSource"
# GravatarImageSource

* [x] Proposed
* [x] Prototype
* [ ] Implementation: Not Started
  * [ ] iOS Support
  * [ ] Android Support
  * [ ] macOS Support
  * [ ] Windows Support
* [ ] Unit Tests: Not Started
* [ ] Sample: Not Started
* [ ] Documentation: Not Started

## Summary
[summary]: #summary

Allows the use of Gravatar Images

## Detailed Design
[design]: #detailed-design

### GravatarImageS

[2021-09-28 03:32] brminnick opened #111 "[Proposal] HexLayout"
# HexLayout

* [x] Proposed
* [x] Prototype
* [ ] Implementation: Not Started
  * [ ] iOS Support
  * [ ] Android Support
  * [ ] macOS Support
  * [ ] Windows Support
* [ ] Unit Tests: Not Started
* [ ] Sample: Not Started
* [ ] Documentation: Not Started

## Summary
[summary]: #summary

A Layout that arranges the elements in a honeycomb pattern

## Detailed Design
[design]: #detailed-design

###

[2021-09-28 03:38] brminnick opened #112 "[Proposal] LazyView"
# LazyView

* [x] Proposed
* [x] Prototype:
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Sample
* [x] Documentation: https://github.com/MicrosoftDocs/CommunityToolkit/pull/245

## Summary
[summary]: #summary

The LazyView control allows you to delay the initialization of a View. You need to provide the type of

[2021-09-28 03:46] brminnick opened #113 "[Proposal] MediaElement"
# MediaElement

* [x] Proposed
* [x] Prototype: Not Started
* [x] Implementation: Not Started
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests: Not Started
* [x] Sample: Not Started
* [x] Documentation: Not Started

## Summary
[summary]: #summary

MediaElement is a view for playing video and audio. Media that's supported by the underlying p

[2021-09-28 03:54] brminnick opened #114 "[Proposal] Popup"
# Popup

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Sample
* [x] Documentation

## Summary
[summary]: #summary

A customizable popup

## Detailed Design
[design]: #detailed-design

### Popup.shared.cs

[code]

[2021-09-28 04:01] brminnick opened #115 "[Proposal] RangeSlider"
# RangeSlider

* [x] Proposed
* [ ] Prototype: Not Started
* [ ] Implementation: Not Started
  * [ ] iOS Support
  * [ ] Android Support
  * [ ] macOS Support
  * [ ] Windows Support
* [ ] Unit Tests: Not Started
* [ ] Sample: Not Started
* [ ] Documentation: Not Started

## Summary
[summary]: #summary

The RangeSlider control enables the user to select a range of values through a slider bar inter

[2021-09-28 04:06] brminnick opened #116 "[Proposal] SemanticOrderView"
# SemanticOrderView

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Sample
* [x] Documentation: https://github.com/MicrosoftDocs/CommunityToolkit/pull/236

## Summary
[summary]: #summary

Accessibility augmentation to set the order of VisualElements for screen readers

## Detailed

[2021-09-28 09:47] VladislavAntonyuk commented on #108
Duplicate #4

[2021-09-28 09:49] VladislavAntonyuk commented on #108
DrawingView allows to draw any shape (draw the line by finger), while Maui Graphics has predefined shapes: lines, rectangles.

[2021-09-28 17:17] brminnick commented on #103
On hold, pending results of https://github.com/dotnet/maui/pull/2049

[2021-09-28 17:23] brminnick commented on #4
Duplicate of #108

[2021-09-28 17:23] #4 closed

[2021-09-28 17:25] brminnick commented on #108
@jsuarezruiz Could you confirm whether or not `Microsoft.Maui.Graphics` will make  DarwingView obsolete?

[2021-09-28 18:58] brminnick opened #117 "[Proposal] SideMenuView"
# SideMenuView

* [x] Proposed
* [ ] Prototype: Not Started
* [ ] Implementation: Not Started
  * [ ] iOS Support
  * [ ] Android Support
  * [ ] macOS Support
  * [ ] Windows Support
* [ ] Unit Tests: Not Started
* [ ] Sample: Not Started
* [ ] Documentation: Not Started

## Summary
[summary]: #summary

Adds a swipe-able side menu

## Detailed Design
[design]: #detailed-design

### SideMenuView.s

[2021-09-28 19:32] brminnick opened #118 "[Proposal] Snackbar"
# Snackbar

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Sample
* [ ] Documentation: Not Started

## Summary
[summary]: #summary

Adds a snackbar.
It has to use Native Android Snackbar (`Google.Android.Material.Snackbar`) internally.
All other platforms implement a default popup

[2021-09-28 19:36] VladislavAntonyuk commented on #118
Duplicate #3
Implementation #5

[2021-09-28 19:37] brminnick opened #119 "[Proposal] Shield"
# Shield

* [x] Proposed
* [ ] Prototype: Not Started
* [ ] Implementation: Not Started
  * [ ] iOS Support
  * [ ] Android Support
  * [ ] macOS Support
  * [ ] Windows Support
* [ ] Unit Tests: Not Started
* [ ] Sample: Not Started
* [ ] Documentation: Not Started

## Summary
[summary]: #summary

The Shield is a type of badge that has two colored sections that contain text.
![](https://docs.micr

[2021-09-28 20:00] brminnick commented on #3
Duplicate of #118

[2021-09-28 20:00] #3 closed

[2021-09-28 20:08] brminnick commented on #118
@VladislavAntonyuk FYI - this Proposal needs someone on the core Maui Community Toolkit team to Champion  it before we can move to the implementation stage. We've documented the steps of this new workflow here: https://github.com/CommunityToolkit/Maui#3-proposal-championed

[2021-09-28 20:57] brminnick opened #120 "[Proposal] StateLayout"
# StateLayout

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Sample
* [x] Documentation: https://github.com/MicrosoftDocs/CommunityToolkit/pull/155

## Summary
[summary]: #summary

Displaying a specific view when your app is in a specific state is a common pattern throughout any m

[2021-09-28 23:45] brminnick opened #121 "[Proposal] TabView"
# TabView

* [x] Proposed
* [ ] Prototype: Not Started
* [ ] Implementation: Not Started
  * [ ] iOS Support
  * [ ] Android Support
  * [ ] macOS Support
  * [ ] Windows Support
* [ ] Unit Tests: Not Started
* [ ] Sample: Not Started
* [ ] Documentation: Not Started

## Summary
[summary]: #summary

The TabView control allows the user to display a set of tabs and their content. The TabView is full

[2021-09-28 23:52] brminnick opened #122 "[Proposal] UniformItemsLayout"
# UniformGrid

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Sample
* [x] Documentation https://github.com/MicrosoftDocs/CommunityToolkit/pull/75

## Summary
[summary]: #summary

The UniformItemsLayout is like the Grid, with the possibility of multiple rows and columns, but with o

[2021-09-29 00:07] brminnick opened #123 "[Proposal] IViewSwitcher"
# ViewSwitcher

* [x] Proposed
* [ ] Prototype: Not Started
* [ ] Implementation: Not Started
  * [ ] iOS Support
  * [ ] Android Support
  * [ ] macOS Support
  * [ ] Windows Support
* [ ] Unit Tests: Not Started
* [ ] Sample: Not Started
* [ ] Documentation: Not Started

## Summary
[summary]: #summary

Allows transitions between VisualElement

## Detailed Design
[design]: #detailed-design

### I

[2021-09-29 12:41] jfversluis commented on #106
We might want to check this with @Redth who has https://github.com/Redth/BigIslandBarcoding/tree/refactor-cameraview with a CameraView and additional barcode scanning (latter in a separate package) he wishes to donate

[2021-09-30 02:47] pictos opened #124 "[Proposal] Drop the Effects API and migrate all Effects to be Behaviors"
# [Drop the usage of Effects API]

* [x] Proposed
* [x] Prototype: Started
* [ ] Implementation: Not Started
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [ ] Unit Tests: Not Started
* [x] Sample: Started
* [ ] Documentation: Not Started

## Summary
[summary]: #summary

With that quote, I would suggest migrating our `Effects` to use the `Behaviors` API

[2021-09-30 20:14] brminnick commented on #124
If @jsuarezruiz and @jfversluis concur that we should no longer use Effects, I like the idea of changing them to Behaviors.

If we go with this plan, I recommend changing the names, e.g. `IconTintColorEffect` -> `IconTintColorBehavior`.

[2021-10-04 22:54] pictos commented on #79
I think that we don't need this anymore. .NET MAUI already implements a lot of lifecycle events. And also we have the overrides `Connect/DisconnectHandlers` that devs can use to implement their on _life cycle listener_

[2021-10-04 22:54] #79 closed

[2021-10-04 22:56] pictos commented on #83
I believe that we will have this on .NET MAUI, so we don't need to migrate this one.
I'll ping @pureween and @rachelkang  to give the final word and close this issue.

[2021-10-04 22:57] pictos commented on #84
We will have shadow implementation on .NET MAUI so we don't need to port this feature.

[2021-10-04 22:57] #84 closed

[2021-10-04 22:58] pictos commented on #116
I believe this is the same case as #83
I'll ping @pureween and @rachelkang  to give the final word and close this issue.

[2021-10-04 23:03] pictos commented on #45
I agree with what is said on `Unresolved Questions`. Also, with the simplified way to declare `Row/ColumnDefinitions` we can drop this control.

[2021-10-04 23:03] #45 closed

[2021-10-05 02:26] pictos commented on #85
We should hold this until this  https://github.com/dotnet/maui/pull/2049 get merged or closed

[2021-10-05 07:26] maxkoshevoi commented on #85
Would like to implement this, in case issue is unblocked

[2021-10-05 07:27] maxkoshevoi commented on #103
Would like to implement this, in case issue is unblocked

[2021-10-05 07:29] maxkoshevoi commented on #94
@brminnick I thought, `WeakEventManager` is not coming to this Nuget: https://github.com/CommunityToolkit/Maui/pull/7#issuecomment-892332156.
Is something changed after your comment above?

[2021-10-05 07:34] maxkoshevoi commented on #6
@brminnick @pictos Hi, didn't found `[Proposal]` issues for these classes. Would they be migrated to a different package?

[2021-10-05 07:47] #6 closed

[2021-10-05 09:48] jfversluis commented on #116
I think this is superseded by all the stuff going on in .NET MAUI in terms of accessibility. Unless the above pinged people will tell us otherwise, I don't think we need this.

[2021-10-05 09:49] jfversluis commented on #113
The `MediaElement` needs some love, I think what is there now is pretty stable, lots of room for improvement though. But I think a control to play media should actually be part of .NET MAUI in-the-box. While it's not that, I think we should definitely have it in the Toolkit to provide something, hopefully build it out and move it over to .NET MAUI as a mature control.

[2021-10-05 09:51] jfversluis commented on #106
Taking in regard the above comment, I definitely thing we should have this, but it will need work one way or the other.

[2021-10-05 09:58] jfversluis commented on #119
My gut feeling is that this isn't used that much? Maybe let's leave it behind for now and see if that triggers any response and re-add if people are missing it.

[2021-10-05 09:58] #119 closed

[2021-10-05 11:21] Redth commented on #106
Yeah we can move my barcode stuff over. The question is how to do it for the android dependencies. Split into another nuget?

[2021-10-05 14:46] brminnick commented on #94
The hope is that we will promote `DelegateWeakEventManager` to .NET MAUI:
https://github.com/dotnet/maui/issues/2703

If that happens, we won't need `WeakEventManager` in the .NET MAUI Community Toolkit.

If we cannot promote `DelegateWeakEventManager`, we'll likely move `WeakEventManager` to the MVVM Toolkit.

[2021-10-06 11:49] jfversluis commented on #116
I was wrong about this one! The `SemanticEffect` can go, that will go into .NET MAUI. The `SemanticOrderView` or something similar ideally as well, but that is some time in the future. I would like to add it to the .NET MAUI Toolkit because of that and deprecate it at a later stage when we get to add it to the .NET MAUI box.

[2021-10-06 13:06] jfversluis commented on #118
To be honest I think we might want to rethink some things about the API here. I love what it does, but I think there are some things we might want to rethink. For example:

- Multiple vs 1 button, since this is different across platforms
- More styling options, can we allow views in here somehow? Templates?
- Do we actually want to anchor it to a VisualElement or only allow it on pages?

[2021-10-06 16:17] VladislavAntonyuk commented on #118
1 and 2 as for the multiple buttons and templates. Let's decide the preferable way. Do we rely on native implementation (Google -> 1 button by default but allow to extend the template with multiple buttons) or we can add a simple popup with a predefined template.

3. I like that we can display it in any part of the screen (it solves the problem with the position of the snack bar).

My opinion abou

[2021-10-06 16:59] brminnick commented on #83
@jfversluis Just to verify before closing this - Semantic Effect can be closed because it will be included in .NET MAUI, right?

[2021-10-06 17:41] VladislavAntonyuk commented on #108
@jsuarezruiz maybe DrawingView can be a part of Maui Graphics? Or it is not enough stable yet?

[2021-10-06 17:43] PureWeen commented on #83
@brminnick yes

SemanticOrderView is the only thing currently in XCT that won't be apart of the first .NET MAUI release

[2021-10-06 18:27] #83 closed

[2021-10-07 20:07] brminnick commented on #82
Blocked. Pending the result of https://github.com/CommunityToolkit/Maui/issues/124

[2021-10-07 20:09] brminnick commented on #87
Blocked. Pending the result of https://github.com/CommunityToolkit/Maui/issues/124

[2021-10-09 12:10] juansturla commented on #70
Hi! I know it's not much but i want to help with the sample.
Also, why it is not available for windows ?

[2021-10-09 19:45] brminnick commented on #70
Thanks @juansturla! It's now assigned to you!

We are waiting to add Windows support until WinUI is fully supported: https://devblogs.microsoft.com/dotnet/update-on-dotnet-maui/

[2021-10-09 19:50] brminnick commented on #69
Thanks @juansturla! It's now assigned to you!

We are waiting to add Windows support to the Toolkit until WinUI is fully supported: https://devblogs.microsoft.com/dotnet/update-on-dotnet-maui/

[2021-10-10 18:45] brminnick commented on #69
Hey @juansturla! We are deferring MVVM-specific features to [`CommunityToolkit.MVVM`](https://www.nuget.org/packages/CommunityToolkit.Mvvm/).

Yup, that's a great solution! We also plan on referencing [`CommunityToolkit.MVVM`](https://www.nuget.org/packages/CommunityToolkit.Mvvm/) in the sample app, so you're welcome to add it as a NuGet Package to the sample app and reference its tools like [`Obs

[2021-10-10 18:54] brminnick commented on #75
Thanks @juansturla!

I've removed the `help wanted` tag and assigned this to you 🙌

[2021-10-12 18:55] VladislavAntonyuk commented on #118
@pictos what do you mean with the pending items?

[2021-10-12 21:53] Sergio0694 commented on #100
This is something I've been thinking about for a while too, specifically I was looking into potentially move our grouped observable collections to the MVVM Toolkit, and then adding some slight tweaks on them too while at it. I'll definitely revisit this once the .NET Community Toolkit repo is live if there's interest from the MAUI Community Toolkit side as well. Happy to chat about this too 😄

[2021-10-13 22:47] juansturla commented on #69
I am a little confused here.

Is [CommunityToolkit.MVVM](https://www.nuget.org/packages/CommunityToolkit.Mvvm/) and [Microsoft.Toolkit.MVVM](https://www.nuget.org/packages/Microsoft.Toolkit.Mvvm/) becomming the same ? Both Nugets aim to the same Project page and they have almost the same information.

But Microsoft's was updated 20 days ago and Community's 4 months ago

[2021-10-13 23:18] michael-hawker commented on #9
@juansturla they're the same thing, but you have it backwards. We've moving out of the `Microsoft.Toolkit` package identity/namespace to the `CommunityToolkit` one. [See here](https://blogs.windows.com/windowsdeveloper/2021/03/16/announcing-windows-community-toolkit-v7-0/#:~:text=Future%20NuGet%20Package%20Identity%20Changes%C2%A0)

[2021-10-14 01:25] pictos commented on #100
Hey @Sergio0694, the MAUI Community will love that feature since day zero. We normally use the `Grouping` collection when we want to have a grouped ListView. Let me know if you need any help to solve those tweaks.

[2021-10-14 09:12] atexinspect opened #141 "CameraView Motion Detection"
### Discussed in https://github.com/CommunityToolkit/Maui/discussions/140

<div type='discussions-op-text'>

<sup>Originally posted by **atexinspect** October 14, 2021</sup>
Hi,
    Would it be possible to add motion detection to the CameraView control? This could be useful in security type applications.

Thanks
Paul.</div>

[2021-10-14 15:21] #141 closed, assigned to nobody

[2021-10-15 01:05] pictos commented on #118
as for the snackbar it should be pretty simple like Alert and ConfirmationDialog.

If we move to use the PopUp as a Snackbar container we will have less code to maintain and that's something that I like. We can mimic the Google style in our default template and allow users to customize their snackbar according to their needs.

Thoughts @VladislavAntonyuk  and @jfversluis

I would like to bring @ah

[2021-10-15 10:12] juansturla commented on #66
Hi again! I added the ViewModel for this sample on #132 PR, so the only thing left is modifying the XAML. I can do that if you like :)

[2021-10-15 12:01] VladislavAntonyuk commented on #42
@brminnick I would like to implement this feature. please assign it on me

[2021-10-15 12:02] VladislavAntonyuk commented on #38
@brminnick I would like to implement this feature. please assign it on me

[2021-10-15 15:56] brminnick commented on #38
Thanks @VladislavAntonyuk! Assigned to you 👍

[2021-10-15 15:57] brminnick commented on #37
Thanks @VladislavAntonyuk! It is assigned to you 👍

[2021-10-15 18:41] VladislavAntonyuk commented on #118
as for the user experience, I would prefer (and strongly recommend) to use a native Android snack bar. as for iOS and other platforms I am ok with popup.

[2021-10-16 12:10] juansturla commented on #66
Well it looks like you already did that before being assigned hahaha

[2021-10-16 15:13] StevenHanquez commented on #57
Hi! I want to help with the sample :)

[2021-10-16 15:46] brminnick commented on #64
Thanks @StevenHanquez! It is now assigned to you.

[2021-10-16 15:50] brminnick commented on #66
Thanks @StevenHanquez! It is assigned to you.

[2021-10-16 21:15] #9 closed

[2021-10-17 15:59] StevenHanquez commented on #58
Hi! I want to help with the sample :)

[2021-10-17 18:40] brminnick commented on #59
Thanks @StevenHanquez! It's all yours 🙌

[2021-10-17 21:53] VladislavAntonyuk commented on #122
@DoubleDBE UniformGrid doesn't have these properties and for now, measure and align all items automatically.
But we can easily add properties like MaxRows and MaxColumns.
@brminnick , @jsuarezruiz what do you think?

[2021-10-18 07:58] DoubleDBE commented on #122
Thanks for the feedback!
I created a [discussion](https://github.com/CommunityToolkit/Maui/discussions/156)

[2021-10-18 21:13] juansturla commented on #54
Hi!
I will try to create the sample for this

[2021-10-18 21:14] brminnick commented on #52
Thanks @juansturla! Assigned ✅

[2021-10-19 18:56] peirens-bart commented on #120
What would be the difference with using a ContentTemplate in conbination with Style data triggers binding to a state model?

[2021-10-30 09:49] stefanbogaard86 commented on #62
Hello @brminnick, I can create a sample for this one if you like.

[2021-10-30 15:28] brminnick commented on #62
Thanks @stefanbogaard86! Assigned to you ✅

[2021-10-30 19:12] stefanbogaard86 commented on #50
Hello @brminnick, I can create a sample for this one as well.

[2021-10-30 19:14] stefanbogaard86 commented on #54
Hello @brminnick, I can write unittests for this one.

[2021-10-30 19:14] brminnick commented on #50
Great! Assigned ✅

[2021-10-30 19:21] brminnick commented on #54
Fantastic! I recommend submitting two separate PRs because `dotnet test` support is coming in the next .NET MAUI release. Unit Testing support was recently added in this PR: https://github.com/dotnet/maui/pull/3017

Right now, .NET MAUI projects throw this error when running `dotnet test`:

The framework 'Microsoft.Maui.Core', version '**FromWorkload**' (x64) was not found.

[2021-11-02 14:24] stefanbogaard86 commented on #35
Hi @brminnick, I love this feature. I can have a go at implementing it if you like.

[2021-11-02 15:50] brminnick commented on #35
Thanks @stefanbogaard86! Assigned 👍

[2021-11-03 22:33] bijington opened #182 "[Proposal] Compound Animations"
Compound Animations

* [x] Proposed
* [ ] Prototype: Not Started
* [ ] Implementation: Not Started
  * [ ] iOS Support
  * [ ] Android Support
  * [ ] macOS Support
  * [ ] Windows Support
* [ ] Unit Tests: Not Started
* [ ] Sample: Not Started
* [ ] Documentation: Not Started

## Summary
[summary]: #summary

A comprehensive set of complex animations based on https://animate.style

## Motivation
[

[2021-11-03 22:53] brminnick commented on #182
What are your thoughts on creating a new namespace for animations? E.g. Something like this:

[code]

In Xamarin.CommunityToolkit, all of the animation classes like `CompoundAnimationBase.shared.cs`, `AnimationBase.shared.cs`, `RotateAnimation.shared.cs`, etc., are in the [`Xamarin.CommunityToolkit.Behaviors` namespace](https://github.com/xamarin/XamarinCommunityToolkit/blob/2c267757be8aa4e6b4ce83

[2021-11-03 23:02] bijington commented on #182
@brminnick I really like that separation! As you have pointed out we don't need the behavior in order to use the animations. It would also reduce the noise if someone is looking for a behavior as it wouldn't include all the animations which aren't actual behaviors.

I guess the only slight annoyance in the XAML side would be that one would have to declare 2 namespaces in order to use the Animation

[2021-11-04 19:21] jsuarezruiz commented on #122
I think MaxRows and MaxColumns properties are are simple but powerful additions that do not affect the rest of the implementation, the addition seems fine to me. Let's continue the discussion here https://github.com/CommunityToolkit/Maui/discussions/156 (default values, fallbacks, etc).

[2021-11-04 19:22] jsuarezruiz commented on #124
Will review this point in a .NET MAUI team meeting next week and after that, we can validate this proposal!

[2021-11-04 19:23] jsuarezruiz commented on #82
Will review this point in a .NET MAUI team meeting next week and after that, we can validate this proposal!

[2021-11-05 07:31] pierre01 commented on #113
MediaElement is essential to many applications and should be added to the Maui.Essentials library the same as haptic feedback is.

[2021-11-05 07:36] jfversluis commented on #113
The big difference is that Essentials does not have any UI elements. It will be implemented here as it is in the Toolkit now and hopefully we can transition it into .NET MAUI itself.

[2021-11-05 14:59] Countryen opened #184 "Allow handling of null for Convert of BaseConverterOneWay<TFrom, TTo>"
### Discussed in https://github.com/CommunityToolkit/Maui/discussions/164

<div type='discussions-op-text'>

<sup>Originally posted by **Countryen** October 22, 2021</sup>
The base class for IValueConverter `BaseConverterOneWay<TFrom, TTo>` provides many features/benefits but doesn't allow overriding or defining what happens when a `null` is passed into the `Convert` method.

It would be very nice

[2021-11-08 10:34] bijington commented on #184
@Countryen thank you for raising this issue. Given that you have an understanding is this something you feel you could contribute to fixing? There is of course no pressure though 😄

[2021-11-08 17:50] Countryen commented on #184
@bijington Would love to contribute. What do I have to do?
Is it enough to create a PR and wait for automatic test runs or do I have to run tests locally on my device first? Do I have to test MAUI and Xamarin Forms or only Xamarin Forms? I can't use MAUI in the office, currently. Do you expect a working sample or unit test to be added?

[2021-11-08 20:56] bijington commented on #184
@Countryen that is great thank you. To answer your questions:

Ideally we would like as much tested as possible. It is possible to run the unit tests locally if that helps and if changing behavior as we would be with this change additional unit tests would be great. Obviously not everyone has access to all device types (Android, iOS, etc.) so if you are not able to test some devices then just lett

[2021-11-09 16:41] brminnick commented on #182
FYI - `BaseAnimation` is added in the Animation Behaviors PR: https://github.com/CommunityToolkit/Maui/pull/185/files

[2021-11-09 18:17] CalvinAllen commented on #61
![raw](https://user-images.githubusercontent.com/41448698/140981350-f07df71b-9518-487d-82e0-9e99e686d2f6.gif)

[2021-11-11 15:44] brminnick commented on #92
Merged into .NET MAUI https://github.com/dotnet/maui/issues/2703#issuecomment-966312097

[2021-11-11 15:45] #92 closed

[2021-11-11 15:46] brminnick commented on #94
Not required now that DelegateWeakEventManager has been promoted into .NET MAUI https://github.com/dotnet/maui/issues/2703#issuecomment-966312097

[2021-11-11 15:46] #94 closed

[2021-11-13 22:11] peterfoot commented on #113
I had thought about whether it could be ported to MAUI and if so what changes, if any, could be made. One thing which did occur - should it follow the UWP model which has seen the MediaElement deprecated for a MediaPlayer and MediaPlayerElement. The latter being the UI control and the former having all the mechanics to playback media. It would mean more flexibility for audio only and not needing t

[2021-11-13 22:13] peterfoot commented on #113
And I agree with @jfversluis it would be awesome for this control to transition into MAUI itself.

[2021-11-15 04:14] brminnick commented on #118
I've updated the [`Detailed Design`](https://github.com/CommunityToolkit/Maui/issues/118) to mirror the [Android Snackbar API surface](https://material.io/components/snackbars/android#using-snackbars).

I know they're redundant, but I think it's important to keep methods like `static Snackbar Make()` and `void Set[Property]()` because these methods are used (required, actually) by the `Google.Andr

[2021-11-15 08:05] VladislavAntonyuk commented on #118
Thank you for the updates.
Why do we need BindableProperties? Snackbar is not actually UI control which we add in xaml. It is similar to Alert, Prompt and other from Maui.
To show the Snackbar:
[code]

Also how Content property should work together with TextColor, Action. The user can remove the whole predefined content and it will look like popup rather than Snackbar. What do you think if we remo

[2021-11-15 08:57] jfversluis commented on #113
@peterfoot if you're up for it, it's yours for the taking here :)

I think timing-wise we won't be able to get this into .NET MAUI straight-away, so let's get it in here first and then we can start making a case to move it for .NET 7.

[2021-11-15 18:11] brminnick commented on #118
We can keep the method as `Show()`. The `Async` suffix is only necessary when there is a sibling non-async method. I.e. If we had two methods, `Show()` and `ShowAsync()`, we would absolutely keep the `Async` suffix. Plus, the Android API also uses `Show()`.

A Few Reasons:
- It is a UI Control and all UI Controls should implement Bindable Properties
  - It implements `IView` (technically it implem

[2021-11-15 18:22] brminnick commented on #118
What do you think about making a base class, `abstract class BasePopupView`, in this PR so that `Popup` can also inherit from it?

[code]

[2021-11-15 21:38] IndianaGary commented on #44
This would be my first OSS contribution but I think I could documennt this if I knew what was expected...

[2021-11-16 00:22] brminnick commented on #44
Tha is @indianagary! We are still setting up the Docs repo.

Once it's ready, we will certainly loop you in!

https://github.com/MicrosoftDocs/CommunityToolkitDocs

[2021-11-16 00:30] VladislavAntonyuk commented on #118
Looks good to me.
The only one thing which I don't like is that Snackbar becomes UI control. What is the difference between Snackbar and Alert/Prompt from MAUI? As I understand making Snackbar UI control will allow the user to put it in xaml. I understand xaml as something that should be rendered, mostly on specific view. Snackbar doesn't belong to the view, it belongs to the Current Activity/Wind

[2021-11-16 01:44] IndianaGary commented on #44
In the meantime, do you have any guidelines on doc format that I could start reviewing?

[2021-11-16 09:11] brminnick commented on #118
The biggest difference is that only Android has a native implementation. For iOS, macOS and Windows, we are essentially creating a new custom UI Control.

Which ones? In general, if it it's a useful extension method and/or it makes the code cleaner, I'm all for it 💯

[2021-11-16 09:21] VladislavAntonyuk commented on #118
ok, I hope to find some time this week to start the implementation.
as for the extension methods:
[code]

[2021-11-16 09:29] brminnick commented on #118
Those extensions sound good to me! (Minus the `Async` suffix 😄)

[2021-11-16 14:15] Countryen commented on #184
@bijington I cloned the XCT repo and ran the unit tests, thanks for the info above. I've noticed that:

Some unit tests are already red for me in the DateTimeOffsetConverter_Tests. This is probably because I use a German system.
If wanted I can report this in a separate issue.

---

Also, I've noticed some small spelling errors (in the tests). Should I only fix the topic of this issue and ignore t

[2021-11-16 14:44] bijington commented on #184
@Countryen that's great you have been able to start on this. To answer your questions:

If wanted I can report this in a separate issue.

If you could raise an issue that would be fantastic. Sadly we do have some inconsistent tests that we need to tidy up and I might see if I can get those sorted to reduce any friction for new contributors.

For example: BoolToObjectInValidValuesThrowArgumentExcep

[2021-11-20 13:01] PieEatingNinjas commented on #55
Hi @brminnick ! If there isn't anybody already doing this one, you can assign it to me if you want.
Haven't done anything yet for this project, but this Converter looks like a good one to start with :-)

[2021-11-20 18:43] PieEatingNinjas commented on #88
Hi @brminnick. If nobody is working on this, I want to give it a try. Haven’t done anything on this project yet, this one seems to be a good one to start with. 🙂

[2021-11-20 18:51] brminnick commented on #88
Thanks @PieEatingNinjas! Assigned ✅

[2021-11-22 14:14] PieEatingNinjas commented on #88
Hi @brminnick !
I've implemented the Extension method and added a sample to the sample app.
Tested on Android emulator, Windows 11 and physical iOS 15.1 device.

There seems to be a bug on Windows on some controls as their BackgroundColor doesn't get updated. I've filed a bug for that on the [MAUI repo](https://github.com/dotnet/maui/issues/3506).
I'm not sure if/how this can be unit tested proper

[2021-11-22 16:55] PieEatingNinjas commented on #89
I could write some unit tests for this, if you want.

[2021-11-22 17:00] brminnick commented on #89
Thanks @PieEatingNinjas! That'd be great!!

Assigned ✅

[2021-11-22 17:10] PieEatingNinjas commented on #89
The RGBA string is produced as follows: `RGBA(255, 255, 255, 255)` (mind the space after each comma)
All other outputs (like `RGB(255,255,255)`) are without a space after each comma.

I'd propose to make this consistent. What is preferred, with or without a space?

[2021-11-22 17:11] CalvinAllen commented on #61
@brminnick @jfversluis - I need some guidance on this one :)

Working on the tests, which seem easy enough by just having a resource embedded into the test assembly, doesn't work because the converter assumes the resources will be in the same assembly as the converter itself -

[code]

Changing that assembly piece a smidge to -

[code]

Allows the tests to pass, but I'm not sure if that's a change

[2021-11-22 18:08] brminnick commented on #88
@PieEatingNinjas FYI - I've added Unit Tests for `BackgroundColorTo` in this PR if you'd like to review it 👍
https://github.com/CommunityToolkit/Maui/pull/195

[2021-11-22 19:11] brminnick commented on #61
My concern is that using `Assembly.GetCallingAssembly()` could break functionality for folks using multiple `csproj` files, like so:

    solution
    │
    └───MyMauiApp.csproj
        │   CompanyLogo.png
    │
    └───MyLoginPage.csproj

If `MyLoginPageProject.LoginPage` used the `ImageResourceConverter`, it would fail, because `Assembly.GetCallingAssembly()` would be searching for `CompanyLogo.

[2021-11-22 19:35] CalvinAllen commented on #61
@brminnick Thanks, exactly why I asked :)

[2021-11-22 20:49] CalvinAllen commented on #61
@brminnick I created a draft PR to resolve the test portion of this issue - can you take a look and let me know what I screwed up before I make it an official PR :)

[2021-11-22 21:56] CalvinAllen commented on #61
What is the proper documentation repo?  (README doesn't have a link to it)

[2021-11-22 21:58] brminnick commented on #61
The documentation repo is here: https://github.com/MicrosoftDocs/CommunityToolkitDocs

But we haven't set it up just yet! We'll get it up an running by Q1 2022 in preparation for GA in Q2 2022.

[2021-11-22 22:00] CalvinAllen commented on #61
Ah, gotcha.  Okay, I'll pivot to the sample app instead :)

[2021-11-22 22:46] CalvinAllen commented on #51
I know we talked about the tests being completed, but I noticed there weren't any for `ConvertBack`, so I wrote a few and submitted PR #197

[2021-11-23 13:42] VladislavAntonyuk commented on #118
@pictos @brminnick could you please approve the current detailed design?

[2021-11-23 13:53] brminnick commented on #118
Looks good! A few thoughts (none of these are blockers, and I'm happy moving forward with this implementation!)
- Let's explicitly add the default value for `CharacterSpacing`, ` = 0.0d`
  - [`Microsoft.Maui.Controls TextElement` uses `0.0d`](https://github.com/dotnet/maui/blob/316a95fbbc09af9d79dc2893b5d2d7336a11e89a/src/Controls/src/Core/TextElement.cs#L11-L13), which means that MAUI must implem

[2021-11-23 14:05] bijington commented on #182
Based on the discussion #203 we also discussed the idea of being able to compound existing animations together. Nothing has been fleshed out but it would be worth investigating whether we could provide the ability to combine the new `XColorTo` animations and potentially others in to this mechanism.

I think it would be nice to avoid having to write something like this:

[code]

And instead being a

[2021-11-24 17:58] pictos commented on #118
@VladislavAntonyuk we should make all properties read-only on the `ISnackbar` interface since the flow is from xplat -> native level.

[2021-11-24 18:03] VladislavAntonyuk commented on #118
How in that case do we set the property in snackbar?
the usage:
[code]

[2021-11-24 18:11] pictos commented on #118
You can implement the `set` in the concrete type, but the interface should be read-only...
For example:
the `ITextInput` has the MaxLenght property read-only.

https://github.com/dotnet/maui/blob/main/src/Core/src/Core/ITextInput.cs#L31

The class that implements that interface also implements the set.

https://github.com/dotnet/maui/blob/main/src/Controls/src/Core/InputView.cs#L31

But the `Text`

[2021-11-24 21:17] PieEatingNinjas commented on #89
I’ve got some test data by now.
Just curious about what is preferred: adding the test data (about 200 different colors) hardcoded in code (ClassData) or reading it from a local csv file?

[2021-11-24 21:38] brminnick commented on #89
Nice! Let's just add it in code 👍

[2021-11-25 00:13] VladislavAntonyuk commented on #118
I am agree and disagree with that.

In Maui in xaml and in code we create components. Real instances of the specific class. And work with getters and setters. I cannot imagine Entry with Text {get;}.

With Snackbar we can do the same. But we limit ourselves to the specific implementation.
I want to return ISnackbar for example as a result of VisualElementExtrensions.DisplaySnackbar.
In that case I

[2021-11-25 02:58] pictos commented on #118
@VladislavAntonyuk, not sure if you're aware of the MAUI architecture, if you're probably I'll say something that you already know... So bear with me...

When you're building an MAUI application you don't use the `interfaces` you use the concrete type, so the user will not do

`ISnackbar snackbar = new Snackbar();`

will do  `Snackbar snackbar = new Snackbar();`  instead. And the concrete type `Sn

[2021-11-25 07:08] VladislavAntonyuk commented on #118
Do we need interface at all for Snackbar? Why do I need it if I can access the class getters?

[2021-11-25 07:39] brminnick commented on #118
Hey Gang!

Let's not get too caught up in the weeds here. I think we have a solid plan that we can always iterate on in the future 💯

Here's what I recommend:

### Interface

For `Snackbar` v1.0, let's move forward with the readonly interface that Pedro recommends, because it best follows the MAUI Interfaces (which are also read-only).

Since we're treating `Snackbar` like an alert (like `DisplayA

[2021-11-25 13:05] VladislavAntonyuk commented on #118
Sorry, just want to make sure that we do not make a mistake on the planning step

[2021-11-25 14:57] pictos commented on #118
Sorry, my intention wasn't to be rude. I just want to make sure that we're all in the same page

[2021-11-25 19:28] PieEatingNinjas commented on #89
I’ll make it so! 😁
It’s a lot of work generating all the test data, so it’ll probably take a while before I got everything tested.

[2021-11-26 15:38] aherrick commented on #120
@peirens-bart do you have a mini prototype of this using MVVM?

[2021-11-27 18:17] brminnick commented on #118
Reopening for Docs implementation

[2021-11-29 18:51] PieEatingNinjas opened #211 "[Proposal] TextColorTo extension for ITextStyle"
# TextColorTo extension for ITextStyle

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Sample
* [x] Documentation

## Link to Discussion

[Extend ColorAnimationExtensions with 'TextColorTo' for ITextStyle](https://github.com/CommunityToolkit/Maui/discussions/203)

## Summary
Extend

[2021-11-29 18:54] PieEatingNinjas commented on #211
Wouldn't mind doing the implementation (it's already up here 😅), testing and sample.

[2021-11-29 19:54] brminnick commented on #211
Thanks @PieEatingNinjas! I'm happy to Champion this Proposal and we'll discuss it in our Monthly Standup this week!

After we vote (and assuming it it is approved by the team), I'll add the `approved` tag and assign it to you!

[2021-11-30 17:47] peirens-bart commented on #120
@aherrick yes i can, the content off the page will change from red header to blue header based on a property in the viewmodel
my viewmodel would be somthing like

[code]

then in my view I can do

[code]

[2021-12-02 10:17] PieEatingNinjas commented on #89
Just a small update: making good progress on this! Writing the unit tests already has been valuable as I identified some 'issues', but I'll elaborate on that when the PR arrives.
![image](https://user-images.githubusercontent.com/13808075/144402243-95b58633-dd42-454c-8333-02b5a567c67b.png)
(that's currently 4451 tests)

Got a small question though: The `GetPercentXXX`-methods and the `GetDegreeHue

[2021-12-02 10:49] brminnick commented on #89
Good catch! We do not need the precision of `double`. I'm ok with changing it to `float` if doesn't introduce cascading breaking changes.

[2021-12-02 20:36] brminnick commented on #211
Approved!

Thanks @PieEatingNinjas! Assigned ✅

[2021-12-06 16:46] PieEatingNinjas commented on #89
Still going strong with these tests, there is light at the end of the tunnel😅
While writing tests for the `With*` methods, I started to wonder what behavior we want to have when passing in 'out-of-bound' values. The current behavior is that when passing in values that are too large, the max value will be set. When passing in too little values, the minimum value is set.

This is also how I was writ

[2021-12-06 17:04] PieEatingNinjas commented on #89
While looking at the `Color` class, I noticed the [Parse method](https://github.com/dotnet/Microsoft.Maui.Graphics/blob/1dd8e4060afa031c8f568f8341e16244d752bd8b/src/Microsoft.Maui.Graphics/Color.cs#L508). If you look at the comments, you'll notice that they expect an Alpha always as a value between 0 and 1, where as we return it as a percentage. Should we align with this in the `To*String` methods

[2021-12-08 22:40] pictos opened #213 "[Proposal] Project Reorganization"
# Project Reorganization
* [x] Proposed
* [x] Prototype: Not Started
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Sample

## Link to Discussion

- https://github.com/CommunityToolkit/Maui/discussions/208

## Summary
[summary]: #summary

We will change the project structure to mimic the .NET MAUI structure, pla

[2021-12-09 02:56] brminnick commented on #213
I see two benefits to rearchitecting the repo:
- More-easily promote our code into the .NET MAUI repo if the namespaces are aligned
- Share code with future Toolkits, like `CommunityToolkit.Comet` and `CommunityToolkit.Blazor`

I prefer to create a new repository for future frameworks such as `CommunityToolkit.Maui.Comet` and `CommunityToolkit.Maui.Blazor` so that we can keep their DevOps pipeline

[2021-12-09 03:02] brminnick commented on #213
My other question is "Will we actually share code between other toolkits like `CommunityToolkit.Maui.Comet`?

Looking at the [Comet source code](https://github.com/dotnet/comet), I'm not sure how much code we would be able to share between `CommunityToolkit.Maui` and `CommunityToolkit.Comet`.

For example, Comet doesn't use Converters (that's mostly an MVVM/XAML thing), Comet doesn't have Behavior

[2021-12-09 07:37] VladislavAntonyuk commented on #213
I suggest to keep in CommunityToolkit.Maui.Core only interfaces and base classes, so it will be platform agnostic (net6.0).
We put ISnackbar, BaseAnimation, IValidator etc here.

Then CommunityToolkit.Maui contains animations, converters, validators, but not Controls (Views). So it can be net6.0 as well. This library doesn't need UseCommunityMauiToolkit().

Finally CommunityToolkit.Maui.Controls i

[2021-12-09 11:46] pictos commented on #213
@brminnick I agree with everything in your first comment, I'll apply those changes and push them to my working branch.

About the Comet, as you can see [here](https://github.com/dotnet/Comet/blob/3625b1d88ec42ec0d5ab7b173117f3f038831b2c/src/Comet/Controls/ControlsGenerator.cs) controls are generated using Source Generator, the input needed is the interfaces, so Comet will need just to reference th

[2021-12-09 12:15] pictos commented on #213
@VladislavAntonyuk

I'm not sure if makes sense to restrict one package to be platform agnostic, as you can see [here](https://github.com/dotnet/maui/blob/main/src/Core/src/MauiContext.cs) this class lives in `Core` and has platform code.

Are you suggesting to have three `csproj`s?
How that will be in terms of NuGet, will we release one NuGet per package, or we can merge `Core` and `Controls` int

[2021-12-10 10:20] saint4eva commented on #213
`CommunityToolkit.Maui.Comet`  -  Comet app model
`CommunityToolkit.Maui.Blazor` - Blazor app model
`CommunityToolkit.Maui.Controls`  -  Xaml app model
`CommunityToolkit.Maui.Fabulous`  -  Fabulous app model

[2021-12-10 16:24] pictos commented on #213
@VladislavAntonyuk I'm sorry for the late reply, yesterday was a rush day.

So I can see what you mean, and I would say that we don't need more than 2 projects. From the MS.SDK project style all platforms targets have the NET 6 reference, so if we don't want to throw `NotImplementedException` we can do that by not adding the NET 6 as a TFM, in other words, that project can be referenced, just by t

[2021-12-10 16:38] VladislavAntonyuk commented on #213
@pictos no problem.

if we do not include net6.0 in target frameworks we will receive an issue similar to this: https://github.com/xamarin/XamarinCommunityToolkit/issues/1645

Maybe we can rename Core to Shared in that case we receive
- CommunityToolkit.Maui.Shared (it includes all control interfaces and platform-agnostic code like validators and converters)
- CommunityToolkit.Maui (if we want to

[2021-12-10 17:15] pictos commented on #213
@VladislavAntonyuk this makes sense to me. Like, if someone references the `Controls` project it's because that person wants to use platform-specific code. I know that we don't need to be 100% equals to MAUI, but I'll take a look to see if I can discover why Behavior is on `Controls` project instead of `Core`

[2021-12-10 18:40] pictos commented on #213
@brminnick @VladislavAntonyuk just pushed the changes based on our conversation. I didn't rename the `Core` to `Shared` yet

[2021-12-10 19:05] CodedBeard opened #215 "[Bug] Snackbar does not show on windows when referencing the nuget package"
### Description

I tried using `DisplaySnackbar()` in my project and while I got no errors, the notification did not display when debugging on windows.
I then created a brand new project from the latest preview 10 templates, added a reference to the toolkit, and updated the `OnCounterClicked` method to show a snackbar like so:

[code]
This still does not show a notification.

I then cloned the rep

[2021-12-10 19:08] pictos commented on #215
@CodedBeard
Could you attach a small repro?

[2021-12-10 19:17] CodedBeard commented on #215
@pictos this repros the issue on my machine: https://github.com/CodedBeard/notoast

If I only update the nuget reference to be a project reference from cloning the repo, it works fine.

[2021-12-10 19:17] brminnick commented on #215
@CodedBeard On Windows, `Snackbar` uses the native toast library.

You'll need to disable silent mode.

👇 Here's a video of how it looks on Windows

![](https://user-images.githubusercontent.com/13558917/143683127-5b455f19-7def-463b-b9b9-b4ad3b299a90.gif)

[2021-12-10 19:21] CodedBeard commented on #215
@brminnick the sample app works fine on my machine, I only have an issue when referencing the nuget package in a seperate project.

[2021-12-10 19:23] brminnick commented on #215
Interesting! @VladislavAntonyuk is our resident `Snackbar` expert - can you take a look, Vlad, and see if you can repro/fix it?

[2021-12-10 19:50] CodedBeard commented on #215
@brminnick heres a video showing whats happening on my machine. All I did is switch to a branch that referenced the cloned project instead of the nuget package.

https://user-images.githubusercontent.com/4446559/145632749-860044c6-d7ea-43c1-941f-1e284995692d.mp4

[2021-12-10 19:59] VladislavAntonyuk commented on #215
that is because our package is not build for Windows
![image](https://user-images.githubusercontent.com/33021114/145634133-3cb997f8-b8ab-4e28-9ceb-ed071795ce09.png)

[2021-12-10 20:00] brminnick commented on #215
Oh good catch! In that case, we'll hand this Issue over to our NuGet Release guru, @jfversluis 👍

[2021-12-10 20:02] CodedBeard commented on #215
Thanks, should have spotted that, clearly to late on a friday 👍

[2021-12-10 20:23] VladislavAntonyuk commented on #215
@brminnick the issue is with our pipeline. Windows requires MsBuild. I can fix it, if you assign package back to me)

[2021-12-10 20:25] pictos commented on #215
@VladislavAntonyuk go for it!

[2021-12-10 21:58] VladislavAntonyuk commented on #215
@CodedBeard please try this package: https://dev.azure.com/dotnet/CommunityToolkit/_build/results?buildId=62360&view=results

[2021-12-11 20:34] brminnick commented on #213
@pictos Could you please provide a definition for `CommunityToolkit.Maui.Core`? Providing a drawing/diagram of the architecture will also help clarify this.

I'm still having trouble understanding what belongs into `CommunityToolkit.Maui.Core` and what remains in `CommunityToolkit.Maui`, and reading through the discussions in the PR Review, it's clear that we have not properly defined it yet.

Her

[2021-12-11 21:28] brminnick commented on #213
Removing the `approved` tag until we define the architecture and add it to the `Detailed Design` section of the Proposal

[2021-12-11 21:50] pictos commented on #213
@brminnick and @VladislavAntonyuk just a heads up that I updated the description with a more complete information

[2021-12-11 23:04] brminnick commented on #213
Thanks @pictos!

 The core library will need to be called `CommunityToolkit.Maui.Core` for a couple reasons:
- The CommunityToolkit org already has a [`CommunityToolkit.Common` NuGet Package](https://www.nuget.org/packages/CommunityToolkit.Common/)
  - Creating `CommunityToolkit.Core` would cause confusion between the two packages
- It relies on `Microsoft.Maui`
  - Including `Maui` in `CommunityT

[2021-12-11 23:29] pictos commented on #213
@brminnick I agree with the image.

[2021-12-11 23:35] Clancey commented on #213
The talk, on how comet would work is correct. You would be able to re-use anything in CommunityToolkit.Maui.Core for Comet. So all the handlers should work. If the handlers use interfaces, you can auto generate the comet code!

https://github.com/dotnet/Comet/blob/dev/src/Comet/Controls/ControlsGenerator.cs

This is how comet actually adds most of its controls!

[2021-12-11 23:39] brminnick commented on #213
Right on! @pictos - When you get a chance, update the `Detailed Design` to use `CommunityToolkit.Maui.Core`, and then we'll do a quick vote on it with the team to approve it 🙌

Normally, we'd wait to vote until the next standup, but since this is a blocking PR, we can have everyone comment on this Proposal with "Approved" then we'll add the `approved` tag 👍

[2021-12-11 23:40] pictos commented on #213
@brminnick I will update everything until tomorrow. Anyway I'll ping the team on discord when I do it.

[2021-12-12 15:28] CodedBeard commented on #215
@VladislavAntonyuk yep that works fine.

[2021-12-12 21:14] brminnick commented on #213
I vote to Approve ✅

[2021-12-12 21:21] pictos commented on #213
I vote to Approve ✅

[2021-12-12 21:45] VladislavAntonyuk commented on #213
Approve

[2021-12-13 08:03] bijington commented on #213
I vote to Approve

[2021-12-13 10:05] jfversluis commented on #213
Lets approve this one!

[2021-12-13 20:24] brminnick commented on #215
Closed #217

[2021-12-13 20:24] #215 closed

[2021-12-13 21:02] brminnick opened #219 "[Proposal] Update Namespaces to Match Folder Structure"
# Update Namespaces to Match Folder Structure

* [x] Proposed
* [x] Prototype
* [ ] Implementation: Not Started
  * [ ] iOS Support
  * [ ] Android Support
  * [ ] macOS Support
  * [ ] Windows Support
* [ ] Unit Tests: Not Started
* [ ] Sample: Not Started
* [ ] Documentation: Not Started

## Link to Discussion

Discussion on Namespaces Matching Folder Structure
- https://github.com/CommunityTool

[2021-12-13 21:14] bijington commented on #219
@brminnick I see you have championed this but I am happy to provide the effort to get this done if needed

[2021-12-13 21:16] pictos commented on #219
I would like to discuss this proposal a little bit more.
A bunch of .NET libs follows the pattern that we're using and they work very well. I can list some pros in keeping our current structure, that's the namespace doesn't follow the folder structure.

- APIs, will be easy to discover by users;
- We can save some `using` imports;
- Lees `xmlns` declaration in XAML;
- This is very common in the Xa

[2021-12-13 21:21] brminnick commented on #219
I don't disagree. My personal preference is to use assembly name for each namespace. E.g. `/Behaviors/Validators/CharactersValidationBehavior.shared.cs` would use `namespace CommunityToolkit.Maui`.

I've always found it a bit clunky to use a different namespace for each folder.

[2021-12-13 21:25] pictos commented on #219
I can add the Xamarin.Essentials, for example, there's one namespace for APIs and that's very easy to discover what APIs you've on the lib.

[2021-12-13 22:00] bijington commented on #219
We certainly don't have to go ahead with this proposal, I guess it comes naturally to me to have folders/namespaces match but that is probably just because I have worked that way for so long 😄

I do like some level of categorisation which I believe we would get with the old XCT approach where it isn't too easy to discover everything and it resulting in more noise than being helpful. I think we are

[2021-12-17 02:40] pictos commented on #82
I'll use this one to draw the API to implement our `Effect`s as `Behavior` and after that go through all other `Effects` and see if it makes sense for all.

[2021-12-17 09:28] PieEatingNinjas commented on #211
So, there is a tiny little detail that we've overlooked...
`ITextStyle` does indeed have a property `TextColor`... but, it's readonly as it only defines a getter, it doesn't define a setter... 😔
As far as I can see, the set is only defined on the implementations themselves...
Any ideas on how we could tackle this, aside from needing to check the type and do a non-generic implementation for each of

[2021-12-17 20:06] pictos commented on #211
@PieEatingNinjas on MAUI the interfaces just implement `set` when the value can be changed by the platform-specific code. So the implementation has the `set` and can use it normally. Do we need to access the setter?

[2021-12-17 20:24] PieEatingNinjas commented on #211
The idea was to write this code as an extension method for the `ItextStyle` interface. This would be perfectly possible - and easy to do - if the interface also exposed the setter. This is what I’d thought how I’d implement it.
Concrete implementations indeed have the set, but this would require me to check the type in the extension method and cast to the concrete implementation in order to access

[2021-12-18 03:55] brminnick commented on #211
You're totally right, @PieEatingNinjas!

I decided that the best way to implement this is to use source generators. This allows us to generate a `TextColorTo` method for each class that implements `ITextStyle`. And it ensures that any new classes created by the .NET MAUI team that implement `ITextStyle` will also be supported.

I just opened the PR and I'd love for you to give it a review! https:/

[2021-12-18 09:00] PieEatingNinjas commented on #211
I’ll be happy to take a look at it as soon as I can. Curious to see how you used source generators for this. Thanks!

[2021-12-20 04:13] confessore opened #228 "[Bug] Type com.google.common.util.concurrent.ListenableFuture is defined multiple times"
Type com.google.common.util.concurrent.ListenableFuture is defined multiple times

### Stack Trace

`Using "D8" task from assembly "C:\Program Files\dotnet\packs\Microsoft.Android.Sdk.Windows\31.0.101-preview.11.117\tools\Xamarin.Android.Build.Tasks.dll".`

`1>      Task "D8"`

`1>          processing ClassesZip, JavaLibrariesToEmbed...`

`1>        C:\Program Files\Microsoft\jdk-11.0.12.7-hotspot

[2021-12-20 07:24] VladislavAntonyuk commented on #228
It is not an issue of CommunityToolkit.Maui.

Workaround: Rollback to MAUI preview 10.
Use `Maui-check` for that.

[2021-12-20 15:00] VladislavAntonyuk commented on #228
@confessore I am closing it:
Issue: https://github.com/xamarin/GooglePlayServicesComponents/issues/379
and the workaround
https://github.com/xamarin/GooglePlayServicesComponents/issues/379#issuecomment-733266753

[2021-12-20 15:00] #228 closed

[2021-12-20 16:42] confessore commented on #228
if it is not an issue with CommunityToolkit.Maui, why is it the only
package that throws the error?

On Mon, Dec 20, 2021 at 02:24 Vladislav Antonyuk ***@***.***>
wrote:

[2021-12-20 22:38] davidbuckleyni commented on #219
This seems a simple enough change. I think i bit more of can chew with main libarys is this one up for grabs.

[2021-12-20 22:40] davidbuckleyni commented on #114
Can the popup allow stack layouts and grids. If u have a look at dev express one its works really excellent. U dont have to do anything special to access the cotrols from code behind.

[2021-12-20 23:06] pictos commented on #114
@davidbuckleyni this popup will be the same as the XCT one, and it allows the usage of all Maui layouts, so far

[2021-12-20 23:07] pictos commented on #219
@davidbuckleyni not yet, we're still discussing how we would like to implement this

[2021-12-30 11:57] GalaxiaGuy commented on #124
Out of curiosity, do behaviors detach themselves automatically in MAUI? In Xamarin Forms [they do not](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/behaviors/creating#removing-a-behavior-from-a-control), and I recently came across an interesting method of using the XF community toolkit's [LifecycleEffect](https://docs.microsoft.com/en-us/xamarin/community-toolkit/effects

[2022-01-02 22:47] pictos commented on #124
@GalaxiaGuy thanks for the heads up, I'll bring that to the .NET MAUI team. The happy path will be that when the control gets destroyed we detach the behavior.

[2022-01-05 10:46] PieEatingNinjas commented on #89
@brminnick Have you been able to look at my comments above? Now that the holidays are over, I would love to pick up where I left and finalize these unit tests.
Let me list my remark for convenience's sake :-)
* The behavior of current implementation of the `With*` extension methods is different compared to the baked-in [WithAlpa](https://github.com/dotnet/Microsoft.Maui.Graphics/blob/1dd8e4060afa0

[2022-01-06 16:11] Phil4121 opened #236 "Toolkit causes build to fail with .Net Maui Prev. 11"
After updating my working solution form .Net Maui Prev. 10 to Prev. 11 the build failed.

The error I get is:
C:\Program Files\dotnet\packs\Microsoft.Android.Sdk.Windows\31.0.101-preview.11.117\tools\Xamarin.Android.D8.targets(79,5): error MSB6006: "java.exe" exited with code 1.

I tried a few possible reasons and after removing the  <PackageReference Include="CommunityToolkit.Maui" Version="1.0.0

[2022-01-06 17:05] brminnick commented on #11
These features will remain in Maui.Essentials

[2022-01-06 17:05] #11 closed

[2022-01-06 17:12] VladislavAntonyuk commented on #236
there were breaking changes in MAUI Preview 11. MCT is built using Preview 10. As soon as the new build is available the issue should be solved.
duplicate: https://github.com/CommunityToolkit/Maui/issues/228

[2022-01-06 19:35] brminnick commented on #236
Thanks @Phil4121 + @VladislavAntonyuk!

We will push a new release, CommunityToolkit.Maui-pre4, this week that is built against .NET MAUI Preview 11 to fix this bug 👍

[2022-01-06 20:41] brminnick commented on #108
May be duplicate of GraphicsView: https://github.com/dotnet/maui/pull/923

[2022-01-06 22:12] VladislavAntonyuk opened #238 "[Proposal] Toast"
### Discussed in https://github.com/CommunityToolkit/Maui/discussions/209

<div type='discussions-op-text'>

<sup>Originally posted by **VladislavAntonyuk** November 27, 2021</sup>

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Sample
* [x] Documentation: Not Started

# Toast

##

[2022-01-06 22:47] VladislavAntonyuk commented on #108
@brminnick I don't think it is a duplicate.
Maui.Graphics provides control to draw - GraphicsView (consider it to be a paper), But DrawingView actually draws on it (like a pencil).
We can use controls from Maui.Graphics (https://github.com/dotnet/Microsoft.Maui.Graphics/blob/main/src/Microsoft.Maui.Graphics/Android/NativeGraphicsView.cs) instead of implementing our own (https://github.com/Vladisla

[2022-01-07 18:17] brminnick commented on #236
Closed via [`CommunityToolkit.Maui-pre4`](https://www.nuget.org/packages/CommunityToolkit.Maui/1.0.0-pre4)

[2022-01-07 18:17] #236 closed

[2022-01-08 12:44] VladislavAntonyuk commented on #238
changing DetailedDesign according to the latest changes in Android 11:
Since Android 11, custom toasts/ toast modifications are deprecated, according to Google to "protect users". Hence why your app in Android 30 is not able to display custom toasts.

From Android Developers documentation:

Custom toast views are deprecated. Apps can create a standard text toast with the makeText(android.content.C

[2022-01-10 10:57] Countryen commented on #184
Happy new year. After resolving this last year in XCT it would now make sense to start changing this for MCT.
What is the process? Is the change from XCT (automatically) also done for MCT or do we have to manually copy-paste most of the changes/tests?

We/You did speak about a different approach because of added possibilities (like "is null if" for nullability).
I think it's important to have this

[2022-01-10 19:20] brminnick commented on #219
[Reassigning Champion to @bijington](https://github.com/CommunityToolkit/Maui/issues/219#issuecomment-992916268)

[2022-01-10 19:22] brminnick commented on #184
Yes! Let's [open a Discussion in the .NET MAUI Community Toolkit repo](https://github.com/CommunityToolkit/Maui/discussions/new) to chat about the best way to implement it.

Like @bijington mentioned, our implementation in `CommunityToolkit.Maui` won't be an exact copy/past because it is structured differently than `Xamarin.CommunityToolkit`.

For example, `CommunityToolkit.Maui.Converters.BaseCon

[2022-01-10 19:22] #184 closed

[2022-01-10 21:24] bijington commented on #219
How do we feel about proceeding with this change? I see we have mixed opinions

[2022-01-10 21:34] brminnick commented on #219
Good question!

Looks like there are 3 Options being discussed:
1. Matching the Folder Structure
2. Matching only the Assembly namespace
    - Every file in `CommunityToolkit.Maui` would use `namespace CommunityToolkit.Maui`
    - Every file in `CommunityToolkit.Maui.Core` would use `namespace CommunityToolkit.Maui.Core`
3. Matching the Root-Folder Namespace
    - This matches `Xamarin.CommunityTo

[2022-01-10 21:42] bijington commented on #219
@brminnick just to confirm for `CommunityToolkit.Maui.Core/Views/Popup/Popup.macios.cs` (https://github.com/CommunityToolkit/Maui/blob/main/src/CommunityToolkit.Maui.Core/Views/Popup/Popup.macios.cs)

| Option 1 | Option 2 | Option 3 |
| --- | --- | --- |
| `CommunityToolkit.Maui.Core.Views.Popup.Popup` | `CommunityToolkit.Maui.Core.Popup` | `CommunityToolkit.Maui.Core.Popup` |

I am not sure I un

[2022-01-10 21:45] VladislavAntonyuk commented on #219
If we go with option 2 or 3, please fix editorconfig to remove warning

[2022-01-10 21:48] VladislavAntonyuk commented on #219
@bijington
| Option 1 | Option 2 | Option 3 |

| --- | --- | --- |

| `CommunityToolkit.Maui.Core.Views.Popup` | `CommunityToolkit.Maui.Core` | `CommunityToolkit.Maui.Core.Views` |

[2022-01-10 21:49] brminnick commented on #219
FYI - I updated my comment above to include an example 👍

[2022-01-10 21:50] michael-hawker commented on #219
In the Windows Community Toolkit we've found that flattening namespaces down helps with reducing the amount of usings required in discovering what's available to use. This is also important for anything that needs to be included in XAML as having a bunch of xmlns is confusing and unwieldly, so we've been trying to reduce that as well.

[2022-01-10 21:54] pictos commented on #219
@michael-hawker for XAML we have been using xmlns schema, as you can see [here](https://github.com/xamarin/XamarinCommunityToolkit/blob/main/src/CommunityToolkit/Xamarin.CommunityToolkit/AssemblyInfo/AssemblyInfo.shared.cs#L7-L11) not use if it's possible on Windows world

[2022-01-10 21:55] bijington commented on #219
You beat me to it :). As per this discussion #144

[2022-01-10 22:23] michael-hawker commented on #219
Yeah, definitely missing that attribute in the UWP/WinUI 3 space; that'd have made migration a lot easier between the two... 🙁

[2022-01-10 22:51] sander1095 commented on #219
I feel like the examples should be updated to show 3 different usings from different folders. That way example 1 has 3 usings, while example 2 has 1

[2022-01-11 00:35] vhugogarcia commented on #219
My personal recommendation will be:

MauiCommunity.*

And match folder structure. I believe the word toolkit stands for UI elements, however, I believe the community is strong now and MauiCommunity makes more sense to me. By setting MauiCommunity.* we recognize people around the world supporting this amazing library.

We are all **MauiCommunity** 🤝😎

[2022-01-11 07:14] danardelean commented on #219
My 2 cent: from a "commercial" point of view and sometimes for the people that make the decision if the team can use or not the Community Toolkit I think it would be better to drop the Community term from the namespace.

While we all know that it is built by the community (and the quality of the code that gets merged is the same as the framework) leaving only Toolkit would give it more "commercial

[2022-01-11 07:44] bijington commented on #219
I'm just realising that if we go ahead with #144 then only option 2 would give the same consistent intellisense results across C# and XAML.

[2022-01-11 14:55] Sergio0694 commented on #219
Based on what we've been doing iin both the Windows Community Toolkit and the .NET Community Toolkit, we essentially used the assembly name as the root namespace in the vast majority of cases, with additional nested namespaces in few cases where it made sense to further categorize public APIs. FWIW, I personally think that setting a rule that the namespace should be coupled with the folder structu

[2022-01-11 16:20] bijington commented on #219
@Sergio0694 thanks for sharing that. I agree with your points which leads me on to thinking perhaps an option 4 is best being a hybrid of 2 and 3. Where we keep the namespaces as short as possible but at times we feel categorising is valuable do it.

I suspect option 3 may cover it in the majority if not all existing samples anyway.

[2022-01-13 16:30] Countryen commented on #184
@bijington Thanks for the information. Interesting choice with the "is null", I am excited to see the changes.
Of course, best to take all the time needed to implement the feature most appropriately for MCT.

I will let you guys handle that for now as I don't follow MAUI / MCT development as much as XCT, yet. I will keep an eye on it and maybe add tests again or something to support later.

[2022-01-13 22:26] bijington opened #245 "[Proposal] Xmlns Definition"
# Add Xmlns Definition

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests: (Not Required)
* [x] Sample
* [x] Documentation

## Link to Discussion

https://github.com/CommunityToolkit/Maui/discussions/144

## Summary
[summary]: #summary

This proposal will result in reducing the number of `x

[2022-01-13 22:29] pictos commented on #245
Approved

[2022-01-13 22:30] bijington commented on #245
Given we now have our docs repository setup this change will drastically simplify the writing of the docs. I think this alone also then shows how it would simplify writing XAML in apps :)

Please vote:
- 👍 for
- 👎 against (with reason in case we are missing something)

[2022-01-14 19:52] brminnick commented on #72
Closing to test that MSFT Bot reopens automatically

[2022-01-14 20:00] brminnick commented on #72
Closing to test that MSFT Bot adds response

[2022-01-18 05:51] vplife1 opened #249 "System.Exception: 'Handler not found for view Xamarin.CommunityToolkit.UI.Views.Expander.'[Bug]"
I have used Visual studio 2022  preview 2.0 MAUI.I want to used a expander using Community toolkit ,But right now i am facing a exception " System.Exception: 'Handler not found for view Xamarin.CommunityToolkit.UI.Views.Expander.'" How can i resolve this issue please Guide me .

Also I have download the nuget.
1)Xamarin Community Toolkit Markup MauiCompat
2)Xamarin.CommunityToolkit.MauiCompat
NOTE

[2022-01-18 06:52] brminnick commented on #249
Hi @vplife1! This sounds like a bug with `Xamarin.CommunityToolkit.MauiCompat`

Please open a bug report on its repo: https://github.com/xamarin/XamarinCommunityToolkit/issues/new?assignees=&labels=bug%2C+unverified%2C+maui-compat&template=maui_compat_bug_report_template.md&title=%5BBug%5D+%5BMauiCompat%5D+

[2022-01-18 06:52] #249 closed

[2022-01-18 14:20] Axemasta commented on #106
The XCT version of this control suffered from a niche bug on Android where certain devices could not display the selfie preview. This was addressed in [#1780](https://github.com/xamarin/XamarinCommunityToolkit/pull/1780).

The root issue of the bug was caused by using an older implementation for setting the preview surface which can be seen in deprecated google samples ([repo](https://github.com/g

[2022-01-20 13:05] ggutschi opened #253 "[Bug] Errors after upgrade to .net MAUI Preview 12"
Cannot build (for Windows) with new .net MAUI Preview 12.

### Description

If you add CommunityToolkit.Maui to a .net MAUI Preview 12 project, the windows build fails with two errors:
PRI175: 0x80073b0f - Processing Resources failed with error: Duplicate Entry. INAPPSDKGENERATEPROJECTPRIFILE
PRI222: 0x80073b0f - Unspecified error occurred.	WINAPPSDKGENERATEPROJECTPRIFILE

### Steps to Reproduce

[2022-01-20 14:34] VladislavAntonyuk commented on #253
pre4 is built using preview 11. the next release (pre5) will use preview 12

[2022-01-22 10:26] ChaplinMarchais commented on #121
I am currently working on a project which requires a `TabView` component, so I have began to implement a prototype according to your specification. If you would like for me to do some work toward this issue I would be glad to contribute!

[2022-01-22 16:45] brminnick commented on #121
Thanks @ChaplinMarchais! That'd be fantastic!

I'll assign this to you 👍

[2022-01-22 17:32] #253 closed

[2022-01-22 17:41] Orgbrat opened #256 "[Bug] Maui Preview 12 will not build with latest CommunityToolkit.Maui nuget"
### Description

After updating to VS2022 Preview 3 which updates to Maui Preview 12 my Maui project would not build
with the below errors

### Errors

Severity	Code	Description	Project	File	Line	Suppression State
Error		PRI175: 0x80073b0f - Processing Resources failed with error: Duplicate Entry.
MyApp E:\Work - VS.NET 2022\Maui\MyApp\WINAPPSDKGENERATEPROJECTPRIFILE

Severity	Code	Description	Pro

[2022-01-22 17:53] brminnick commented on #256
Hi @Orgbrat! This is a duplicate of https://github.com/CommunityToolkit/Maui/issues/253

We had to first update the .NET MAUI Community Toolkit for P12 ([PR completed here](https://github.com/CommunityToolkit/Maui/pull/252)), and we will be release CommunityToolkit.Maui-pre5 this upcoming week which will work with .NET MAUI Preview 12 included in VS 2022 Preview 3 👍

[2022-01-22 17:53] #256 closed

[2022-01-24 06:21] ChaplinMarchais commented on #121
@brminnick just a quick question for you about how you guys want events to be implemented in the `TabView` for `SelectionChanged` and `Scrolled`. Currently I am using the following to ensure that the lifetime of any handlers are correctly respected. Although I am not sure if this is the best way of doing it within the Maui framework.

[code]

Any suggestions for improvements would be welcomed!

[2022-01-24 06:40] brminnick commented on #121
Yup! That looks good 👍

[2022-01-25 00:54] pictos opened #259 "[Proposal] CameraView minimal port"
# [CameraView minimal port]

* [x] Proposed
* [ ] Prototype: Not Started
* [ ] Implementation: Not Started
  * [ ] iOS Support
  * [ ] Android Support
  * [ ] macOS Support
  * [ ] Windows Support
* [ ] Unit Tests: Not Started
* [ ] Sample: Not Started
* [ ] Documentation: Not Started

## Link to Discussion

- #106
- #206

## Summary
[summary]: #summary

Today on XCT we have a very complete `Camer

[2022-01-25 08:05] VladislavAntonyuk commented on #259
I suggest to add TakeVideo. In that case we cover major Camera features.

[2022-01-27 03:46] egvijayanand commented on #245
Hello folks,

Having a suggestion on this one, the xmlns prefix can be made smaller because they need to be typed every time to refer to any of the types such as `<toolkit:BadgeView>`:

* `mct` - Sounds similar to `xct` and corresponds to Maui CommunityToolkit
* `t` - Similar to that `x` XAML xmlns prefix

Saves a lot of keystrokes and precious time.

Another one is a typo error in the current xml

[2022-01-27 04:25] egvijayanand opened #261 "[Proposal] Consider adding Fluent API / Markup style methods for the types defined in the Toolkit similar to that of existing Markup package for the Core"
# Fluent API / Markup style methods for the types defined in the Toolkit, wherever feasible

* [x] Proposed
* [ ] Prototype: Not Started
* [ ] Implementation: Not Started
  * [ ] iOS Support
  * [ ] Android Support
  * [ ] macOS Support
  * [ ] Windows Support
* [ ] Unit Tests: Not Started
* [ ] Sample: Not Started
* [ ] Documentation: Not Started

## Link to Discussion

## Summary
[summary]: #sum

[2022-01-27 06:48] bijington commented on #245
@egvijayanand Thank you for this. I can't believe we missed the typo I will get that fixed shortly.

For the first point about the prefix this is entirely up to you as a consumer you can call it whatever you like e.g.

[code]

[2022-01-27 07:03] egvijayanand commented on #245
Hi @bijington,

I do agree that preference on prefixes' is left to the user.

But I hope there'll be a default prefix value (defined with `[XmlnsPrefix]`) with which it'll ship, request to consider using a shorter prefix as most of the time we as end-users accept the default value and focus on the core logic at hand.

Regards,
Vijay Anand E G

[2022-01-27 10:32] bijington commented on #245
@egvijayanand thanks for this. I have a fix for the typo over at this PR #263 along with an initial discussion on what the prefix should be :)

[2022-01-27 20:21] bijington opened #264 "[Bug] Xmlns includes a typo"
### Description

As discussed in part of the proposal at #245 it has been discovered that there is a typo in the xmlns definition. Raising this issue as the changes have made it out in to a release.

### Link to Reproduction Sample

N/A

### Expected Behavior

`xmlns:mct="http://schemas.microsoft.com/dotnet/2022/maui/toolkit"`

### Actual Behavior

`xmlns:mct="http://schemas.microsoft.com/dotnet/2

[2022-01-28 21:17] brminnick commented on #259
Thanks Pedro! This is a great start! Here's a couple recommendations I have for the API design:

### `public bool IsBusy { get; set; }`
- Can we rename this to something more descriptive?
  - I.e. What does `IsBusy` mean? Does it mean the CameraView is in use? Or does it mean the the camera shutter is in use? etc
- Should this be `{ get; private set; }`? I doubt we'd want the user to toggle `IsBus

[2022-01-29 18:17] VladislavAntonyuk opened #266 "[Bug] Snackbar throws InvalidOperationException when click multiple times"
### Description

InvalidOperationException.
The underlying Task is already in one of the three final states: RanToCompletion, Faulted, or Canceled.

### Steps to Reproduce

1. Run sample app
2. Click on Show Snackbar multiple times
3. application crashes on line `dismissedTCS.SetResult(true);`

### Basic Information

- Version with issue: 1.0-pre5
- Platform Target Frameworks:
  - Android: 11

###

[2022-01-29 19:03] #266 closed

[2022-01-30 10:19] maxkoshevoi commented on #103
dotnet/maui#2049 is now closed, can we move forward with thins issue?

[2022-01-30 10:20] maxkoshevoi commented on #85
dotnet/maui#2049 is now closed, can we move forward with thins issue?

[2022-02-01 16:54] IndianaGary opened #268 "[Bug] Spurious warnings generated after adding CommunityToolkit.Maui to project"
### Description
After a recent update to Pre5, I noted that any time I add CommunityToolkit.Maui to a Project, it begins generating spurious warning messages referencing TextColorToGenerator and nullability whenever I Build it.

### Stack Trace

Not applicable, however an binlog is attached (see below)

### Link to Reproduction Sample

### Steps to Reproduce

1.  Launch VS 2022 17.1 Preview 4.0
2.

[2022-02-01 17:06] pictos commented on #268
@IndianaGary can you attach the project that you saw this issue?

[2022-02-01 18:54] IndianaGary commented on #268
The project, minus the bin and obj folders, is attached
[OOTBMauiApp1.zip](https://github.com/CommunityToolkit/Maui/files/7981207/OOTBMauiApp1.zip)
,

[2022-02-01 23:47] #264 closed

[2022-02-02 21:15] bijington opened #273 "[Proposal] Ship ReadMe.txt file with packages to inform consumers of necessary steps"
# [FEATURE_NAME] Ship `ReadMe.txt` file with packages to inform consumers of necessary steps

* [x] Proposed
* [x] Prototype
* [ ] Implementation: Not Started
  * [ ] iOS Support
  * [ ] Android Support
  * [ ] macOS Support
  * [ ] Windows Support
* [ ] Unit Tests: Not Started
* [ ] Sample: Not Started
* [ ] Documentation: Not Started

## Link to Discussion

This is being raised as a result of di

[2022-02-02 21:25] brminnick commented on #273
Thanks Shaun! Love this idea to help devs get up and running quickly with the .NET MAUI Community Toolkit! 💯

As a part of this effort, could we also add the Getting Started info to our GitHub Repository `README.md` too?

We can put the Getting Started info in the top of the `README.md` before the [Submitting a New Feature section]([https://github.com/CommunityToolkit/Maui#submitting-a-new-feature

[2022-02-02 21:32] bijington commented on #273
Yes great idea!

[2022-02-02 21:33] brminnick commented on #268
Adding additional info provided by @IeuanWalker in Discussion https://github.com/CommunityToolkit/Maui/discussions/272#discussioncomment-2099908:

![](https://user-images.githubusercontent.com/6544051/152239847-b3b5173e-f35c-40f7-92b9-74e2c2fdc3f0.png)

[2022-02-02 21:45] IeuanWalker commented on #268
Also getting a warning for android -
![image](https://user-images.githubusercontent.com/6544051/152242516-5df60ba2-d6e8-427e-9e3c-39b66821c80a.png)

[2022-02-02 23:18] brminnick commented on #268
Confirmed that the `CommunityTolkit.Maui-pre5` DLL shows `SupportedOSPlatform("Android31.0")`, even though we use 21.0 in the [CSPROJ file](https://github.com/CommunityToolkit/Maui/blob/a62ca26c1d9693fba24b67b5eb3c3c4697ae2573/src/CommunityToolkit.Maui/CommunityToolkit.Maui.csproj#L13-L17).

Perhaps this is a problem with our CI Pipeline?

<img width="1226" alt="Screen Shot 2022-02-02 at 3 13 44 P

[2022-02-02 23:45] brminnick commented on #268
Confirmed the same problem in exists in `CommunityToolkit.Maui-pre4`

Confirmed the problem does not exist in `CommunityToolkit.Maui-pre3`

[2022-02-05 12:38] Vroomer commented on #114
Given that MAUI targets desktop as well, it would be really useful to add option to position and size a popup in reference to a control from which the popup got called. For example clicking on a button in top right corner would always bring up a popup right next to it in direction that has enough space to accommodate it. This would allow a lot of very important features like custom context menus,

[2022-02-06 11:01] marsscotia commented on #67
Hi! I've implemented a sample for this feature, am I okay to open a pull request? This would be my first time contributing, so please feel free to keep me right on how to proceed.

[2022-02-06 14:46] bijington commented on #67
@marsscotia thank you for the offer! Of course we would be more than happy for you to do this.

If you want to go ahead and raise the PR that would be awesome! Please feel free to check on anything if you need 😄

[2022-02-06 17:13] pictos commented on #85
This is still blocked by #124

[2022-02-06 17:14] pictos commented on #103
This is still blocked by #124

[2022-02-07 03:09] brminnick commented on #89
Hey @PieEatingNinjas! So sorry for not responding and thus blocking you on this

I think that's a great idea!

Let's throw an `ArgumentOutOfRangeException` if the given value is outside of the expected range.

Good catch! Yup, we can drop `WithAlpha` from the .NET MAUI Community Toolkit

Yup, let's align to what the .NET MAUI Framework supports. We can drop the '°' sign, then

[2022-02-07 05:46] brminnick commented on #268
Confirmed the Issue occurs with the `VSBuild@1` task in our CI Pipeline.

Using `dotnet pack -c Release` in our CI Pipeline creates a NuGet Package targeting `net6.0`, `net6.0-ios`, `net6.0-android` and `net6.0-maccatalyst` whose DLLs all contain the correct `OSSupportedVersion` and correct `TargetPlatform`. But it does not include the `net6.0-windows` DLL.

Using the `VSBuild@1` task in our CI Pi

[2022-02-07 23:39] pictos commented on #238
Thanks Vlad!

I implemented Pedro's recommendation to remove `SemaphoreSlim` by ensuring that `Snackbar.Show`, `Snackbar.Dismiss`, `Toast.Show` and `Toast.Dismiss` always run on the Main Thread.

I approve of this PR, although it looks like Pedro still has two requests:

- Make `Toast.String` readonly
  - I see a valid use-case for keeping this writeable

[code]
- Update `DisposeAsyncCore` for `To

[2022-02-07 23:47] pictos commented on #238
In this case, we need to care about thread-safe, we should `Show` and `Dismiss` on the UI thread, but we can create and change the Toast values in any thread, and in real-world apps, with Rx, Messaging patterns, ViewModels, etc this can be tricky.
Making this immutable, we make it safer, making sure that the latest created Toast will be the presented one. I can reference the Roslyn team that decid

[2022-02-08 00:07] brminnick commented on #238
Good point! There may be devs who expect the text on the displayed `Toast` to update immediately when `IToast.Text` changes (similar to how `ILabel.Text` changes immediately when changed.

There's also a similar point to be made about applying the same behavior to `SnackBar` (which _is_ mutable), and I'll spin up a new Discussion for that.

Since we have a release scheduled for this week, and we'r

[2022-02-08 00:14] pictos commented on #238
That works for me 🚀

[2022-02-08 03:06] #268 closed

[2022-02-08 09:49] PieEatingNinjas commented on #89
Thank you for your feedback @brminnick ! I'll continue on this as soon as I can 😊

[2022-02-10 03:50] brminnick opened #287 "[Proposal] IsStringNullOrWhiteSpace Converter"
# IsStringNullOrWhiteSpace Converters

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Sample
* [x] Documentation

## Summary
[summary]: #summary

The `IsStringNullOrWhiteSpaceConverter` is a converter that allows users to convert an incoming `string` binding to a `bool` value. This

[2022-02-10 21:51] brminnick commented on #238
Ah - looks like this proposal was missing the `proposal` label which is what @msftbot looks for

[2022-02-10 21:54] brminnick commented on #238
Fixed! I changed the rule from just requiring the `proposal` tag to also checking if it's in the `New Feature Proposals` project board. I'll re-add the `proposal` tag now that I'm done testing.

Thanks Shaun!

[2022-02-11 21:10] bijington opened #292 "[Proposal] Replace all NotImplementedException throws with NotSupportedException"
# [CHANGE] Replace all `NotImplementedException` throws with `NotSupportedException`

* [x] Proposed
* [x] Prototype
* [ ] Implementation: Not Started
  * [ ] iOS Support
  * [ ] Android Support
  * [ ] macOS Support
  * [ ] Windows Support
* [ ] Unit Tests: Not Started
* [ ] Sample: Not Started
* [ ] Documentation: Not Started

## Link to Discussion

Came out of PR #289

## Summary
[summary]: #su

[2022-02-11 21:25] bijington commented on #44
Oh I have just read the last few comments. @IndianaGary would you still be keen to write the docs for this?

[2022-02-12 23:42] IndianaGary commented on #44
Hi Shaun,

Sorry. I missed this email. I will be available starting Wednesday. Can you point me at where to start? This will be my first OSS contribution and I'm running a bit blind.

Regards
Gary

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Shaun Lawrence ***@***.***>
Sent: Friday, February 11, 2022 1:25:25 PM
To: CommunityToolkit/Maui ***@***.***>
Cc: Ga

[2022-02-13 16:12] bijington commented on #44
@IndianaGary no problem.

The docs writing process is still extremely fresh and we are learning as we go but if you fancy writing some it could be a nice introduction to contributing for sure. I will aim to get some documentation set up before Wednesday to hopefully help guide you but of course feel free to reach out with any questions.

[2022-02-14 04:05] IndianaGary commented on #44
Great I look forward to hearing from you. As for this particular Behavior, I've used it quite a lot so I don't think l have any trouble documenting it. Are you looking for sample code as well?

[2022-02-14 17:52] brminnick commented on #287
I approve to move forward with this feature ✅

[2022-02-14 18:19] brminnick commented on #292
Thanks @bijington! Do you want to Champion this Proposal?

I also know you're also working hard on writing the docs!

[2022-02-14 18:34] bijington commented on #292
Yeah I'll happily do it

[2022-02-14 22:59] bijington commented on #287
I approve to move forward with this feature

[2022-02-14 23:00] pictos commented on #287
I approve this feature

[2022-02-16 13:56] egvijayanand opened #299 "[Bug] Getting build error when configured with `UseMauiCommunityToolkit()` and targeting the Windows platform"
### Description

Getting the below-mentioned error when configured with UseMauiCommunityToolkit() initialization and building for the Windows target

### Stack Trace

Here is the Build Output log:

Build started...
1>------ Build started: Project: TestApp, Configuration: Debug Any CPU ------
1>TestApp -> E:\Tasks\Projects\Maui\TestApp\TestApp\bin\Debug\net6.0-windows10.0.19041\win10-x64\TestApp.dl

[2022-02-16 14:38] VladislavAntonyuk commented on #299
It will be fixed with pre7

[2022-02-16 17:22] brminnick commented on #299
Reopening this after confirming it continues to exist on `CommunityToolkit.Maui-pre7`.

Here is a reproduction sample app I made using the latest .NET MAUI Template in Visual Studio 2022 Preview v17.2.0 Preview 1: https://github.com/brminnick/WINAPPSDKGENERATEPROJECTPRIFILE_ReproductionSample/tree/main

### Reproduction Steps
1. Download/Clone the reproduction sample repository: https://github.com

[2022-02-16 17:28] egvijayanand commented on #299
Hi @brminnick,

I just now tried with a blank .NET MAUI App (Preview 13), including the latest (1.0.0-pre7) package, and then added the UseMauiCommunityToolkit() initialization call to verify whether the build issue is resolved.

Build completed successfully and able to launch the app and work with it on Windows platform.

Maybe I'll give it a try by cloning your reproduction sample.

Regards,
Vij

[2022-02-16 17:30] VladislavAntonyuk commented on #299
@brminnick probably you need to clean bin/obj and restore nuget packages again. I had the same issue

[2022-02-16 17:50] brminnick commented on #299
@VladislavAntonyuk Are you able to reproduce the error using the [reproduction sample](https://github.com/CommunityToolkit/Maui/issues/299#issuecomment-1041904208)?

[2022-02-16 18:14] VladislavAntonyuk commented on #299
@brminnick you missed Properties/launchSettings.json file
After adding it I was able to run the app
![image](https://user-images.githubusercontent.com/33021114/154329402-1d9c7385-1645-457b-94d3-10f9e0dd386c.png)

[2022-02-16 18:15] VladislavAntonyuk commented on #299
[code]

[2022-02-16 18:25] brminnick commented on #299
Ok, great!

I'll let the MAUI team know that this file is missing from the template 👍

[2022-02-16 18:25] #299 closed

[2022-02-16 18:28] VladislavAntonyuk commented on #299
@brminnick it is available. for some reason it was in gitignore in your repo

[2022-02-16 19:21] brminnick commented on #299
🤦‍♂️

[2022-02-17 09:07] bijington commented on #44
@IndianaGary sorry this completely slipped through and I forgot to gets those docs for you.

## The content

That's great to hear you have a good understanding of the Behavior. My current approach is to look at the existing documentation from Xamarin Community Toolkit and borrow whatever feels current but don't be afraid to rewrite it.

This behavior is documented at: https://docs.microsoft.com/en

[2022-02-19 00:15] IndianaGary commented on #44
Hi Shaun,

Yes, this looks quite doable, although I happen to be in the middle of a project that will need to take priority for now. I should be far enough along midweek that I can jump on this. I do have one question that requires some setup:

One of my pet peeves is that often an architectural element, like a Behavior, is not clearly deefined, leaving a contextual hole in the continuity of the d

[2022-02-20 17:56] maxkoshevoi commented on #114
Maybe it's too late, but how are you looking at using `Rg.Plugins.Popups` port as a popup view in the toolkit? It has more features and is already widely used.

CC: @LuckyDucko

[2022-02-21 18:53] charlesroddie commented on #94
I don't think this is not required as the thing specced in https://github.com/dotnet/maui/issues/2703 is non-generic (and so only supports patterns in dotnet that came from its unfortunate pre-generics history), whereas this proposal is for generic `WeakEventManager<T>`.

[2022-02-21 19:23] brminnick commented on #94
True that .NET MAUI's `WeakEventManager` isn't generic.

The addition of `WeakEventManager<T>` to `CommunityToolkit.Maui` doesn't justify the the implementation and maintenance cost over using .NET MAUI's `WeakEventManager`; ie it doesn't add much functionality compared to the suite of Unit Tests, future bug reports and future PRs required to support it.

I recommend using [`AsyncAwaitBestPractice

[2022-02-22 17:47] IeuanWalker opened #306 "[Proposal] IsNull / IsNotNull Converters"
# IsNull IsNotNull Converters

* [x] Proposed
* [x] Prototype
* [x] Implementation
  * [x] iOS Support
  * [x] Android Support
  * [x] macOS Support
  * [x] Windows Support
* [x] Unit Tests
* [x] Sample
* [x] Documentation: Done

## Link to Discussion

[Discussion](https://github.com/CommunityToolkit/Maui/discussions/305)

## Summary
[summary]: #summary

The `IsNullConverter` is a converter that a

[2022-02-22 17:49] IeuanWalker commented on #306
If approved, I'm happy to put a PR together for it

[2022-02-22 18:00] brminnick commented on #306
Thanks @IeuanWalker! This all looks good!

The only thing I'd tweak is to use `is null` and `is not null` just to match our [Contribution Guidelines](https://github.com/CommunityToolkit/Maui/blob/main/CONTRIBUTING.md).

I'll raise this for a vote/approval at our next standup, 03 March.

[2022-02-23 20:46] marsscotia commented on #77
@brminnick Commenting as requested.

[2022-02-23 20:48] brminnick commented on #77
Thanks! Yea, GitHub has a weird quirk that we can't assign an Issue to anyone who isn't a maintainer or who hasn't commented directly on the Issue 🤷‍♂️

[2022-02-28 19:52] pictos commented on #124
This is blocked by
-  https://github.com/dotnet/maui/issues/4958

[2022-03-01 21:44] #69 closed

[2022-03-03 02:44] #60 closed

[2022-03-03 08:53] #73 closed

[2022-03-07 18:40] bijington commented on #245
To

[2022-03-09 20:52] #47 closed

[2022-03-12 19:47] curelom commented on #106
The ability to compress video is greatly needed.

[2022-03-13 21:01] bijington commented on #44
Hey @IndianaGary I am really sorry for the delayed response I completely missed your reply somehow. Please see my responses to your questions below:

I like your breakdown of concepts. I would like to suggest that we shouldn't write points 1 and 2 but simply link across to the .NET MAUI docs that already cover this: https://docs.microsoft.com/en-gb/dotnet/maui/fundamentals/behaviors. In fact I wil

[2022-03-14 08:51] CliffAgius commented on #57
Happy to pickup the Docs for this if someone can assign me please.

[2022-03-14 09:04] bijington commented on #57
Haha sorry yes this one and also `TextCaseConverter` are in progress. Perhaps I should add an in-progress label to them

[2022-03-14 09:05] CliffAgius commented on #56
Happy to pick up the Docs for this one as a starter before I dive in fully.  I want to get the process right my end.

Can someone assign me please and I will get it done this week.

[2022-03-14 09:06] bijington commented on #56
Thanks @CliffAgius I have assigned you

[2022-03-15 18:11] #76 closed

[2022-03-15 18:12] #57 closed

[2022-03-15 18:15] bijington commented on #245
Docs completed at: https://github.com/MicrosoftDocs/CommunityToolkit/blob/main/docs/maui/get-started.md

[2022-03-15 18:17] bijington commented on #56
@CliffAgius sorry to add to the work I have recently added an `index.md` file under the converters folder that contains a full table of all converters. If you can, could you add this converter to that file when you get round to writing the doc :)

[2022-03-16 15:54] #63 closed

[2022-03-16 16:30] VladislavAntonyuk commented on #306
can we use `BaseConverter<object?, bool>`? example: https://github.com/CommunityToolkit/Maui/pull/327/files
I approve

[2022-03-16 16:45] bijington commented on #306
I vote to approve

[2022-03-16 17:01] IeuanWalker commented on #306
@brminnick awesome, ye will do

[2022-03-16 17:29] IeuanWalker commented on #306
@brminnick I can't seem to get the sample project to run. These are the only options showing -
![image](https://user-images.githubusercontent.com/6544051/158651030-2349ea9d-206c-43c4-94c7-c9dde3e7d01a.png)
And get this message if I try and run anyway -
![image](https://user-images.githubusercontent.com/6544051/158651092-49b89618-05be-446a-8e24-fbb75a316e9c.png)

I have my own project using maui th

[2022-03-16 17:41] VladislavAntonyuk commented on #306
open csproj and check that `<OutputType>Exe</OutputType>`

[2022-03-16 18:15] IeuanWalker commented on #306
@VladislavAntonyuk ye thats in the csproj.

How do i run it with CLI?

Im getting these errors now too, appeared after i cleaned the solution, restarted VS and built the solution -
[code]

[2022-03-16 18:35] pictos commented on #306
@IeuanWalker did you update your MAUI to P14?

[2022-03-16 19:08] VladislavAntonyuk commented on #306
yes, it is MAUI Preview 14. The PR with the update is under review.

[2022-03-16 19:26] IeuanWalker commented on #306
Cool no prob, i'll wait

[2022-03-16 21:35] #64 closed

[2022-03-17 20:18] rjygraham opened #328 "[Bug] CommunityToolkit.Maui 1.0.0-pre7 is broken in .NET MAUI Preview 14"
### Description

CommunityToolkit.Maui 1.0.0-pre7 seemingly broken in .NET MAUI Preview 14. Builds for Windows are broken after adding
CommunityToolkit.Maui package to the project.

### Stack Trace

N/A

### Link to Reproduction Sample

N/A

### Steps to Reproduce

1. File -> New Project .NET MAUI Preview 14 App
2. Install CommunityToolkit.Maui 1.0.0-pre7 package
3. Ensure build target is set to W

[2022-03-17 22:44] brminnick commented on #328
Thanks @rjygraham!

This is expected as each new Preview release of .NET MAUI contains breaking changes.

Fixed in #325

[2022-03-17 22:44] #328 closed

[2022-03-18 09:30] ialbert-AUT opened #330 "[Bug] build error with maui preview 14"
### Description

- open a new maui app template
- add nuget package communitytoolkit.maui, 1.0.0-pre7
- switch to windows
and you get build errors:
1>WINAPPSDKGENERATEPROJECTPRIFILE : error : PRI175: 0x80073b0f - Processing Resources failed with error: Duplicate Entry.
1>WINAPPSDKGENERATEPROJECTPRIFILE : error : PRI222: 0x80073b0f - Unspecified error occurred.

### Stack Trace

### Link to Reprodu

[2022-03-18 09:34] VladislavAntonyuk commented on #330
It will be released today.
Duplicate of https://github.com/CommunityToolkit/Maui/issues/328

[2022-03-18 09:34] #330 closed

[2022-03-22 19:10] CliffAgius commented on #56
Not sure if I linked the Docs PR correctly but they have been merged over on the Docs repo.
@jfversluis @bijington can you let me know if I should have included a link to the proposal so that it closed this now that the Docs are done?

[2022-03-22 19:12] CliffAgius commented on #59
Can someone add me to pickup the Docs for this one please.

[2022-03-22 19:16] jfversluis commented on #56
O shoot, I should be more aware of if the actual feature is merged as well. My bad. 😬

I guess this one is done now though with the Docs also being complete?

[2022-03-22 19:35] brminnick commented on #59
Thanks @CliffAgius! Done ✅

[2022-03-22 20:31] bijington commented on #56
@CliffAgius no you linked it fine. The proposal won't automatically be closed as a result of the docs PR being closed. We need to manually drag the issue over to the complete column in the Project board. This is down to the fact that a feature/proposal should not be merged before the docs are done. Don't worry I'll sort this proposal.

Thanks again for the contribution!

[2022-03-22 20:31] #56 closed

[2022-03-22 22:28] brminnick commented on #306
@IeuanWalker You should be unblocked now that we merged in support for Preview 14: #325 🙌

[2022-03-22 22:34] CliffAgius commented on #59
Docs added with a PR - https://github.com/MicrosoftDocs/CommunityToolkit/pull/32

[2022-03-22 22:36] CliffAgius commented on #68
I'll Pick up the docs for this one.

[2022-03-22 22:38] bijington commented on #68
Great thanks! It looks like you are on a roll!

[2022-03-23 02:11] alaatm opened #334 "[Bug] Snackbar isn't shown in a modal page"
### Description

The snackbar does not show when invoked from within a modal page.

### Steps to Reproduce

1. Create a new Maui project
2. Add a new page `Page2`
3. From within the main page add a button and in the click handler: `Navigation.PushModalAsync(new Page2());`
4. In `Page2` add a button and in the click handler: `await Snackbar.Make("test").Show();`

### Expected Behavior

The snackbar

[2022-03-28 19:20] WillAutioItrax opened #340 "[Bug] Fresh copy of CommunityToolkit.Maui.Sample results in multiple "CS0016 Could not write to output file" errors"
I updated to the latest version of Microsoft Visual Studio Professional 2022 (64-bit) - Preview
Version 17.2.0 Preview 2.1
Then I downloaded CommunityToolkit.Maui.Sample and tried to run it.
Instead of getting a sample app to run on an Android, I got 4 errors like the one below:
Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0016	Could not write to output file
'C:\Users\<myI

[2022-03-28 19:28] brminnick commented on #340
Hi @WillAutioItrax!

This is a bug in Visual Studio on Windows, specifically with Win32 + MAX_PATH.

The fix is to increase the maximum path length limitation in the Windows Registry to allow for file paths longer than 260 Characters.

Here's the steps to fix it in Windows 10, Version 1607, and Later:

https://docs.microsoft.com/en-us/windows/win32/fileio/maximum-file-path-limitation?WT.mc_id=mobi

[2022-03-28 19:33] brminnick commented on #340
Oh and one more thing: when you launch Visual Studio, ensure that you are running it as an administrator:

https://docs.microsoft.com/en-us/visualstudio/ide/user-permissions-and-visual-studio?view=vs-2022?WT.mc_id=mobile-0000-bramin#run-visual-studio-as-an-administrator

[2022-03-28 21:15] WillAutioItrax commented on #340
@brminnick Thanks for your reply.
I had a look at your links and the first one mentioned making a change to the Registry as well as the app manifest file.
I was able to change the Registry. In the Maui app, I could not find a manifest file. So, I ran it only with the Registry change.
That worked for me.
Thanks!

[2022-03-28 21:15] #340 closed

[2022-03-30 09:07] #66 closed

[2022-03-30 17:45] tnassour commented on #105
Hello, i made the modifications but i can't push them

[2022-03-30 17:47] brminnick commented on #105
Thanks @tnassour!

Let's have you make a new branch and open a new PR, then. And we'll close this PR once yours has been opened 👍

[2022-03-30 20:48] mpkagel opened #344 "[Bug] iOS SnackBar Message Doesn't Have Action Button"
### Description
I've attached a sample project that demonstrates the issue.
The snackbar message doesn't show the action button in iOS. The action button for the snackbar does
show in Android.
As an additional note changing font size doesn't seem to affect this.

### Steps to Reproduce
In iOS
1. Run sample project.
2. Click "Open Snack Bar Message"
3. The snackbar message appears without an action

[2022-03-30 21:02] mpkagel commented on #344
Also, this looks like a similar issue that was fixed in the Xamarin Community Toolkit:
https://github.com/xamarin/XamarinCommunityToolkit/issues/1777
https://github.com/xamarin/XamarinCommunityToolkit/pull/1783

[2022-03-31 16:15] mpkagel commented on #344
I set an action for the Snackbar of: async () => { await Shell.Current.GoToAsync($"///{nameof(ItemsPage)}"); } in the sample project that I attached above. I couldn't see the OK button in iOS after making this change.

[2022-04-01 21:20] VladislavAntonyuk commented on #344
Reproduced, thank you.
I have an ugly hot fix, but I will try to find a better solution.

[2022-04-03 22:38] emceelovin commented on #113
A/V is paramount IMO. This should've been on the timeline from day one *facepalm*. I'm all for whatever will allow basic playback, but the proposal doesn't mention anything about a Stream as one the source options, and that's the most important IMO. I'm working on a tiny IMediaPlayer interface in my MAUI project to back with native implementations, but maybe I can help on this? I would like to see

[2022-04-03 23:14] brminnick commented on #113
Thanks @emceelovin! We would love your help with MediaElement 💯

[2022-04-03 23:15] emceelovin commented on #113
@brminnick will do anything I can!

[2022-04-09 20:03] emorell96 opened #353 "[Bug] Snackbar opens a new app process on Windows"
### Description

Snackbar opens a new window as shown here when you click the action button on Windows.

### Stack Trace

### Link to Reproduction Sample

### Steps to Reproduce

1. Place a snackbar inside the default template.
2. Click on the toast action button
3. See how a new window appears.

### Expected Behavior
Action executes inside the current open app without opening a new app.

### Actu

[2022-04-10 07:33] VladislavAntonyuk commented on #353
What you described is true for UWP and compatible package ToastNotificationManagerCompat.
We use package for WinU.

As a solution you can allow only 1 instance of the app: https://github.com/CommunityToolkit/Maui/blob/3b78714fac18c132d85948c11651132580e91c59/samples/CommunityToolkit.Maui.Sample/Platforms/Windows/App.xaml.cs#L24

[2022-04-10 07:37] VladislavAntonyuk commented on #353
I see you take the guide from https://docs.microsoft.com/en-us/windows/apps/windows-app-sdk/migrate-to-windows-app-sdk/guides/toast-notifications
But it is migration like from Xamarin to .NET MAUI. It can be used in XCT MauiCompat package, but not in this library

[2022-04-10 07:58] VladislavAntonyuk commented on #353
As a workaround you can implement your own Snackbar

[2022-04-10 08:42] emorell96 commented on #353
I don't know why you say you cannot use "ToastNotificationManagerCompat" in here if you use the package already on Windows. I saw it the source code: https://github.com/CommunityToolkit/Maui/blob/c319bc9f3a09fcb217654a05e3c586c800ac8c11/src/CommunityToolkit.Maui/Alerts/Snackbar/Snackbar.windows.cs#L1

The solution of limiting instances is not good enough on Desktop where users and app developers m

[2022-04-10 09:41] VladislavAntonyuk commented on #353
We use ToastNotificationManager, ToastNotificationManagerCompat doesn’t exist in the package.
Also it is up to you how to handle it OnActivated.
We cannot pass Action() as a parameter of the application.
You need to override OnActivated and run whatever action you need.

As I mentioned we use foreground activation. I will double check if we can switch to background activation.

[2022-04-10 09:46] emorell96 commented on #353
![image](https://user-images.githubusercontent.com/20151415/162612365-c208f90f-8d10-4b0e-b652-135b639cf264.png)
It is available on that nuget. Of course on Windows only.

[2022-04-10 09:54] emorell96 commented on #353
As for background activation you'd need to use background tasks either in-process or out of process tasks. I couldn't get the in process tasks to work on MAUI out of the box. Registering them threw an argument out of bounds exception. Probably because you need to define the package as have multiple instances which requires a package.appxmanifest change. But I didn't experiment too much since the s

[2022-04-10 11:07] VladislavAntonyuk commented on #353
We do not use ToastNotificationManagerCompat. It is used only for building ToastContent, I plan to remove it.
We use only ToastNotificationManager which is a part of Windows.SDK. There is no events in this static class

[2022-04-10 11:21] emorell96 commented on #353
That's different from saying `ToastNotificationManagerCompat doesn’t exist in the package.` because it does exist in the package. I cannot know what you plan to do. I wrote what I said based on the source code you have available right now.

Now if you do not plan to use ToastNotificationManagerCompat how do you plan to get rid of this bug?

[2022-04-10 11:47] VladislavAntonyuk commented on #353
It is up to you. It is a side effect of the Windows Toast Notification. As a workaround, if you do not need a new window, you can close it as the example app does

[2022-04-10 11:51] VladislavAntonyuk commented on #353
![image](https://user-images.githubusercontent.com/33021114/162616700-ea35cdfb-1b1b-48d2-b61a-1cbabd4a2e1b.png)

[2022-04-10 11:52] emorell96 commented on #353
It's not a side effect. It's a bug. You cannot truly believe that anyone is happy to have a new app window open when clicking on the action button.

The workaround misses the whole point that if it's a Desktop app you might need more that one window but without this at least well documented, the snackbar is unusable on Windows. Closing every new window might not be ideal for desktop apps.

At leas

[2022-04-10 11:54] emorell96 commented on #353
Also, this works on MAUI as shown on the UWP tab AFAIK. Change it to activation type to background and you'll see that it doesn't open a new app, it just does nothing.

[2022-04-10 11:56] VladislavAntonyuk commented on #353
I know that. That is why we use Foreground activation. it is better than nothing

[2022-04-10 11:56] VladislavAntonyuk commented on #353
I know that. That is why we use Foreground activation. it is better than nothing

[2022-04-10 11:58] VladislavAntonyuk commented on #353
I know that. That is why we use Foreground activation. it is better than nothing

[2022-04-10 11:58] VladislavAntonyuk commented on #353
I know that. That is why we use Foreground activation. it is better than nothing

[2022-04-10 12:08] emorell96 commented on #353
But using the

Sure, but that's why I don't understand wanting not to use `ToastNotificationManagerCompat` which fixes the problem. And it's only a dependency for Windows on `CommunityToolkit.WinUI.Notifications` which is already used anyways, and written by Microsoft too, it's not like using a Google dependency.

But then if you really didn't want to use that dependency, maybe checking what `Toas

[2022-04-10 14:36] VladislavAntonyuk commented on #353
ToastNotificationManagerCompat is a temporary solution to migrate from UWP to WinUI. It can be used in MauiCompat package, but not MAUI package (It can, but I think it is not correct). When WinUI support `ToastNotificationManager.OnActivated`, we will add it.

[2022-04-10 15:40] emorell96 commented on #353
Wouldn't make more sense to use it until WinUI supports `ToastNotificationManager.OnActivated`? Instead of shipping a buggy experience by relabeling it a "side effect"?

[2022-04-10 17:28] VladislavAntonyuk commented on #353
1. ToastNotificationManagerCompat is not supported on Windows 17763
2.  You can use ToastNotificationManagerCompat in your application. There is no need to update CommunityToolkit code

[2022-04-10 23:17] #334 closed

[2022-04-10 23:17] #344 closed

[2022-04-11 05:20] #238 closed

[2022-04-11 05:21] #118 closed

[2022-04-11 17:19] brminnick commented on #113
Adding the `blocked` label for now.

We agree that `MediaElement` should support streaming. For Android, supporting streaming requires the use of Google's Exo Player, an [open-source library made by Google](https://github.com/google/ExoPlayer) that enables `HLS` and `DASH` on Android.

Currently, there is no `net6.0-android` binding of Google's ExoPlayer. This is blocking us from adding `MediaElem

[2022-04-12 15:08] brminnick commented on #49
Thanks Cliff! Assigned ✅

[2022-04-12 19:17] #70 closed

[2022-04-12 19:17] #75 closed

[2022-04-13 14:50] pictos commented on #78
Hey @victorsigga, this will be implemented after our code freeze. This will become a Behavior instead of an Effect (:

[2022-04-13 14:51] victorsigga commented on #78
Thank you @pictos . Can you inform how long this code freeze will last ?

[2022-04-13 15:21] pictos commented on #78
We will work in new APIs after MAUI GA

[2022-04-13 15:29] victorsigga commented on #78
@pictos ok, thank you very much

[2022-04-13 21:51] CliffAgius commented on #62
Can you assign the docs to me please.

[2022-04-13 22:51] #219 closed

[2022-04-14 12:34] CliffAgius commented on #44
Has this one stalled at all?  I was just about to work on it as I have just linked to this doc from the `ItemTappedEventArgsConverter` docs page and realised the current Docs repo doesn't have the page.

I have named the doc file in my link "event-to-command-behavior.md" to match the naming convention used in the rest of the docs.

[2022-04-14 12:37] bijington commented on #44
It doesn't look like it has had any updates for a month @IndianaGary are you still hoping to work on this?

[2022-04-14 20:08] #59 closed

[2022-04-14 23:28] IndianaGary commented on #44
I'm afraid that the window of opportunity for me to work on this closed several weeks ago. I haven't heard from anyone for quite a long time with information on how to proceed. I won't be available again until after my current project completes which won't be until at least the end of June.

Sorry for the confusion.
Gary

From: Shaun Lawrence ***@***.***>
Sent: Thursday, April 14, 2022 5:37 AM
To:

[2022-04-14 23:34] CliffAgius commented on #44
Hey @IndianaGary don't worry we all have busy times and projects to complete. I'm between projects at the moment so will pick this one up.

[2022-04-14 23:48] IndianaGary commented on #44
Thanks, Cliff! I really appreciate it! As soon as I free up again, I'll let Brandon know that I'm available.

Regards,
Gary

From: Clifford Agius ***@***.***>
Sent: Thursday, April 14, 2022 4:35 PM
To: CommunityToolkit/Maui ***@***.***>
Cc: Gary Lewis ***@***.***>; Mention ***@***.***>
Subject: Re: [CommunityToolkit/Maui] [Proposal] Event-To-Command Behavior (#44)

Hey @IndianaGary<https://nam12.s

[2022-04-15 13:15] #49 closed

[2022-04-15 13:17] #62 closed

[2022-04-15 18:10] jfversluis commented on #50
All done!

[2022-04-15 18:52] #50 closed

[2022-04-15 18:52] jfversluis commented on #50
Happy now?!

[2022-04-15 18:55] brminnick commented on #50
![follow-the-rules](https://user-images.githubusercontent.com/13558917/163616551-5d1a0fda-d910-4767-b517-692f51952bc1.gif)

[2022-04-15 20:19] #114 closed

[2022-04-15 20:41] #245 closed

[2022-04-15 20:43] #287 closed

[2022-04-15 20:43] #213 closed

[2022-04-15 20:44] #292 closed

[2022-04-16 03:25] pictos commented on #58
Hey, @Steven62f friendly asking if you still want to work on this feature. If you can't move forward with this there's no problem at all, we know that life happens (:

[2022-04-16 03:27] pictos commented on #61
Hey @CalvinAllen
friendly asking if you still want to work on this feature. If you can't move forward with this there's no problem at all, we know that life happens (:

[2022-04-18 23:43] pictos opened #368 "[Bug] PopupViewHandler uses PropertyMapper instead of IPropertyMapper"
This is something that we missed during the code review, perfect time to fix it (before our RC)

[2022-04-19 02:49] pictos opened #370 "[Bug] Popup doesn't respect the LayoutOptions"
### Description

When you try to set a custom position, at the bottom, to present the popup, on Windows, it doesn't respect your desire even if everything on debugging indicates that values are configured correctly.

### Stack Trace

### Link to Reproduction Sample

Our sample app in the page `PopupPositionPage`.

### Steps to Reproduce

1. Open our sample app;
2. Tap on flyout > Tap Views
3. Tap

[2022-04-19 04:38] RajuGadda commented on #23
the above solution is'nt working for my solution I am adding blazor web assembly reference to .NET Maui Blazor project
i have added this ```<UseMaui>true</UseMaui>```  and added target frameworks for all builds  in the Blazor Wasm project  , please help with a workaround

[2022-04-19 07:35] #368 closed

[2022-04-19 14:29] mjfara opened #371 "[Bug] Popup being dismissed when window is resized or loses focus"
### Description
Despite the following:
CanBeDismissedByTappingOutsideOfPopup="False"

The popup is still being dismissed when the window is resized or it loses focus.

### Steps to Reproduce

1. Create a popup, set CanBeDismissedByTappingOutsideOfPopup to false
2. Run app on Windows machine
3. Open popup
4. Resize window or click on another window to change focus

### Expected Behavior
Expect the

[2022-04-19 14:40] VladislavAntonyuk commented on #371
That is how the platform component (Flyout) works.

[2022-04-19 14:43] mjfara commented on #371
Then perhaps a popup isn't the control I need for my use case.
When using it as an edit form, the possibility of it being dismissed is not ideal.

Thanks.

[2022-04-19 14:47] VladislavAntonyuk commented on #371
@pictos can we use this platform control instead https://docs.microsoft.com/en-us/windows/winui/api/microsoft.ui.xaml.controls.primitives.popup?view=winui-3.0 ?

[2022-04-19 15:03] mjfara commented on #371
The control you linked is what I am used to on UWP, very similar functionality but would remain visible even on resize.
In the past I had to subscribe to the window resize event in order to re-locate the popup on resize, if that can be built in, even better :)

Flyout is nice though as it can appear above a control.

I think these have 2 different use cases.

[2022-04-19 15:08] VladislavAntonyuk commented on #371
yes, we try to get the best options of 2 controls and apply them in one popup. hope we won't need to create custom UserControl

[2022-04-19 18:40] VladislavAntonyuk commented on #353
@emorell96 the docs PR is merged.
I am closing the issue.

[2022-04-19 18:53] brminnick commented on #353
Just a thought for a future feature - maybe we could add an extension to `CommunityToolit.Maui` that adds the [single-instance code for Windows](https://docs.microsoft.com/dotnet/communitytoolkit/maui/alerts/snackbar#winui-specifics) easily into the Toolkit?

[code]

[2022-04-19 19:09] VladislavAntonyuk commented on #353
I would rather wait for the ToastNotificationManagerCompat features to migrate to ToastNotificationManager.
I agree with @emorell96 that SingleInstance may not satisfy all customers.

[2022-04-19 20:18] #54 closed

[2022-04-19 20:19] #51 closed

[2022-04-20 02:13] pictos commented on #371
I'm not sure... We need to check the APIs, from the docs that you linked looks like the Flyout is more powerful (?)

[2022-04-20 09:07] VladislavAntonyuk commented on #273
I think we can move it to completed

[2022-04-20 10:01] #273 closed

[2022-04-20 10:01] bijington commented on #273
thanks @VladislavAntonyuk msftbot seemed to want to keep it open for some reason :shrug:

[2022-04-20 10:34] #40 closed

[2022-04-20 14:59] #306 closed

[2022-04-20 15:08] coen22 opened #373 "[Proposal] Autofill Hints"
# Autofill Hints

* [x] Proposed
* [x] Prototype: Not Started
* [x] Implementation: Xamarin Version Exists and can be ported over.
  * [x] iOS Support
  * [x] Android Support
  * [ ] macOS Support (currently not working, requires fix in MAUI)
  * [ ] Windows Support
* [ ] Unit Tests: Not Started
* [ ] Sample: Not Started
* [ ] Documentation: Not Started

## Summary
[summary]: #summary

I would lik

[2022-04-20 16:21] brminnick commented on #373
Thanks @coen22! This sounds like a cool new feature that would be useful for .NET MAUI devs!

There are two changes I'd like to make to this Proposal:
- Use `Behavior` instead of `Effect`
- Leverage .NET MAUI Interfaces

### Use `Behavior` instead of `Effect`

Effects aren't recommended for .NET MAUI.

Long story short, they were a lightweight way to add functionality to Xamarin.Forms controls to

[2022-04-20 17:26] coen22 commented on #373
@brminnick thank you for your feedback. I'll create a discussion.

[2022-04-21 06:24] VladislavAntonyuk commented on #17
Because we use .NET MAUI I suppose we don't need it

[2022-04-21 08:49] #53 closed

[2022-04-21 08:49] #43 closed

[2022-04-21 08:49] #37 closed

[2022-04-21 08:49] #38 closed

[2022-04-21 08:49] #42 closed

[2022-04-21 08:49] #41 closed

[2022-04-21 21:16] #46 closed

[2022-04-22 09:53] CliffAgius commented on #44
Can I be assigned to this one please.

[2022-04-22 09:54] bijington commented on #44
Done. Thanks @CliffAgius

[2022-04-22 21:58] emorell96 opened #379 "[Bug] EnumToIntConverter throws an unhandled exception when the picker tries to convert -1"
### Description

The EnumToIntConverter doesn't mix well sometimes with Pickers in MAUI. Sometimes the Picker seems to try to convert -1, and it of course fails since the enum doesn't have that value.

I have created a gif showing the issue in the app I am developing. If I find some time I'll try to create a repo project, but in short the issue seems related to MAUI reloading a hidden Picker. And

[2022-04-22 22:04] brminnick commented on #379
Interesting! I wonder if the `Picker` defaults a value to `-1`?

[2022-04-22 22:07] emorell96 commented on #379
@brminnick yes it does
![image](https://user-images.githubusercontent.com/20151415/164802037-93866550-f475-4c35-b5dd-7176687f6469.png)

[2022-04-22 22:09] emorell96 commented on #379
From here: https://github.com/dotnet/maui/blob/8b56c0b1e703804631f280370fd34789ffa21b16/src/Controls/src/Core/Picker.cs#L32

[2022-04-23 16:36] CliffAgius commented on #67
Can I have the docs for this one assigned to me please. 💪

[2022-04-23 22:53] bijington commented on #379
I can't work out what the fix here would be. Obviously the Picker binding defaults to -1 but what should the converter return in this scenario?

An initial workaround would be to add a -1 value to the enum. It might even be the solution

[2022-04-24 02:10] emorell96 commented on #379
I'd say it should depend if the Enum defines a value for -1.

If it doesn't returning null seems to work okay in my app.

If it does then that's tricky and I don't know what would be a good enough general approach if there's even one (at least for this use case of EnumToInt converter).

[2022-04-24 05:56] VladislavAntonyuk commented on #379
It maybe used not only with Picker. So I suggest to add some kind of DefaultValue:

[code]

[2022-04-24 16:57] pictos commented on #379
I would extend this question... If the default value is `-1`, I believe that the control isn't fully initialized yet, so the MAUI framework shouldn't trigger the Converters, Triggers, etc. I'm curious in which scenarios this happens.

@emorell96
Could you attach a small repro?

[2022-04-24 18:34] VladislavAntonyuk commented on #379
I had similar issue with ListView, it happen when you unselect the row.

[2022-04-24 19:06] bijington commented on #379
There is a link to a repro in the original post

[2022-04-25 10:21] intellimedhu opened #382 "[Bug] Build error with SelectedItemEventArgsConverter"
### Description

I have a .NET MAUI Class Library with a MAUI ContentPage.
I'm trying to use the EventToCommandBehavior behaviour, but I'm getting a build error.

### Stack Trace

Error	XFC0000	Cannot resolve type "http://schemas.microsoft.com/dotnet/2022/maui/toolkit:mct:SelectedItemEventArgsConverter".

### Basic Information

- Version with issue: RC1
- Last known good version: -
- IDE: VS 2022

[2022-04-25 11:56] bijington commented on #382
Thanks for the report. Just to confirm have you confirmed your app builder to call `UseMauiCommunityToolkit` as per this:

https://github.com/CommunityToolkit/Maui#getting-started

[2022-04-25 12:10] intellimedhu commented on #382
In the MAUI App project (where this MAUI Class Library is referenced), I added the UseMauiCommunityToolkit line.

[2022-04-25 13:23] CliffAgius commented on #48
Happy to pick up the docs for this one.

I notice this wasn't in XCT or at least the docs anyway.

[2022-04-25 13:26] bijington commented on #48
Awesome thanks @CliffAgius. It's all yours! Let me know if you have any questions on it

[2022-04-25 13:33] CliffAgius commented on #48
My only point is that it's difficult to see what has been picked up for docs as this repo has things still open which I know are done as I can see the Docs in the Docs Repo.

Not sure if there is a better way to link the two so we know what needs doing maybe having issues over on the Docs Repo so we know what is left to be done for example.

[2022-04-25 13:45] brminnick commented on #48
There are quite a few docs missing from Xamarin.CommunityToolkit. I took inventory in December, noting all of the features missing documentation, and `ProgressBarAnimationBehavior` is indeed missing:
https://github.com/xamarin/XamarinCommunityToolkit/wiki/Features-List

My goal for the .NET MAUI Community Toolkit is to avoid that by improving the [New Feature Submission process](https://github.com

[2022-04-25 13:45] bijington commented on #48
@CliffAgius oh really? I can take a look at tidy up any issues if they are still open. The general approach will change once we hit GA. We had to wait for the docs repo to be set up so allowed PRs to be merged without docs however going forward a PR will require the docs so they can be merged at the same time

[2022-04-25 13:51] #44 closed

[2022-04-25 13:51] #68 closed

[2022-04-25 13:52] bijington commented on #67
Thanks again @CliffAgius 3 Proposals closed 😄

[2022-04-25 14:08] bijington commented on #379
Perhaps we allow the user to return the default value of their specific enum if the incoming value is outside of the acceptable range of values for that enum. Similar to @VladislavAntonyuk s idea but instead of supplying the `DefaultValue` could the user just state that they wish to `ReturnDefaultValueWhenOutsideOfEnumBounds` (far better name required).

I don't like the idea of returning `null` f

[2022-04-25 14:23] #88 closed

[2022-04-25 17:36] VladislavAntonyuk commented on #379
@bijington Do you suggest to return -1 if ReturnDefaultValueWhenOutsideOfEnumBounds is true?

[2022-04-25 17:47] emorell96 commented on #379
The thing that worries me is that this happens only when MAUI is a weird state when the Picker has not loaded, I think. It happened when I switched between tabs on my app.

So what worries me is say that you have an initial value for the enum that you are trying to display in the picker, and then this weird state happens, the binding works and gives the default value to the view model value bound

[2022-04-25 19:08] brminnick commented on #379
That's a good point! It could be a bug in .NET MAUI that we've uncovered.

[2022-04-25 19:42] pictos commented on #379
@emorell96
Yeah... The behavior that you describes, to me, looks like the `SelectedItem` should be a `CommandMapper` and it's implemented as a `Mapper`... We can check with the team about it

[2022-04-25 19:46] bijington commented on #379
@VladislavAntonyuk no I was actually wondering whether we could return the effective value of `default` for the users enum definition, I am not sure if that is feasible/possible though.

I also then wondered if `Binding.DoNothing` is something we could return to do as the name suggests. I have asked this in the community Discord to see if anyone has any knowledge of it's correct use https://discor

[2022-04-26 00:38] pictos commented on #17
@VladislavAntonyuk, the idea is to make sure that users that migrate their apps to Maui, don't forget to remove the reference. This also extends to XCT.compat.
I'll there's a msbuild that can do that or we can use some analyzer, maybe inside our source generator?

[2022-04-26 06:09] VladislavAntonyuk commented on #17
Can the Maui analyzer do that for us? As XCT uses XF, msbuild should return error.
as for the MauiCompat, we should not exclude it right now, because it contains features like CameraView and MediaElement which are not available in MCT

[2022-04-27 17:21] #108 closed

[2022-04-29 09:02] Giuseppetm opened #388 "[Bug] Popup height doesn't resize based on content"
### Description

It appears that the popup has a fixed height regardless of the content that is placed inside it.
The yellow part indicates the space occupied by the popup; regardless of the content it will always have that fixed height.

![image](https://user-images.githubusercontent.com/52317197/165914296-02c39c1a-91d9-4006-b0f7-4312c293ece6.png)

### Steps to Reproduce

1. Create a popup;
2. Pl

[2022-04-29 10:59] CliffAgius commented on #48
Before I write the docs for this one I wanted to check as there is already a C# method for Animating the progress bar which is here:

https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/progressbar#animate-a-progressbar

So I am wondering should we highlight this in the MCT docs that instead of using the C# & C# Mark-up when doing it from C# land it's better to use the direct bui

[2022-04-29 11:30] bijington commented on #48
I think there is still value is showing the C# and C# Markup examples as we currently do. The `ProgressTo` method only works if you have direct access to the ProgressBar (basically in code behind). Our examples typically still make use of the MVVM architecture where we bind. In this scenario a developer would still want to use the behavior so they can trigger it from their View Model.

By all mean

[2022-04-29 13:26] pictos commented on #388
@Giuseppetm
Could you attach a small repro?

[2022-04-29 14:55] Giuseppetm commented on #388
@pictos 👍🏻
[PopupTest.zip](https://github.com/CommunityToolkit/Maui/files/8591672/PopupTest.zip)

[2022-04-29 15:56] CliffAgius commented on #48
Ok sounds good I will add it into the Doc anyway just to highlight it as you suggest.

[2022-04-29 16:19] eamonn-alphin commented on #121
How's this coming along? I've been trying to roll my own tab view but it feels like it's held together with popsicle sticks and glue...

[2022-04-29 16:31] bijington commented on #48
Awesome thanks @CliffAgius we really appreciate the effort. I hope you get to enjoy some good bank holiday too 😃

[2022-04-29 16:35] bijington commented on #121
The description shows that this has not been started yet. This sadly won't make it in to our first official release because we are in a feature freeze ready so it won't be ready any time soon.

We would love your help writing the code! The Community Toolkit contains features for, and created by, the .NET MAUI Community. We are all volunteers, contributing code in our spare time on nights and weeke

[2022-04-29 16:51] CliffAgius commented on #48
I'm heading to Seattle so lots of time to write some docs. 😜

[2022-04-29 20:18] bijington commented on #48
Or sleep or watch a movie or two. Definitely appreciate the effort! Safe flights!

[2022-05-01 11:37] VladislavAntonyuk commented on #382
@intellimedhu Could you please attach a small repro?

[2022-05-02 19:50] brminnick commented on #106
Closing in favor of duplicate proposal #259

[2022-05-02 20:20] #106 closed

[2022-05-02 23:57] dseph opened #395 "[Bug]"
### Description

I downloaded VS 2022 Pre and updated and downloaded the Community Toolkit and tried to build and got an error due to the code generator not being able to write to a folder.  Other files were written to the folder without issue.

Error code: CS0016

This is the error message:

Description: Could not write to output file 'C:\Maui\Maui-main\Maui-main\src\CommunityToolkit.Maui.UnitTes

[2022-05-03 00:02] brminnick commented on #395
Hi @dseph!

This is a bug in Visual Studio on Windows.

See this duplicate Issue for the solution:  https://github.com/CommunityToolkit/Maui/issues/340

[2022-05-03 00:02] #395 closed

[2022-05-03 05:12] intellimedhu commented on #382
I managed build it. The problem was, that I added UseMauiCommunityToolkit line in the MAUI App project, not in the MAUI Class Library, where the Community Toolkit is used.

[2022-05-03 06:57] VladislavAntonyuk commented on #382
@intellimedhu could you please close the issue if it is fixed?

[2022-05-03 07:36] #382 closed

[2022-05-03 08:56] CliffAgius commented on #48
Doc's complete awaiting checks etc.

https://github.com/MicrosoftDocs/CommunityToolkit/pull/84

[2022-05-03 09:03] CliffAgius commented on #77
Happy to have a go at the docs for this one if someone can assign me please.

[2022-05-03 09:27] bijington commented on #77
Done thanks @CliffAgius

[2022-05-03 09:36] bijington commented on #48
Thanks @CliffAgius

[2022-05-03 09:36] #48 closed

[2022-05-04 00:42] VladislavAntonyuk commented on #113
https://github.com/dotnet/maui/issues/6764

[2022-05-04 07:07] #122 closed

[2022-05-05 05:33] angelru commented on #99
do you know when it will be?

[2022-05-05 06:10] bijington commented on #99
I wonder is this a good candidate for the dotnet toolkit?

https://github.com/CommunityToolkit/dotnet

@brminnick what do you think?

[2022-05-05 06:28] brminnick commented on #99
Agreed.

There are efforts being made internally to still sneak it into .NET 7.

But if it were to be added to a Community Toolkit, then https://github.com/CommunityToolkit/dotnet would be the best toolkit for it.

[2022-05-06 17:26] tutkus commented on #370
Hi @pictos, I can help with the issue. Please assign to me and I will be working on it.

[2022-05-06 17:27] pictos commented on #370
@tutkus you are my hero! Go for it. Let me know if you need anything ❣️

[2022-05-07 20:52] tutkus commented on #370
@pictos , I think, I found a root cause ;-)
IMO problem is that currently there is no reference position passed to Show and it seems like it is needed to propely calculate the location on the screen where the popup should be displayed. Eg. when the popup is shown with right mouse clink, its layout seems to work properly around the current mouse location.

So, The way I would like to fix this is in

[2022-05-08 05:28] Zerorigin commented on #109
When will the v1.1.0 milestone be released of CommunityToolkit.MAUI?
Expander is very useful, hope to migrate it soon.

[2022-05-08 07:47] VladislavAntonyuk commented on #109
July or later

[2022-05-09 06:45] tutkus commented on #370
Hi @pictos ,

The fix which I did,  works. I push it here: https://github.com/tutkus/MauiCommunityToolkit/blob/370/src/CommunityToolkit.Maui.Core/Views/Popup/MauiPopup.windows.cs

If it used to work before the marge than it might be the issue is in MAUI itself. Nevertheless pls check my commit and if you are ok then I can create a PR.

[2022-05-09 16:04] bijington commented on #71
Yes please, that would be a great help.

[2022-05-09 16:05] bijington commented on #71
@VladislavAntonyuk are you working on this or can I assign to @russnash ?

[2022-05-09 22:50] pictos commented on #370
@tutkus I'll find some time to take a look at it tomorrow. Thank you for that❣️

[2022-05-09 23:28] pictos commented on #388
Hey @Giuseppetm, I tried on my end and I couldn't reproduce the same behavior. To me it looks quite good, what do you think?

Using `HorizontalStackLayout`
![image](https://user-images.githubusercontent.com/20712372/167514539-96407848-ac0c-49b7-945e-b1142ba1dcc1.png)

using `StackLayout + Orientation = Horizontal`
![image](https://user-images.githubusercontent.com/20712372/167514603-a8018e8d-733a-

[2022-05-10 09:44] DENLN commented on #388
![image](https://user-images.githubusercontent.com/4215311/167599244-c4baa49d-3f37-4b28-924f-13c2db4fd9b1.png)

me the same behavior

[2022-05-10 11:07] #58 closed

[2022-05-10 21:16] Giuseppetm commented on #388
It's the same behaviour, as you can see the height of the popup doesn't resize based on its content.

I will let you know if it fixes it.

[2022-05-10 22:15] pictos commented on #388
Oh, my bad, I just saw the buttons miss-aligned and I thought the main issue was a wrong measure on that layout.

[2022-05-11 07:08] Giuseppetm commented on #388
MAUI RC3 didn't solve this.

[2022-05-11 16:32] cargnel opened #402 "[Bug] Edit And Continue doesn't work as soon as the CommunityToolkit is installed"
### Description

Edit And Continue doesn't work as soon as the CommunityToolkit is installed

### Stack Trace

N/A

### Link to Reproduction Sample

N/A

### Steps to Reproduce

1. Open Visual Studio, create a new MauiApp.
2. Hello World with "click me" button is created.
3. Clicking the button increase the counter and the button text updates accordingly.
4. Under MainPage.xaml.cs, change
`count++

[2022-05-11 16:41] pictos commented on #402
Not sure if this is an issue with us, since we don't do anything fancy on the tooling.
@brminnick @jfversluis can you ask someone at the tooling team?

[2022-05-11 17:50] bijington commented on #402
Oh I wonder... do source generators play nicely with .NET Hot Reload?

[2022-05-11 18:08] cargnel commented on #402
I've just tried with Newtonsoft.Json 13.0.1 (without CommunityToolkit ) and EnC works

[2022-05-11 18:08] cargnel commented on #402
Yes

[2022-05-11 20:26] pictos commented on #402
I mean, with another package that targets .NET MAUI, like the CommunityToolkit does

[2022-05-11 20:31] brminnick commented on #402
Try reproducing it with [MR.Gestures v3.0.0-pre1](https://www.nuget.org/packages/MR.Gestures/3.0.0-pre1)

[2022-05-11 21:43] cargnel commented on #402
I tried the [GestureSample](https://github.com/MichaelRumpler/GestureSample) as is and EnC works:
Layout -> Grid Sample (GridXaml.xml) tapping twice on the same cell (TicTacToeViewModel.cs, 50) shows "Field {0}/{1} is already filled.". I changed it to "AAAA Field {0}/{1} is already filled.", pressed "hot reload" and the message is shown es expected.

[2022-05-12 14:56] mcanyucel opened #403 "[Bug] Error in installing the package via NuGet"
### Description

When trying to install the toolkit using NuGet, I get the NU1605 exception and the package installation fails.

### Stack Trace

[code]

### Steps to Reproduce

1. Tools>Nuget Package Manager>Manage NugetPackages for Solution
2. Try to intall Community.Toolkit.Maui

### Expected Behavior

Community toolkit to be installed.

### Actual Behavior

Community toolkit failed to install.

[2022-05-12 16:07] bijington commented on #403
Looking at the NuGet Packages under the Basic information section you have provided you are using rc2 for .NET MAUI. You need to upgrade to RC3 in order to use the latest toolkit version.

[2022-05-12 16:14] brminnick commented on #403
You also note that you have the following NuGet packages installed:
- Microsoft.Maui.Dependencies 6.0.300-rc.2.5513
- Microsoft.Maui.Extensions 6.0.300-rc.2.5513

This is not the correct way to use .NET MAUI.

I highly recommend removing these NuGet packages from your app; this is the root cause of your error.

[2022-05-12 16:18] bijington commented on #403
And thank you for providing the information requested it really helps us 🙂

[2022-05-12 17:36] mcanyucel commented on #403
Wow, thanks for that fast and extensive responses :)

[code]

That's interesting. To be fair I have worked with WPF in .NET 4.7 for some time but I am quite new to .NET 6 and especially MAUI. And honestly MAUI's documentation is not on par with WPF or any other framework. Obviously this is very normal for a framework which is still in preview, but still it causes a lot of time to find out things.

[2022-05-13 07:35] mcanyucel commented on #403
I have updated the MAUI using cli but I still cannot remove these packages from NuGet. Are they supposed to be stay in there forever? Also now I cannot build the project with a bunch of errors in the format 👍🏻

[code]

Any ideas how to solve this problem :/ I updated the MAUI workload in the connected Mac as well.

[2022-05-13 07:53] mcanyucel commented on #403
So for testing I initialized a new MAUI app from within VS with the updated workload. Now I was able to install the community toolkit. However, the packages Microsoft.Maui.Dependencies (6.0.400-rc.3.5667) and Microsoft.Maui.Extensions (6.0.400-rc.3.5667) are again listed in the NuGet Installed Packages list. The uninstall button is also not enabled so they cannot be removed.
Is this the expected b

[2022-05-13 07:56] #403 closed

[2022-05-13 08:01] bijington commented on #403
@mcanyucel I noticed you closed this issue down but for reference a .NET MAUI application will show those packages (`Microsoft.Maui.Dependencies` and `Microsoft.Maui.Extensions`) but are not included in the csproj file. These dependencies are managed instead through this line in your csproj file:

[code]

[2022-05-14 20:15] pictos commented on #388
@Giuseppetm, this is awkward because this isn't a bug it's how I implemented it. So I changed the label to `enhancement`.

So let me explain how it works so far. As you can see in this part of the code

https://github.com/CommunityToolkit/Maui/blob/2af75d3e6eb522d3b17ffc7cd2d5fef005ca885a/src/CommunityToolkit.Maui.Core/Views/Popup/PopupExtensions.android.cs#L109-L122

If we can't find a size grant

[2022-05-14 22:58] aherrick commented on #120
I'm doing it with a slightly modified version if it helps someone in the future!

[code]

[2022-05-16 06:08] bijington commented on #120
@aherrick Thank you for the input.

Do you currently have an implementation in your own codebase? If so is this something you would be willing to contribute to the toolkit?

[2022-05-17 14:51] anpin opened #409 "[Bug] TextColorToGenerator produces error for generic views"
### Description

After adding `CommunityToolkit.Maui` to a project with generic view I'm no longer able to build it with following error

### Stack Trace

/Users/pa/GenericViewBug/CommunityToolkit.Maui.SourceGenerators/CommunityToolkit.Maui.SourceGenerators.Generators.TextColorToGenerator/EnumPickerTextColorTo_e8fe61f7-6659-4d2d-8617-dff3e09df8e7.g.shared.cs(23,62): error CS0305: Using the generic

[2022-05-17 19:42] bijington opened #410 "[Bug] Unable to use MultiConverter with non matching targetTypes"
### Description

It appears impossible to bind a `MultiConverter` containing at least one converter that does not match the target type of the property it is bound to. It may be easier to explain through an example using the sample page:

[code]

The second Label here has its `IsVisible` property bound to the result of the converters. This will throw an exception due to the check on this line: htt

[2022-05-17 19:50] #61 closed

[2022-05-18 10:26] #74 closed

[2022-05-18 10:26] #72 closed

[2022-05-18 10:27] #55 closed

[2022-05-18 13:27] RichardMarsh opened #411 "[Bug] Extention method TextColorTo() generates warnings"
### Description

The TextColorTo extention methods are being created via SourceGenerators. These source generators however create CS0436 warnings when the CommunityToolkit is used in a library.

C:\Users\R\source\repos\CommunityToolkitSample\CommunityToolkitSample.App\CommunityToolkit.Maui.SourceGenerators\CommunityToolkit.Maui.SourceGenerators.Generators.TextColorToGenerator\LabelTextColorTo_71aa

[2022-05-18 18:51] brminnick commented on #410
`MultiConverter` is passing in its `Type targetType` to each converter. The problem is that the final `targetType` for `MultiConverter` doesn't always match the `targetType` for the individual converter.

The solution to the bug would be to determine the `targetType` for each individual converter and pass that in for its `targetType` parameter.

### Workaround
One workaround would be to pass in `t

[2022-05-18 18:57] bijington commented on #410
You beat me to that comment 😄

It is true that it would 'work' as the `ToString` is a bit of a catch all scenario. I suspect we could determine what `targetType` is via Reflection but that doesn't feel like the solution

[2022-05-18 22:08] CliffAgius commented on #77
Hey @bijington sorry been busy with NDCLondon then flying and now DevSUM Stockholm. I made a start just not had time to finish but will make sure it's done by next week. I get home Friday and then I'm free been a crazy 2 weeks.

[2022-05-18 22:10] bijington commented on #77
No problem at all! I am happy to finish off whatever you have if you are too busy, please don't feel you have to finish it.

[2022-05-18 22:51] brminnick commented on #410
Hey Shaun! I took at stab at fixing this without the [`string` targetType workaround](https://github.com/CommunityToolkit/Maui/issues/410#issuecomment-1130387621).

I've opened #412 as a draft PR to demonstrate one way that I came up with to solve it.

Let me know what you think!

[2022-05-19 04:12] nicksilverstein opened #413 "[Bug] What Happened to the MediaElement?"
What Happened to the MediaElement? Is it there? How do I access it? I need it for a project.

[2022-05-19 05:41] VladislavAntonyuk commented on #413
You can track all progress here: https://github.com/CommunityToolkit/Maui/issues/113

[2022-05-19 05:44] #413 closed

[2022-05-19 08:06] #89 closed

[2022-05-19 08:06] #211 closed

[2022-05-19 08:07] #36 closed

[2022-05-19 12:41] bakerhillpins opened #414 "Building the Toolkit Sample project requires Long Path Support to be enabled."
### Description

One cannot build the Toolkit Sample project without [Enabling Long Path support](https://docs.microsoft.com/en-us/windows/win32/fileio/maximum-file-path-limitation?tabs=cmd#enable-long-paths-in-windows-10-version-1607-and-later) in windows. It appears that the Source generators are using some sort of mixed Project/TypeName scheme to store output files and avoid name collisions.

I

[2022-05-19 13:54] bijington commented on #414
@bakerhillpins thanks for the report. Sadly this is a limitation of Windows as you have pointed out. I really hope the path limit will disappear entirely at some point.

We do currently have a discussion here #399 that helps consumers learn how to solve the issue but it does keep cropping up. I am going to close this for now as there isn't anything we can action.

[2022-05-19 13:54] #414 closed

[2022-05-19 14:40] bakerhillpins commented on #414
The discussion you mention is clearly NOT enough.

I'm sorry but that's just not true. It maybe something that you don't want to do but there are clearly things you can do.  The absolute bear minimum would be to edit the root readme.md

Disappointing to say the least.

[2022-05-19 14:51] bijington commented on #414
Sorry I see my message wasn't very clear. I meant there wasn't anything to action in terms of a code change. The linked discussion already suggests we will look at adding the information to the readme file and I would like to keep the information in one place. I have some other thoughts now so I'll place them on the discussion.

[2022-05-19 15:06] bakerhillpins commented on #414
Disagree, You could change the way the generators layout files on disk.  I provided one such option using .NET attributes that actually embed the generator info in the source which would remove the need to use the directory structure to do so.

That being said, I am not fully aware of why those structural decisions were made but I've seen lots of generator implementations where that level of verbo

[2022-05-19 15:07] pictos commented on #414
@bakerhillpins you can also comment those lines in your `csproj` to not copy those generated files to the obj folder
https://github.com/CommunityToolkit/Maui/blob/dfe36fc475d3f5a5ebb06b6d8399032bc024b46e/samples/CommunityToolkit.Maui.Sample/CommunityToolkit.Maui.Sample.csproj#L23-L24

This should avoid this long path error to show up

[2022-05-19 15:16] bakerhillpins commented on #414
@pictos  Agreed, I could do that.  I'd say that the greater issue here is that there is a basic assumption (well founded I'd argue) that users of the sample projects should not have to edit the source code to get it to work.  I'd also go so far as to say they shouldn't have to alter the operating system configuration to do so.  Apparently I'm in the minority.

[2022-05-19 15:20] bakerhillpins commented on #414
I don't currently copy my generated files to an output directory. They are available to be viewed if you expand the Analyzers in Solution explorer:

![image](https://user-images.githubusercontent.com/5980709/169333708-d4ff6343-446d-4174-8c52-f8bbadcdb9ed.png)

[2022-05-19 15:30] bijington commented on #414
@bakerhillpins having read your error message again I can see that the issue is in one of the samples dependencies `CommunityToolkit.Mvvm.SourceGenerators` and not actually our source generators.

That toolkit is over at: https://github.com/CommunityToolkit/dotnet

This information may be beneficial to them.

[2022-05-19 15:31] pictos commented on #414
@bijington will not affect any functionality around VS and generated code. That configuration is there to workaround some issues, at the time that we implemented the SGs, on VS Windows and Mac.

@bakerhillpins yes, you're right, but at the time that we did the SG that view was broken and on VSMac you can't see the generated files inside the IDE. We'll disable that csproj configuration by default t

[2022-05-19 15:38] bakerhillpins commented on #414
@bijington  Thank you for pointing that out. I failed to dig deep enough into the output to realize that it was not the source generators included in this project.

@pictos  I see the dilemma you face. While I don't have any direct experience with VS for Mac I do now understand why this path was chosen.  Thanks for that!

[2022-05-20 02:16] davidortinau opened #416 "[Bug] Build error on Windows"
![image](https://user-images.githubusercontent.com/41873/169434586-cf051046-c92c-4f16-b673-0f0f6439e8a2.png)

### Description

I'm getting this WinAppSDK build error on multiple projects after I add CommunityToolkit.Maui to a project and build it for Windows. The only thing I'm trying to use is the bool to object converter.

### Stack Trace

[code]

[code]

### Link to Reproduction Sample

https:/

[2022-05-20 04:13] pictos commented on #416
@davidortinau if you try it using the public version of .NET MAUI does it compiles?
I'm asking because we always need to rebuild the project on top of a specific .NET MAUI version

[2022-05-20 06:32] VladislavAntonyuk commented on #416
It's expected.
We have this issue with each new .NET MAUI release: https://github.com/CommunityToolkit/Maui/issues/328

[2022-05-20 08:23] #388 closed

[2022-05-20 08:31] VladislavAntonyuk commented on #371
Flyout works great until you switch to another window. An example of Flyout is Windows 11 Widgets:
![image](https://user-images.githubusercontent.com/33021114/169487943-1ec02ab4-6ffc-474c-aaba-35b6e822d074.png)
This window is not resizable and automatically hides when it loses focus.

[2022-05-20 17:59] TonyK-FmGroup opened #418 "[Bug] Samples will not build on windows"
### Description

Trying to build the samples on windowd 10 returns the following errors:

Error	CS0016	Could not write to output file 'C:\repos\Maui\samples\CommunityToolkit.Maui.Sample\obj\GeneratedFiles\CommunityToolkit.Mvvm.SourceGenerators\CommunityToolkit.Mvvm.SourceGenerators.ObservablePropertyGenerator\CommunityToolkit.Maui.Sample.ViewModels.Converters.MathExpressionConverterViewModel.cs' -

[2022-05-20 22:25] IeuanWalker commented on #418
https://github.com/CommunityToolkit/Maui/discussions/399

[2022-05-20 22:51] IndianaGary commented on #109
I would very much like to see this implemented. I did try using it on XF but ran into issues trying to use it inside a CollectionView. The Maui  implementation needs to be usable in CollectionView. It also needs to be nestable; that is, it should be possible to place an Expander inside an Expander. I did find the XF implementation complex and would prefer the Maui implementation to be simplified.

[2022-05-20 23:21] pictos commented on #109
@IndianaGary do you have some API spec in mind?

[2022-05-21 05:40] IndianaGary commented on #109
Nothing specific atm. The XF implementation wasn't bad, it just didn't always work and had some limitations, especially nested Expanders, which is a very common item on the wish list. I seem to recall that there were issue trying to use in in ListView and/or CollectionView. Let me give it some more thought.

From: Pedro Jesus ***@***.***>
Sent: Friday, May 20, 2022 4:21 PM
To: CommunityToolkit/Mau

[2022-05-21 21:33] #418 closed

[2022-05-22 18:45] bijington commented on #77
@CliffAgius I hope you don't mind but I went ahead and created some docs for this proposal, I wanted to have a complete list ready for when the announcement goes live. Really sorry if it results in any wasted effort on your part.

It can be found at: https://github.com/MicrosoftDocs/CommunityToolkit/pull/108

[2022-05-22 19:18] CliffAgius commented on #77
Hey @bijington don't worry I had it all done except for the C# Mark code section. Been a crazy few weeks with NDC, DevSUM conferences straight into family parties this weekend.

Sorry it wasn't done before that's totally on me for picking it up going into 2 conferences I should know better.

Thanks for doing it in my place and I'll try harder next time.

What is the plan now? To hold for a bit whi

[2022-05-22 19:21] pictos commented on #77
@CliffAgius feel free to review the docs PR, maybe we can add something that you did there (?)

Basically, we will just work on bug fixes until GA. After that, we will move back to adding new features. Is there some `issue` that you would like to work on?

[2022-05-22 20:28] pictos commented on #411
@RichardMarsh I tried your sample attached and everything runs like a charm as you can see in the screenshot below
![image](https://user-images.githubusercontent.com/20712372/169714497-42a5459d-1811-43a1-b078-44747d25715e.png)

Also, I noticed some wrong configs on your `csproj`.

[2022-05-23 06:04] RichardMarsh commented on #411
@pictos Thanks for taking the time to look into this.

Not sure why you aren't getting warnings, but here's a screenshot

![image](https://user-images.githubusercontent.com/54434905/169753575-24cc2511-b6a4-4356-965a-683578e634d1.png)

Also, you said there's some config issues? I just created the default projects and added CommunityToolkit. What was wrong with the configs?

[2022-05-23 09:52] VladislavAntonyuk commented on #411
I was able to reproduce it:
![image](https://user-images.githubusercontent.com/33021114/169776765-3f53e06e-d268-455e-a76c-4bd2da75fe74.png)
this happens because SourceGenerator files were generated for both the app and library.
To fix the issue replace the PackageReference with:
[code]

[2022-05-23 12:45] IndexOutOfLimit opened #421 "Popup closing on Maximize/Minimize window"
### Description

Community toolkit Popup closing on maximize/minimize the window on Windows. Also the button which was responsible for opening the popup not working after that.
### Stack Trace

### Link to Reproduction Sample

### Steps to Reproduce

1. Open Popup on clicking a Button. There will be overlay but Windows Maximize/Minimize/Close button will be accesible
2. Try to Maximize/Minimize th

[2022-05-23 13:26] #421 closed

[2022-05-23 19:52] Orgbrat commented on #416
@VladislavAntonyu @jfversluis @brminnick  Are we working on the fix for this? I opened a Visual Studio problem before I realized this was a toolkit issue caused by a MAUI update. Keep us updated as we are broken till we get a fix.

[2022-05-23 19:58] VladislavAntonyuk commented on #416
as for the GA, we may release it very soon,
as for the MAUI 6.0.400-preview.1.5823 (main branch) we haven't discussed it, we plan to support a stable version of .NET MAUI after GA

[2022-05-23 20:25] Orgbrat commented on #416
@VladislavAntonyuk  So since VS2022 17.3.0 Preview 1.1 is MAUI workload GA Build, you are going to release a GA CommunityToolkit.Maui pretty soon so we can build again?

[2022-05-23 20:35] VladislavAntonyuk commented on #416
yes, exactly as we did for previews and rc builds.

[2022-05-23 20:35] Orgbrat commented on #416
Thank you and have a great day. You guys are the best...

[2022-05-24 01:28] #410 closed

[2022-05-24 01:34] brminnick opened #424 "[CI/CD] Pin .NET MAUI Version"
# [CI/CD] Pin .NET MAUI Version

In the CI pipeline, let's see if it's possible to pin the version of .NET MAUI to today's GA version, [.NET MAUI v6.0.302](https://www.nuget.org/packages/Microsoft.Maui.Dependencies/6.0.312).

Similar to how we keep the [Xamarin.CommunityToolkit NuGet Package](https://www.nuget.org/packages/Xamarin.CommunityToolkit) pinned to a lower version of Xamarin.Forms than t

[2022-05-24 09:44] RichardMarsh commented on #411
[code]

Thanks for this suggestion. However the build warnings will reappear if I then add the CommunityToolkit.Maui package to my App ,if for some reason my app needs to use the CommunityToolkit directly.

[2022-05-24 12:12] VladislavAntonyuk commented on #416
@davidortinau we have released version 1.0.0
Does it work with .NET MAUI main branch?